@import "variables.less";

/*自定义的css*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media screen and (min-width: @screen-lg-min) {
  //1200

}

@media screen and (min-width: @screen-md-min) {

}

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {

  .nothing-navbar-brand {
    padding: 20px 20px;
    height: 70px;
  }

  //992
  .nothing-navbar-menu {
    margin-top: 20px;
    font-size: 16px;
  }

  .nothing-navbar-info {
    > li {
      a {
        padding-top: 10px;
        color: #007fab;
        font-size: 10px;
      }
    }
  }
}

//手机展示开始。。。
@media screen and (max-width: @screen-sm-max) {
  .nothing-navbar-button {
    float: left;
    margin-left: 15px;
  }

  .nothing-navbar-brand {
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: @screen-xs-min) and (max-width: @screen-sm-min) {
  //480 - 768

}






