@import "variables.less";
@import "base.less";
@import "header.less";
@import "footer.less";
//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {

    //二级菜单
    .product-detail-tabBar {
        //height: 64px;
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            //height: 64px;
            padding: 0 240px;
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                .active {
                    a {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    color: #a4c7de;
                }
                li {
                    //width: 90px;
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    //bannerImg
    .subscriptionCenter-banner {
        padding: 0;
        margin-bottom: 0;
        //height: 280px;
        overflow: hidden;
        #myCarousel {
            height: 280px;
            overflow: hidden;
            img {
                width: 100%;
                height: 280px;
            }
            .carousel-indicators {
                left: 90%;
                bottom: 10px;
                li {
                    background: #fff;
                }
                .active {
                    width: 24px;
                    height: 12px;
                    border-radius: 6px;
                }
            }
        }
    }

    //
    .chipTest {
        color: #000000;
        font-size: 30px;
        max-width: 1280px;
        margin: 0 auto;
        //margin-bottom:0;
        padding: 0;
    }

    .nothing-chip-list {
        max-width: 1280px;
        margin: 0 auto;
        .account {
            margin: 0;
        }
        .content-left {
            padding-left: 10px;
        }
        .chip-list {
            margin-top: 30px;
            .row {
                margin: 0 15px;
            }
            .new-item-padding {
                padding-left: 20px;
            }
            .new-item {
                .item-lf {
                    .imgDetail {
                        .wrap-img {
                            position: relative;
                            border: 1px solid @split-color;
                            border-radius: 1px;
                            &:hover {
                                .item-info {
                                    display: inherit;
                                }
                            }
                            .item-info {
                                display: none;
                                position: absolute;
                                padding: 32px 20px;
                                width: 100%;
                                height: 220px;
                                left: 0;
                                bottom: 0;
                                background: rgba(0, 0, 0, 0.67);
                                @media (max-width: 1000px) {
                                    padding: 25px 10px;
                                    height: auto;
                                }
                                p {
                                    color: #fff;
                                    font-family: 'CiscoSans-ExtraLight';
                                }
                                .item-info-content {
                                    font-size: 16px;
                                    font-weight: 300;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 30px;
                                    letter-spacing: 0;
                                    @media (max-width: 1000px) {
                                        line-height: 25px;
                                    }
                                }
                                .item-info-download {
                                    position: absolute;
                                    right: 20px;
                                    bottom: 32px;
                                    font-size: 16px;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 0px;
                                    letter-spacing: 0px;
                                    color: #71b6e5;
                                    @media (max-width: 1000px) {
                                        bottom: 0;
                                    }
                                    img {
                                        width: 27px;
                                        height: 27px;
                                        margin-right: 8px;
                                    }
                                    a {
                                        color: #71b6e5;
                                        &:hover {
                                            color: #71b6e5;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                        img {
                            border: 0;
                        }
                    }
                    .titleDetail {
                        font-size: 20px;
                        color: #666666;
                        margin: 40px 0 75px 0;
                        font-family: CiscoSans-ExtraLight;
                    }
                }
            }
        }
        .news-sidebar {
            .img-bg-item {
                .img-bg {
                    display: flex;
                    margin-top: 30px;
                    height: 250px;
                    border: 1px solid #fff;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-image: url("../images/chipTest/bg2.png");
                    .img-left {
                        display: inline-block;
                        margin-top: 100px;
                        img {
                            width: 100px;
                            height: 45px;
                            margin-left: 45px;
                        }
                        .img-left-botttom {
                            margin-top: 30px;
                        }
                    }
                    .img-right {
                        display: inline-block;
                        margin: 100px 0 0 25px;
                        img {
                            width: 110px;
                            height: 130px;
                        }
                    }
                }
            }
            .sidebar-item {
                margin-top: 30px;
                padding: 0 10px;
                background-color: #ffffff;
                border: solid 1px #e5e5e5;
                .item-head {
                    border-bottom: 1px solid #d2d2d2;
                    > h6 {
                        display: block;
                        padding-left: 10px;
                        border-left: 3px solid #2f88c4;
                        font-size: 20px;
                        color: #404040;
                    }
                }
                .item-detail {
                    .detail-tp {
                        position: relative;
                        display: flex;
                        height: 60px;
                        .img-wrap {
                            border-radius: 5px;
                            > img {
                                margin: 14px;
                                display: inline-block;
                                line-height: 60px;
                                width: 32px;
                                height: 32px;
                            }
                        }
                        .info {
                            > span {
                                display: block;
                            }
                            > span:first-child {
                                font-size: 14px;
                                line-height: 30px;
                                color: #404040;
                            }
                            > span:last-child {
                                font-size: 12px;
                                color: #8c8c8c;
                            }
                        }
                        .icon-place {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            width: 15px;
                            height: 15px;
                            > img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .detail-md {
                        padding: 0 10px;
                        font-size: 12px;
                        line-height: 16px;
                        color: #666666;
                    }
                    .detail-btm {
                        display: flex;
                        height: 35px;
                        padding-top: 8px;
                        .img-wrap {
                            padding-left: 10px;
                            flex: 1;
                            > img {
                                margin-right: 20px;
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                            }
                        }
                        .time {
                            line-height: 25px;
                            text-align: right;
                            font-size: 12px;
                            color: #92c1e0;
                            padding-right: 10px;
                        }
                    }
                }

                .form-info {
                    margin-top: 20px;
                    > span {
                        display: block;
                        color: #8c8c8c;
                    }
                    > span:first-child {
                        font-size: 16px;
                    }
                    > span:last-child {
                        font-size: 14px;
                    }
                }

                .form-table {
                    margin-top: 30px;
                    .input-group {
                        padding: 0 20px;
                        .input-group-addon {
                            padding: 6px 20px 6px 0;
                            background-color: inherit;
                            border: none;
                        }
                    }
                    .submit-wrap {
                        text-align: center;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    //二级菜单
    .product-detail-tabBar {
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                margin-bottom: 0;
                .active {
                    a {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    color: #a4c7de;
                }
                li {

                }
                .dropdown {
                    text-align: center;
                    .dropdown-toggle {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                        font-size: 1.8rem;
                        span {
                            font-size: 1.4rem;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    //bannerImg
    .nothing-chip-list {
        .chip-list {
            .row {
                margin: 0 15px;
            }
            .btn {
                width: 100%;
                height: 4rem;
                line-height: 2rem;
                margin-top: 5rem;
                margin-bottom: 3rem;
                background-color: #ffffff;
                border: solid 1px #e5e5e5;
                text-align: center;
                font-size: 2rem;
                color: #999999;
            }
            .item-lf {
                .imgDetail {
                    .wrap-img {
                        border: 1px solid @split-color;
                        border-radius: 1px;
                    }
                }
                .titleDetail {
                    font-size: 1rem;
                    color: #262626;
                    text-align: center;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
            }
        }
        .news-sidebar {
            .sidebar-item {
                margin-top: 2rem;
                padding: 0 1rem;
                background-color: #ffffff;
                border: solid 1px #e5e5e5;
                .item-head {
                    border-bottom: 1px solid #d2d2d2;
                    > h6 {
                        display: block;
                        padding-left: 1rem;
                        border-left: 3px solid #2f88c4;
                        font-size: 2rem;
                        color: #404040;
                    }
                }
                .item-detail {
                    position: relative;
                    .detail-tp {
                        display: flex;
                        height: 6rem;
                        .img-wrap {
                            border-radius: .5rem;
                            > img {
                                margin: 1.4rem;
                                display: inline-block;
                                line-height: 3rem;
                                width: 3.2rem;
                                height: 3.2rem;
                            }
                        }
                        .info {
                            > span {
                                display: block;
                            }
                            > span:first-child {
                                font-size: 1.4rem;
                                line-height: 3rem;
                                color: #404040;
                            }
                            > span:last-child {
                                font-size: 1.2rem;
                                color: #8c8c8c;
                            }
                        }
                        .icon-place {
                            position: absolute;
                            right: .5rem;
                            top: .5rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            > img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .detail-md {
                        padding: 0 1rem;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        color: #666666;
                    }
                    .detail-btm {
                        display: flex;
                        height: 3.5rem;
                        padding-top: .8rem;
                        .img-wrap {
                            padding-left: 1rem;
                            flex: 1;
                            > img {
                                margin-right: 2rem;
                                display: inline-block;
                                width: 1.3rem;
                                height: 1.3rem;
                            }
                        }
                        .time {
                            line-height: 2.5rem;
                            text-align: right;
                            font-size: 1.4rem;
                            color: #92c1e0;
                            padding-right: 1rem;
                        }
                    }

                }

                .form-info {
                    margin-top: 2rem;
                    > span {
                        color: #8c8c8c;
                    }
                    > span:first-child {
                        font-size: 1.6rem;
                    }
                    > span:last-child {
                        font-size: 1.4rem;
                    }
                }

                .form-table {
                    margin-top: 2rem;
                    .input-group {
                        padding: 0 1rem;
                        .input-group-addon {
                            padding: .6rem 2rem .6rem 0;
                            background-color: inherit;
                            border: none;
                        }
                    }
                    .submit-wrap {
                        text-align: center;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

}






