@import "variables.less";
@import "base.less";
@import "header.less";
@import "footer.less";
//公共样式

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    .common-question-banner {
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }

    .common-question-tabBar {
        background: #86af49;
        nav.navbar-default {
            max-width: 1280px;
            margin: 0 auto;
            background: #86af49;
            border: none;
            .navbar-nav {
                .active {
                    a {
                        color: #fff;
                        background: #86af49;
                    }
                }
                a {
                    color: #c5dea4;
                }
            }
            .container-fluid {
                background: #86af49;
            }
        }

    }

    .common-question-panel {
        max-width: 1280px;
        margin: 38px auto 63px;

        .box-content {
            margin: 0;
            padding: 0;
            .row {
                margin: 0;
                padding: 0;
            }
            .content-left {
                padding-left: 0;
                padding-right: 0;

                .select-like {
                    padding-left: 0;
                    //padding-right: 35px;
                    width: 200px;
                    .btn-lg {
                        background: #fff;
                        padding: 0;
                        font-size: 18px;
                        height: 40px;
                        padding-left: 17px;
                        text-align: left;
                        color: #999999;
                        border-radius: 2px;
                        border: solid 1px #bfbfbf;
                    }
                    .glyphicon.glyphicon-menu-down {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        margin-top: -8px;
                        font-size: 14px;
                    }
                    .dropdown-menu {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            a {
                                color: #999999;
                                padding: 0;
                                padding-left: 20px;
                                height: 40px;
                                line-height: 40px;
                                font-size: 16px;
                                &:hover {
                                    background: #686868;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .mar-37 {
                    margin-bottom: 28px;
                }
                .mar-b-29 {
                    margin-bottom: 30px;
                }
                .mar-b-60 {
                    margin-bottom: 45px;
                }
                .icon-img {
                    width: 75px;
                    height: 75px;
                    background-color: #86af49;
                    border-radius: 4px;
                    border: solid 1px #eeeeee;
                }
                .icon-title {
                    margin-top: 6px;
                    margin-bottom: 7px;
                    font-size: 24px;
                    color: #333333;
                }
                .value {
                    font-size: 16px;
                    line-height: 18px;
                    color: #8c8c8c;
                }
                .select-title {
                    margin-right: 10px;
                    padding: 0;
                    font-size: 18px;
                    color: #666666;
                    height: 40px;
                    line-height: 40px;
                }

                .title {
                    font-size: 18px;
                    color: #333;
                    margin-top: 25px;
                    margin-bottom: 5px;
                }

                .img-tool {
                    margin-top: 20px;
                }

                .panel-title {
                    a {
                        position: relative;
                        display: block;
                        margin-left: 7px;
                        font-size: 16px;
                        color: #86af49;
                        padding-right: 15%;
                        &:hover, &:focus, &:active {
                            text-decoration: none;
                        }

                        &:after {
                            border-color: #86af49;
                            border-style: solid;
                            border-width: 2px 2px 0 0;
                            content: "";
                            display: inline-block;
                            height: 0;
                            padding: 3px;
                            transform: rotate(135deg);
                            width: 0;
                            right: 15%;
                            position: absolute;
                            top: 5px;
                            z-index: 0;
                        }

                        &.collapsed {
                            color: #666;
                            &:after {
                                border-color: #666;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
                .panel-group {
                    margin-bottom: 10px;
                }
                .panel-default {
                    border: none;
                    box-shadow: none;
                    .panel-heading {
                        color: #333;
                        background-color: #fff;
                        border: none;
                    }
                    .panel-body {
                        padding: 0 8px;
                        border: none;
                    }

                    .well {
                        position: relative;
                        //width: 943px;
                        height: 792px;
                        padding: 20px 37px;
                        background-color: #fafafa;
                        border-radius: 3px;
                        border: solid 1px #e5e5e5;
                        margin: 0;
                        .well-txt {
                            text-align: justify;
                            padding: 0;
                            margin: 0;
                            font-size: 16px;
                            line-height: 36px;
                            letter-spacing: 0px;
                            color: #666666;
                            margin-bottom: 20px;
                        }
                        .well-img {
                            text-align: center;
                            margin-bottom: 50px;
                        }
                        .well-video{
                            padding:0 80px;
                        }
                        .download-txt {
                            font-size: 18px;
                            color: #666666;
                        }
                        .pdf-link {
                            text-decoration: underline;
                            font-size: 18px;
                            color: #86af49;
                            margin-left: 5px;
                        }
                        .close-btn {
                            position: absolute;
                            right: 0;
                            bottom: 14px;
                            font-size: 18px;
                            color: #86af49;
                            width: 90px;
                            &:after {
                                border-color: #86af49;
                                border-style: solid;
                                border-width: 2px 2px 0 0;
                                content: "";
                                display: inline-block;
                                height: 0;
                                padding: 4px;
                                transform: rotate(-45deg);
                                width: 0;
                                right: 20px;
                                position: absolute;
                                top: 12px;
                                z-index: 0;
                            }
                        }
                    }
                }

            }
            .content-right {
                padding-left: 10px;
                padding-right: 0;
                .top-img {
                    width: 100%;
                    background-color: #86af49;
                    border-radius: 3px;
                    margin-bottom: 25px;
                }
                .bottom-img {
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    border: solid 1px rgba(220, 220, 220, 0.2);
                }
            }

        }
    }
}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    .common-question-banner {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    .common-question-tabBar {
        background: #86af49;
        nav.navbar-default {
            background: #86af49;
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                margin-bottom: 0;
                .active {
                    a {
                        color: #fff;
                        background: #86af49;
                    }
                }
                a {
                    color: #c5dea4;
                }
                .dropdown {
                    text-align: center;
                    .dropdown-toggle {
                        color: #fff;
                        background: #86af49;
                        font-size: 1.8rem;
                        span {
                            font-size: 1.4rem;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .container-fluid {
                background: #86af49;
            }
        }

    }

    .common-question-panel {
        padding: 1.5rem;
        * {
            padding: 0;
            margin: 0;
        }
        .box-content {
            .content-left {
                .select-title {
                    padding: 0;
                    font-size: 18px;
                    color: #666666;
                    margin-bottom: 1rem;
                }
                .select-like {
                    .btn-lg {
                        background: #fff;
                        padding: 0;
                        font-size: 18px;
                        height: 40px;
                        padding-left: 17px;
                        text-align: left;
                        color: #999999;
                        width: 100%;
                        border-radius: 2px;
                        border: solid 1px #bfbfbf;
                    }
                    .glyphicon.glyphicon-menu-down {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        margin-top: -8px;
                        font-size: 14px;
                    }
                    .dropdown-menu {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            a {
                                color: #999999;
                                padding: 0;
                                padding-left: 20px;
                                height: 40px;
                                line-height: 40px;
                                font-size: 16px;
                                &:hover {
                                    background: #686868;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .icon-img {
                    background-color: #86af49;
                    border-radius: .4rem;
                    border: solid 1px #eeeeee;
                }
                .icon-title {
                    margin: .5rem 0;
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    color: #333333;
                }
                .value {
                    padding-left: 1rem;
                    font-size: 1.2rem;
                    line-height: 18px;
                    color: #8c8c8c;
                }

                .h5-title {
                    font-size: 20px;
                    color: #595959;
                    margin-top: 25px;
                    margin-bottom: 1rem;
                }

                .panel-title {
                    a {
                        position: relative;
                        display: block;
                        font-size: 16px;
                        color: #86af49;
                        &:hover, &:focus, &:active {
                            text-decoration: none;
                        }

                        &:after {
                            border-color: #86af49;
                            border-style: solid;
                            border-width: 2px 2px 0 0;
                            content: "";
                            display: inline-block;
                            height: 0;
                            padding: 3px;
                            transform: rotate(135deg);
                            width: 0;
                            right: 0;
                            position: absolute;
                            top: 5px;
                            z-index: 0;
                        }

                        &.collapsed {
                            color: #666;
                            &:after {
                                border-color: #666;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .panel-default {
                    margin-bottom: 1rem;
                    border: none;
                    box-shadow: none;
                    .panel-heading {
                        color: #333;
                        background-color: #fff;
                        border: none;
                    }
                    .panel-body {
                        margin-top: 1rem;
                        padding: 0 8px;
                        border: none;
                    }

                    .well {
                        position: relative;
                        padding: 2rem 1rem;
                        background-color: #fafafa;
                        border-radius: 3px;
                        border: solid 1px #e5e5e5;
                        .well-txt {
                            margin-top: 1.5rem;
                        }
                        .img-tool1 {
                            margin-bottom: 1rem;
                        }
                        .img-tool2 {
                            margin-bottom: 1.5rem;
                        }
                    }
                }

                .panel-group {
                    margin-bottom: 2rem;
                }

                .pdf-link {
                    text-decoration: underline;
                    font-size: 14px;
                    color: #86af49;
                }

                .pdf-img {
                    width: 23px;
                    height: 30px;
                }

                .support-form {
                    margin: 1.5rem 0;
                    border: 1px solid #E4E4E4;
                    padding: 1rem;
                    .form-group {
                        margin-bottom: 1rem;
                    }
                    label {
                        text-align: right;
                    }
                    .title {
                        padding-left: 1rem;
                        position: relative;
                        &:before {
                            display: block;
                            content: '';
                            width: .3rem;
                            height: 2rem;
                            background: #86af49;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -1rem;
                        }
                        &:after {
                            display: block;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: #E4E4E4;
                            position: absolute;
                            left: 0;
                            bottom: -1rem;
                        }
                    }
                    .tips {
                        margin: 20px 0;
                        font-size: 1.2rem;
                        color: #8c8c8c;
                    }
                    .submit-button {
                        width: 120px;
                        height: 42px;
                        line-height: 42px;
                        background-color: #86af49;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 1.8rem;
                    }
                    .padding-r-15 {
                        padding-right: 1.5rem;
                    }
                    input {
                        padding-left: 1rem;
                    }
                }

            }
            .content-right {
                padding: 0;
                .top-img {
                    width: 100%;
                    background-color: #86af49;
                    border-radius: .3rem;
                    margin-bottom: 1.5rem;
                }
                .bottom-img {
                    width: 100%;
                    background-color: #000;
                    border-radius: .5rem;
                    border: solid 1px #e5e5e5;
                }
            }

        }
    }
}
