@import "variables.less";
@import "base.less";

@media screen and (min-width: @screen-lg-min) {
    //1200
    //.container-fluid {
    //    font-family: @font-family;
    //    padding-left: 120px;
    //    padding-right: 120px;
    //}
}

@media screen and (min-width: @screen-md-min) {

}

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    //菜单
    .box-shadow-line {
        position: relative;

        .dropdown.search-top-icon {
            position: static;
            .dropdown-menu {
                background: @base-color;
                border: none;
                width: 100%;
                height: 180px;
                border-radius: 0;
                margin: 0;
                padding: 0;
                .glyphicon.glyphicon-remove {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: 25px;
                    color: #fff;
                }
                &:after {
                    position: absolute;
                    display: block;
                    top: -7.5px;
                    right: 3px;
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: @base-color;
                    transform: rotate(45deg);
                }
                @media (min-width: 1281px) {
                    &:after {
                        right: calc(~"(100% - 1280px)/2");
                        right: -moz-calc(~"(100% - 1280px)/2");
                        right: -webkit-calc(~"(100% - 1280px)/2");
                    }
                }
                input {
                    display: block;
                    border: none;
                    border-radius: 30px;
                    width: 60%;
                    height: 60px;
                    margin: 55px auto 0;
                    padding-left: 30px;
                    font-size: 2.5rem;
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color: #8c8c8c;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: #8c8c8c;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: #8c8c8c;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #8c8c8c;
                    }
                }
            }
        }

        .nothing-navbar-brand-search {
            position: absolute;
            right: 0;
            top: 56px;
            a {
                width: 28px;
                height: 28px;
                text-align: center;
                padding: 2px 0;
                background: #2f88c6;
                line-height: 1.428571429;
                border-radius: 14px;
                .glyphicon {
                    font-size: 1.4rem;
                    top: 3px;
                }
            }

            .search-content {
                background: red;
                position: absolute;
                left: 0;
            }

            .btn-primary{
                border: 0;
            }
        }

        @media (min-width: 1281px) {
            .nothing-navbar-brand-search {
                right: calc(~"(100% - 1280px)/2");
                right: -moz-calc(~"(100% - 1280px)/2");
                right: -webkit-calc(~"(100% - 1280px)/2");
            }
        }

        .navbar {
            height: 110px;
            padding: 0;
            margin: 0 auto;

            .navbar-collapse {
                padding: 0;
            }

            .nothing-navbar-brand {
                position: absolute;
                margin-top: 35px;
                .navbar-brand {
                    padding: 0;
                    img {
                        width: 84px;
                        height: 60px;
                    }
                }
            }

            .nothing-navbar-menu {
                > div {
                    position: static;
                }
                .nav {
                    position: static;
                    width: 100%;
                    > li {
                        position: static;
                        width: 100%;
                        max-width: 118px;
                        >a{
                            padding: 0;
                            text-align: center;
                            margin: 10px auto;
                            display: inline-block;
                        }
                    }

                    .open{
                        >a >a:focus a:hover{
                            background-color: #ffffff;
                        }
                    }
                }
                font-size: 1.4rem;
                .dropdown {
                    &:hover {
                        > a{
                            position: relative;
                            color:  @base-color;
                        }
                        > a:hover a:active a:focus a:active{
                            background-color: #ffffff;
                        }
                        > a:before {
                            background: @base-color;
                            bottom: 0;
                            content: "";

                            height: 2px;
                            position: absolute;
                            width: 100%;
                        }
                    }

                    .dropdown-menu {
                        background-color: @base-background-color;
                        position: absolute;
                        padding: 30px 0;
                        top: 109px;
                        width: 100%;
                        height: 233px;
                        margin: 0;
                        border: 0;

                        .dropdown-menu-title {
                            font-size: 2.4rem;
                            text-align: right;
                        }

                        .dropdown-submenu {
                            width: 45%;
                            height: 50px;
                            border-right: 1px solid @base-font-color-lightest;
                            padding: 6px 30px 6px 22px;

                            list-style-type: none;

                            &:hover {
                                background: #e5e5e5;
                                background-clip: content-box;
                                .dropdown-3rdmenu {
                                    display: block;
                                }

                                > a {
                                    color: @base-color;
                                }
                            }

                            > a {
                                color: #595959;
                                text-decoration: none;
                                font-size: 1.6rem;
                            }

                            > p {
                                font-size: 1.2rem;
                                color: #595959;
                            }

                            .dropdown-3rdmenu {
                                position: absolute;
                                background: @base-background-color;
                                display: none;
                                width: 100%;
                                top: -3px;
                                left: 45%;
                                margin-left: 5px;
                                > li {
                                    height: 40px;
                                    line-height: 40px;
                                    list-style-type: none;
                                    > a {
                                        font-size: 1.4rem;
                                        color: #595959;
                                    }
                                    > a:hover{
                                        color: @base-color;
                                        text-decoration : none;
                                    }

                                }
                            }

                            .dropdown-3rdmenu-active {
                                display: block;
                                > a {
                                    color: @base-color;
                                }
                            }
                        }

                        .dropdown-menu-image {
                            p {
                                margin-top: 12px;
                                font-size: 1.2rem;
                                line-height: 2.4rem;
                            }
                        }
                    }
                    .dropdown-toggle {
                        color: #737373;
                        padding-top: 21px;
                        padding-bottom: 10px;
                        &:hover, &:focus {
                            background: none;
                        }
                    }

                }

                .in-focus {
                    color: @brand-primary;
                }
            }

            .nothing-navbar-info {
                .glyphicon.glyphicon-triangle-bottom {
                    position: relative;
                    top: 3px;
                }
                > li {
                    a {
                        padding-top: 15px;
                        padding-bottom: 0;
                        color: @base-color;
                        font-size: 1.2rem;
                        font-family: @font-sub-family;
                        &:hover, &:focus {
                            background: none;
                            text-decoration: underline;
                        }
                    }
                    &.line {
                        position: relative;
                        &:after {
                            position: absolute;
                            top: 45%;
                            right: 0;
                            display: block;
                            content: '';
                            width: 1px;
                            height: 50%;
                            background: @base-color;
                        }
                    }
                }
            }
        }

        .navbar-1280 {
            max-width: 1280px;
            margin: 0 auto;

        }
    }

    //首屏页面
    .nothing-jumbotron.jumbotron {
        padding: 0;
        margin-bottom: 0;
    }

    //多个图片
    .nothing-icons {
        height: 136px;
        margin-left: 0;
        margin-right: 0;
        background-color: @base-color;
        .nothing-icon {
            .div-img-circle {
                width: 56px;
                height: 56px;
                border-radius: 56px;
                border: 1px solid #fff;
                margin: 26px auto 0;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                &.support {
                    background-image: url(../images/quick_nav/quick/support_center.png);
                    &:hover {
                        background-image: url(../images/quick_nav/hover/support_center.png);
                        border-color: transparent;
                    }
                }
                &.firmware {
                    background-image: url(../images/quick_nav/quick/firmware_status.png);
                    &:hover {
                        background-image: url(../images/quick_nav/hover/firmware_status.png);
                        border-color: transparent;
                    }
                }
                &.company {
                    background-image: url(../images/quick_nav/quick/company_news.png);
                    &:hover {
                        background-image: url(../images/quick_nav/hover/company_news.png);
                        border-color: transparent;
                    }
                }
                &.patent {
                    background-image: url(../images/quick_nav/quick/patent_center.png);
                    &:hover {
                        background-image: url(../images/quick_nav/hover/patent_center.png);
                        border-color: transparent;
                    }
                }
                &.subscribe {
                    background-image: url(../images/quick_nav/quick/subscribe.png);
                    &:hover {
                        background-image: url(../images/quick_nav/hover/subscribe.png);
                        border-color: transparent;
                    }
                }
            }

            p {
                text-align: center;
                font-size: 1.2rem;
                color: #fff;
                margin-top: 18px;
                padding: 0;
            }
        }

    }

    //走马灯
    .nothing-carousel {
        height: 500px;
        background: @base-background-color;
        .in-focus {
            margin-top: 60px;
            font-size: 3rem;
            color: @base-color;
        }
        .in-focus-sub {
            margin-top: 21px;
            margin-bottom: 68px;
            font-size: 2rem;
            color: #999;
        }
        .print {
            img {
                width: 246px;
                height: 192px;
            }
        }
        .print-title {
            margin-bottom: 30px;
            font-size: 2.4rem;
            color: #666666;
        }
        .print-li {
            padding: 0;
            padding-left: 20px;
            li {
                font-size: 1.6rem;
                color: #666666;
            }
        }

        .print-txt {
            text-align: left;
        }

        .read-more {
            margin-top: 40px;
            margin-left: 5px;
            font-size: 1.4rem;
            color: @base-color;
        }
        .carousel-control {
            background-image: none;
        }
        .glyphicon.glyphicon-chevron-left,
        .glyphicon.glyphicon-chevron-right {
            color: @base-color;
        }
        .carousel-indicators {
            li {
                background: #fff;
            }
            li.active {
                background: @base-color;
            }
        }
    }

    //tab
    .nothing-tab-list {
        max-width: 1280px;
        margin: 0 auto;
        .tab-title {
            margin-top: 90px;
            margin-bottom: 24px;
            font-size: 3rem;
            color: @base-color;
        }
        .tab-subtitle {
            margin-bottom: 26px;
            font-size: 2rem;
            color: #999999;
        }
        #nothingTab {
            li {
                border-top: 3px solid #d0d0d0;
                background: #f5f5f5;
                a {
                    height: 60px;
                    line-height: 60px;
                    padding: 0;
                    font-size: 1.4rem;
                    color: #666666;
                    border: none;
                }
                &.active {
                    border-top: 4px solid @base-color;
                    background: #fff;
                    a {
                        color: @base-color;
                    }
                }
            }
        }

        .left-border-line {
            border-left: 1px solid #e4e4e4;
            padding-bottom: 50px;
        }

        #nothingTabContent {
            margin-top: 40px;
            margin-left: 30px;
            .list-group-item {
                font-size: 1.6rem;
                color: #666666;
                background-color: #fff;
                border-left-width: 8px;
                border-color: transparent;
                border-top-color: #e4e4e4;
                &:hover {
                    .list-item-title {
                        font-size: 1.6rem;
                        color: @base-color;
                    }
                    background-color: #fff;
                    border-color: #e4e4e4;
                    border-left: 8px solid @base-color;
                }
            }
            .see-more {
                margin-left: 15px;
                color: @base-color;
                font-size: 1.8rem;
            }
            img {
                max-width: 351px;
                max-height: 272px;
            }
        }

    }

    //图片展示
    .nothing-img-container {
        max-width: 1280px;
        margin: 50px auto;
        .thumbnail {
            padding: 0;
            overflow: hidden;
            &.unismart-thumbnail {
                border-bottom: 8px solid #19a456;
            }
            &.nfc-thumbnail {
                border-bottom: 8px solid #099ea7;
            }
            img {
                cursor: pointer;
                transition: all 0.6s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .caption {
            position: relative;
        }
        .img-tips {
            margin: 30px 0;
            color: #999;
            font-size: 1.8rem;
        }
        .img-txt-detail {
            max-width: 600px;
            margin: 0 auto 30px;
            font-size: 1.6rem;
            color: #333;
            min-height: 70px;
        }
        .unismart-btn {
            position: absolute;
            top: -40px;
            left: 50%;
            display: block;
            height: 56px;
            width: 208px;
            color: #fff;
            background: #19a456;
            line-height: 56px;
            text-align: center;
            margin-left: -104px;
            font-size: 2rem;
        }
        .nfc-btn {
            position: absolute;
            top: -40px;
            left: 50%;
            display: block;
            height: 56px;
            width: 208px;
            color: #fff;
            background: #099ea7;
            line-height: 56px;
            text-align: center;
            margin-left: -104px;
            font-size: 2rem;
        }
    }

    //巨幕展示图标
    .nothing-jumbotron-phone.jumbotron {
        position: relative;
        padding: 0;
        background-color: #fff;
        margin: 50px 0;
        .jumbotron-tips {
            position: absolute;
            top: 15%;
            left: 45%;
            width: 519px;
            font-size: 3rem;
            color: #666666;
        }
    }

    //解决方案
    .nothing-solution-container {
        margin: 50px auto;
        .solution-detail {
            margin: 30px 0;
            font-size: 1.6rem;
            color: #666666;
        }
        .solution-link {
            font-size: 1.6rem;
            color: @base-color;
        }
    }

    .nothing-jumbotron-bg {
        max-width: 1280px;
        margin: 50px auto 0;
        position: relative;
        background-image: url(../images/bg.png);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 400px;
        &:after {
            position: absolute;
            top: 30%;
            left: 50%;
            width: 3px;
            margin-left: -1.5px;
            height: 60%;
            background: #fff;
            display: block;
            content: '';
        }
        .bg-title {
            font-size: 3rem;
            color: #fff;
        }
        .bg-txt {
            margin: 50px 0;
            font-size: 2rem;
            color: #fff;
        }
        .bg-btn {
            margin: auto;
            display: block;
            width: 161px;
            height: 51px;
            text-align: center;
            line-height: 51px;
            border: solid 1px #fff;
            border-radius: 4px;
            font-size: 1.6rem;
            color: #fff;
            &:hover {
                border: solid 1px @base-color;
                background-color: @base-color;
            }
        }
    }

    .nothing-contact {
        max-width: 1280px;
        margin: 0 auto;
        .contact-email {
            position: relative;
            margin: 0;
            padding: 61px 0 166px;
            .contact-title {
                font-size: 2.6rem;
                color: @base-color;
            }
            .contact-detail {
                font-size: 1.6rem;
            }
            background-color: #fff;
            .env-top {
                max-width: 120px;
                max-height: 95px;
            }
            .btn-blue {
                margin-top: 26px;
                display: block;
                width: 161px;
                height: 51px;
                line-height: 51px;
                text-align: center;
                font-size: 1.6rem;
                color: @base-color;
                background-color: #ffffff;
                border-radius: 4px;
                border: solid 1px @base-color;
            }
        }

        .img-100 {
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
        }

        .contact-form {
            margin: 0;
            margin-top: -2px;
            padding: 10px 0 60px;
            background: @base-color;

            .contact-update {
                font-size: 2.4rem;
                color: #fff;
                line-height: 40px;
                text-align: right;
                margin: 0;
            }
            .contact-input {
                height: 40px;
                max-width: 480px;
                font-size: 1.6rem;
                border: 1px solid #e5e5e5;
            }
            .contact-subscribe {
                display: block;
                width: 161px;
                height: 41px;
                line-height: 41px;
                text-align: center;
                color: #fff;
                background-color: #72b85e;
                border-radius: 6px;
                border: solid 1px #72b85e;
                font-size: 1.6rem;
            }
        }
    }

    .nothing-footer {
        height: 777px;
        max-width: 1280px;
        margin: 0 auto;
        background: #f5f5f5;
        .row {
            margin: 0;
        }
        h3 {
            font-size: 1.8rem;
            color: #333;
        }
        h4 {
            font-size: 1.4rem;
            color: #333;
        }
        .list-group {
            margin-bottom: 0;
        }
        .list-group-item {
            position: relative;
            display: block;
            padding: 0;
            margin-bottom: 0;
            background-color: #f5f5f5;
            border: none;
            color: #999;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }
        .copyright {
            margin-top: 40px;
            p {
                color: #fff;
                font-size: 1.2rem;
            }
        }
        .share {
            margin-top: 24px;
            background: #9e9e9e;
            height: 134px;
        }

        .share-icons {
            margin-top: 40px;
            list-style: none;
            li {
                margin-right: 20px;
                float: left;
                div {
                    width: 49px;
                    height: 49px;
                    border-radius: 6px;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    &:hover {
                        opacity: .9;
                    }
                }
            }
            .facebook-icon {
                background-image: url(../images/concern/facebook-color.png);
            }
            .twitter-icon {
                background-image: url(../images/concern/twitter-color.png);
            }
            .in-icon {
                background-image: url(../images/concern/in-color.png);
            }
            .youtube-icon {
                background-image: url(../images/concern/youtube-color.png);
            }
        }
    }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {

    .box-shadow-line {
        position: relative;
        box-shadow: inset 0 -1px .8rem 0 rgba(0, 0, 0, 0.2);
        .dropdown.search-top-icon {
            position: static;
            .dropdown-menu {
                position: absolute;
                top: 4.29rem;
                background: @base-color;
                border: none;
                width: 100%;
                height: 8rem;
                border-radius: 0;
                margin: 0;
                padding: 0;
                .glyphicon.glyphicon-remove {
                    position: absolute;
                    top: .8rem;
                    right: 2rem;
                    font-size: 1.5rem;
                    color: #fff;
                }
                &:after {
                    position: absolute;
                    display: block;
                    top: -.25rem;
                    right: 3.3rem;
                    content: '';
                    width: .5rem;
                    height: .5rem;
                    background: @base-color;
                    transform: rotate(45deg);
                }
                input {
                    display: block;
                    border: none;
                    border-radius: 3rem;
                    width: 90%;
                    height: 3rem;
                    margin: 2.5rem auto 0;
                    padding-left: 1.5rem;
                    font-size: 1.6rem;
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color: #8c8c8c;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: #8c8c8c;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: #8c8c8c;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #8c8c8c;
                    }
                }
            }
        }

        .nothing-navbar-brand-search {
            position: absolute;
            right: 2rem;
            top: 0.8rem;
            button {
                width: 3rem;
                height: 3rem;
                text-align: center;
                padding: .6rem 0;
                font-size: 1.2rem;
                line-height: 1.428571429;
                border-radius: 1.5rem;
            }
        }

        .navbar {
            margin-bottom: 0;
            .navbar-header {
                .nothing-navbar-button {
                    float: left;
                    margin-left: 1.5rem;
                    .icon-bar {
                        color: @base-color;
                        background: #0b97c4;
                    }
                }
                .nothing-navbar-brand {
                    width: 20rem;
                    margin: 0.8rem auto 0;
                    .navbar-brand {
                        float: none;
                        height: auto;
                        padding: 0;
                        line-height: normal;
                        img {
                            width: 4.5rem;
                            height: 3.3rem;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .nothing-navbar-menu {
                height: 100vh;
                border-top: 1px solid #ececec;
                .navbar-nav {
                    padding-left: 1rem;
                }
                .dropdown {
                    position: static;
                    border-bottom: 1px solid #ececec;
                    .dropdown-menu {
                        position: absolute;
                        top: .3rem;
                        left: 100%;
                        width: 100%;
                        div {
                            padding-right: 0;
                        }
                        .dropdown-menu-xs {
                            border-left: 1px solid #ececec;
                            padding-left: 0;
                        }
                        .dropdown-submenu {
                            > a {
                                width: 100%;
                                display: block;
                                line-height: 1.8rem;
                                padding: .5rem 1.5rem;
                                background-color: #eee;
                            }
                            font-size: 1.6rem;
                            .dropdown-3rdmenu {
                                list-style-type: none;
                                font-size: 1.8rem;
                                line-height: 3rem;
                                padding: .5rem 1.5rem;
                            }
                        }
                    }
                }
            }

        }
    }

    .nothing-jumbotron.jumbotron {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    .nothing-icons {
        height: 13rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        margin-left: 0;
        margin-right: 0;
        background-color: @base-color;

        .nothing-icon {
            padding: 0;
            text-align: center;
            p {
                color: #fff;
                font-family: @font-sub-family;
                font-size: 1.4rem; //TODO ios 5 1.4rem
                margin: 0;
                line-height: 4.8rem;
            }
        }

    }

    //走马灯
    .nothing-carousel {
        height: 55.2rem;
        background: @base-background-color;
        .in-focus {
            margin-top: 5rem;
            font-size: 2.4rem;
            color: @base-color;
        }
        .in-focus-sub {
            margin-top: 1.4rem;
            margin-bottom: 6.2rem;
            font-size: 1.5rem;
            color: #999;
            font-family: @font-sub-family;
        }
        .print {
            img {
                width: 15.9rem;
                height: 12.3rem;
            }
            text-align: center;
        }
        .print-title {
            margin: 3.7rem 0 1rem;
            padding: 1rem;
            font-size: 1.8rem;
            color: #666;
        }
        .print-li {
            padding: 0;
            margin: auto;
            li {
                font-size: 1.5rem;
                color: #666;
            }
        }

        .print-txt {
            text-align: center;
        }

        .read-more {
            margin-top: 2.3rem;
            font-size: 1.2rem;
            color: @base-color;
        }

        .carousel-control {
            background-image: none;
        }
        .glyphicon.glyphicon-chevron-left,
        .glyphicon.glyphicon-chevron-right {
            color: @base-color;
        }
        .carousel-indicators {
            li {
                background: #fff;
            }
            li.active {
                background: @base-color;
            }
        }
    }

    //tab
    .nothing-tab-list {
        .tab-title {
            margin: 4.8rem 6rem 1.2rem;
            font-size: 2.4rem;
            color: @base-color;
            padding: 1rem;
        }
        .tab-subtitle {
            margin-bottom: 4.4rem;
            font-size: 1.5rem;
            color: #999;
        }
        #nothingTab {
            li {
                border-top: .3rem solid #d0d0d0;
                background: #f5f5f5;
                display: table-cell;
                width: 1%;
                a {
                    line-height: 5.4rem;
                    padding: 0;
                    font-size: 1.2rem;
                    color: #666666;
                    border: none;
                }
                &.active {
                    border-top: .4rem solid @base-color;
                    background: #fff;
                    a {
                        color: @base-color;
                    }
                }
            }
        }

        #nothingTabContent {
            margin: 1.5rem 1rem 2rem;
            .list-group-item {
                font-size: 1.1rem;
                color: #666666;
                background-color: #fff;
                border-color: transparent;
                border-top-color: #e4e4e4;
                border-left-width: .5rem;
                &:hover {
                    .list-item-title {
                        font-size: 1.2rem;
                        color: @base-color;
                    }
                    background-color: #fff;
                    border-color: #e4e4e4;
                    border-left: .5rem solid @base-color;
                }
            }
            .see-more {
                text-align: center;
                color: @base-color;
                font-size: 1.5rem;
            }
        }
    }

    .nothing-img-container {
        .thumbnail {
            padding: 0;
            margin-bottom: 0;
            border: none;
            border-radius: 0;
            overflow: hidden;
            &.unismart-thumbnail {
                border-bottom: .8rem solid #19a456;
            }
            &.nfc-thumbnail {
                border-bottom: .8rem solid #099ea7;
            }
            img {
                cursor: pointer;
                transition: all 0.6s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .caption {
            position: relative;
        }
        .img-tips {
            margin: 3rem 0 2rem;
            color: #999;
            font-size: 0.9rem;
        }
        .img-txt-detail {
            max-width: 60rem;
            margin: 0 auto 3rem;
            padding: 0 1rem;
            font-size: 1.2rem;
            color: #333;
        }
        .unismart-btn {
            position: absolute;
            top: -1.5rem;
            left: 57%;
            display: block;
            height: 2.8rem;
            font-size: 1.2rem;
            width: 10.4rem;
            color: #fff;
            background: #19a456;
            line-height: 2.8rem;
            text-align: center;
            margin-left: -7.5rem;
        }
        .nfc-btn {
            position: absolute;
            top: -1.5rem;
            left: 57%;
            display: block;
            height: 2.8rem;
            width: 10.4rem;
            color: #fff;
            background: #099ea7;
            line-height: 2.8rem;
            text-align: center;
            margin-left: -7.5rem;
        }
    }

    //巨幕展示图标
    .nothing-jumbotron-phone.jumbotron {
        position: relative;
        padding: 0;
        background-color: #fff;
        margin: 3rem 0;
        border-radius: 0;
        .jumbotron-tips {
            display: none;
        }
    }

    .nothing-solution-container {
        margin-bottom: 9.1rem;
        img {
            margin: 7.3rem auto;
        }
        text-align: center;
        .solution-detail {
            margin: 9rem 0 3rem;
            font-size: 1.2rem;
            color: #666666;
        }
        .solution-link {
            font-size: 1.2rem;
            color: @base-color;
        }
    }

    .nothing-jumbotron-bg.jumbotron {
        position: relative;
        background-image: url(../images/H5/bg.png);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 60rem;
        margin-bottom: 0;
        border-radius: 0;

        &:after {
            position: absolute;
            top: 55%;
            left: 20%;
            width: 60%;
            height: .1rem;
            background: #fff;
            display: block;
            content: '';
        }
        .bg-title {
            margin-top: 2rem;
            font-size: 2.4rem;
            color: #fff;
        }
        .bg-txt {
            margin: 5rem auto;
            font-size: 1.5rem;
            color: #fff;
            width: 80%;
            &.phone-bg-txt-bottom {
                margin-top: 11rem;
            }
        }
        .bg-btn {
            margin: auto;
            display: block;
            width: 11.3rem;
            height: 3.6rem;
            text-align: center;
            line-height: 3.6rem;
            border-radius: .4rem;
            font-size: 1.2rem;
            color: #fff;
            border: solid 1px #fff;
            &:hover {
                border: solid 1px @base-color;
                background-color: @base-color;
            }
        }
    }

    .nothing-contact {
        .contact-email {
            position: relative;
            margin: 0;
            padding: 6.3rem 0 4rem;
            .contact-email-image {
                img {
                    width: 8.8rem;
                    height: 7rem;
                }
            }
            .contact-title {
                font-size: 1.8rem;
                color: @base-color;
                text-align: center;
            }
            .contact-detail {
                padding: 1rem;
                font-size: 1.2rem;
                color: @base-color;
                text-align: center;
            }
            background-color: #fff;
            .env-top {
                margin: 0 auto 4rem;
                display: block;
            }
            .btn-blue {
                margin-top: 6.5rem;
                display: block;
                width: 22.5rem;
                height: 7.3rem;
                line-height: 7.3rem;
                text-align: center;
                font-size: 2.4rem;
                color: @base-color;
                background-color: #ffffff;
                border-radius: .4rem;
                border: solid 1px @base-color;
            }
        }

        .img-100 {
            position: absolute;
            left: 0;
            bottom: -.2rem;
            width: 100%;
        }

        .contact-form {
            margin: 0;
            margin-top: -.2rem;
            padding: 1rem 0 6rem;
            background: @base-color;

            .contact-update {
                margin: 2rem 0;
                font-size: 2.4rem;
                color: #fff;
                text-align: center;
            }
            .contact-input {
                margin: 0 0 2rem;
                height: 4.5rem;
                font-size: 1.5rem;
                border: 1px solid #e5e5e5;
            }
            .contact-subscribe {
                display: block;
                margin: auto;
                width: 14.7rem;
                height: 4.5rem;
                line-height: 4.5rem;
                text-align: center;
                color: #fff;
                background-color: #72b85e;
                border-radius: .6rem;
                border: solid 1px #72b85e;
                font-size: 1.5rem;
            }
        }
    }

    .nothing-footer {
        background: #f5f5f5;
        .row {
            margin: 0;
        }
        h3 {
            font-size: 1.2rem;
            font-weight: normal;
            color: #404040;
            position: relative;
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 1.5rem;
            &:after {
                display: block;
                content: '+';
                font-size: 2rem;
                color: #404040;
                position: absolute;
                right: .3rem;
                bottom: 1.35rem;
            }
        }
        h4 {
            font-size: 1.4rem;
            font-weight: normal;
            color: #404040;
        }

        .products-list-plus {
            .products-list {
                display: none;
            }
            &:hover {
                .products-list {
                    display: block;
                }
                h3 {
                    border-bottom: none;
                    &:after {
                        content: '-';
                    }
                }
            }
        }

        .support-list-plus {
            .support-list {
                display: none;
            }
            &:hover {
                .support-list {
                    display: block;
                }
                h3 {
                    border-bottom: none;
                    &:after {
                        content: '-';
                    }
                }
            }
        }

        .unismart-list-plus {
            .unismart-list {
                display: none;
            }
            &:hover {
                .unismart-list {
                    display: block;
                }
                h3 {
                    border-bottom: none;
                    &:after {
                        content: '-';
                    }
                }
            }
        }
        .news-list-plus {
            .news-list {
                display: none;
            }
            &:hover {
                .news-list {
                    display: block;
                }
                h3 {
                    border-bottom: none;
                    &:after {
                        content: '-';
                    }
                }
            }
        }
        .about-us-list-plus {
            h3 {
                border-bottom: none;
            }
            .about-us-list {
                display: none;
            }
            &:hover {
                .about-us-list {
                    display: block;
                }
                h3 {
                    &:after {
                        content: '-';
                    }
                }
            }
        }

        .list-group {
            margin-bottom: 0;
        }
        .list-group-item {
            position: relative;
            display: block;
            padding: 0;
            margin-bottom: 0;
            background-color: #f5f5f5;
            border: none;
            color: #999;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }

        .copyright {
            position: relative;
            top: 4rem;
            p {
                color: #fff;
                font-size: 1.2rem;
            }
        }
        .share {
            padding: 3rem 0 4rem;
            background: #333;
        }

        .follow-us-txt {
            padding: 0;
            text-align: left;
            font-size: 1.2rem;
            height: 2.5rem;
            line-height: 2.5rem;
            color: #fff;
        }

        .up-phone-top {
            position: relative;
            top: -10rem;
        }

        .share-icons {
            list-style: none;
            li {
                margin-right: 1rem;
                float: left;
                div {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: .4rem;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    &:hover {
                        opacity: .9;
                    }
                }
            }
            .facebook-icon {
                background-image: url(../images/concern/facebook-color.png);
            }
            .twitter-icon {
                background-image: url(../images/concern/twitter-color.png);
            }
            .in-icon {
                background-image: url(../images/concern/in-color.png);
            }
            .youtube-icon {
                background-image: url(../images/concern/youtube-color.png);
            }
        }
    }

}






