@import "variables.less";
@import "base.less";


//公共样式


//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
  //768- sm->lg
  .subscriptionCenter-navbar {
    height: 110px;

    background: #f5f5f5;
  }

  //首屏页面
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      height:280px;
      overflow: hidden;
      img{
        width:100%;
        height:280px;
      }
      .carousel-indicators{
        left:90%;
        bottom:10px;
        li{
          background:#fff;
        }
        .active{
          width:24px;
          height:12px;
          border-radius:6px;
        }
      }
    }
  }

  .orderCenter-content {
    max-width: 1280px;
    margin: 50px auto;
    .productList-content-wrap-table{
      min-height:1700px;
    }
    //position:relative;
    .orderCenter-content-header{
      padding-bottom:100px;
      border-bottom:1px solid #e5e5e5;
      .orderCenter-content-header-title{
        h3{
          font-size: 30px;
          font-weight: normal;
          color: #333333;
          text-align: center;
          margin:60px 0;
        }
      }
      .orderCenter-content-header-descript{
        p{
          font-size: 18px;
          color: #666666;
          text-align: center;
          margin-bottom:80px;
        }
      }
      .orderCenter-content-header-steps-img{
        padding:0 100px;
        img{
          width:100%;
          height:auto;
        }
      }
      .orderCenter-content-header-steps-word{
        text-align:center;
        padding:20px 0;
        .setp{
          font-size: 16px;
          color: #999999;
        }
        .setp1,.setp2{
          color:#2f87c4;
        }
        .setp1{
          text-align:left;
          padding-left:70px;
        }
        .setp3{
          text-align:right;
          padding-right:70px;
        }
      }
    }
    .productList-content-select-style2{
      height:100px;
      line-height:100px;
      .nopadding{
        padding:0;
      }
      .productList-content-select-style-content{
        .productList-content-select-style-content-left{
          margin-left:-40%;
          span{
            font-size: 18px;
            color: #666666;
          }
        }
        .productList-content-select-style-content-right{
          margin-left:34%;
          .style-one{
            margin-left:-15%;
            span{
              background: url("../images/common/style1.png");
              background-size: 100% 100%;
            }
            .active{
              background: url("../images/common/style1-a.png");
              background-size: 100% 100%;
            }
          }
          .style-two{
            margin-left:15%;
            span{
              background: url("../images/common/style2.png");
              background-size: 100% 100%;
            }
            .active{
              background: url("../images/common/style2-a.png");
              background-size: 100% 100%;
            }
          }
        }
        .productList-content-select-style-content-icon{
          &:hover{
            cursor: pointer;
          }

          span{
            display:inline-block;
            width:36px;
            height:36px;
            border-radius:50%;
            //border:solid 2px rgba(205, 205, 205, 1);
            vertical-align: middle;
            font-size:20px;
            color:#666;
            &:before{
              position:absolute;
              top:50%;
              left:50%;
              margin-left:-12px;
              margin-top:-13px;
            }
          }
          //.active{
          //  color:#fff;
          //  background:#2f87c4;
          //  border:none;
          //}
        }
      }
    }
    .productList-content-left{
      padding:0;
      .productList-content-left-title{
        padding-bottom:26px;
        h3{
          font-size: 24px;
          font-weight: normal;
          color: #333333;
        }
      }
      .productList-content-left-form{
        margin-bottom:60px;
        .productList-content-left-form-table{
          display:none;
          table{
            input[type='checkbox']{
              width:20px;
              height:20px;
              vertical-align: middle;
              //margin-top:-3px;
              margin:0;
              background:#fff;
            }
            border-bottom:1px solid #dcdcdc;
            margin-bottom:0;
            .wrap-buy-num{
              position:relative;
            }
            td{
              padding-left:20px;
              padding-right:20px;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              color: #666666;
              height:140px;
              //line-height: 140px;
              vertical-align: middle;
              text-align: center;
              border-top:none;
              img{
                width:40px;
                height:40px;
              }
              .circle{
                display: inline-block;
                width:24px;
                height:24px;
                -webkit-border-radius:50%;
                -moz-border-radius:50%;
                border-radius:50%;
              }
              .blue{
                color: #01b0f1;
                position:relative;
                top:6px;
              }
              .delete{
                cursor:pointer;
                font-size:22px;
                position:relative;
                top:6px;
              }
              .printer-models{
                display: inline-block;
                vertical-align: middle;
                p{
                  line-height:30px;
                  margin-bottom:0;
                  text-align:left;
                }
              }

              .buy-num{
                position:absolute;
                top:50%;
                margin-top:-15px;
                right:-17%;
                width:130%;
                //height:100%;
                span{
                  display:inline-block;
                  width:24px;
                  height:24px;
                  float:left;
                  line-height: 24px;
                  font-size:16px;
                  border:1px solid #bebebe;
                  border-radius:4px;
                }
                .num-dowm{
                  background:#f5f5f5;
                  color:#969696;
                }
                .num-up{
                  background:#2f87c4;
                  color:#fff;
                }
                input{
                  display: inline-block;
                  width:30px;
                  height:30px;
                  text-align:center;
                }
                button{
                  width:26px;
                  height:26px;
                  margin:0;
                  padding:0;
                  border:none;
                }
              }
              .cart-button{
                width:34px;
                height:34px;
                background: url("../images/subscriptionCenter/cart-icon.jpg") no-repeat;
                background-size: 100% 100%;
                border:none;
              }
            }
            thead{
              background: #f5f5f5;
              tr{
                line-height:61px;
                th{
                  height:61px;
                  vertical-align: middle;
                  //padding:0 20px;
                  font-size: 16px;
                  font-weight: normal;
                  font-style: normal;
                  letter-spacing: 0px;
                  color: #666666;
                  text-align: center;
                  border-bottom:none;
                }
              };
            }
          }
          .firmwareUpgrades-content-left-form-table-page{
            .firmwareUpgrades-content-left-form-table-page-content{
              padding:20px 0;
              .firmwareUpgrades-content-left-form-table-page-content-num{
                padding:0;
                span{
                  font-size: 14px;
                  color: #666666;
                }
                select{
                  display:inline-block;
                  width:50%;
                }
              }
              .firmwareUpgrades-content-left-form-table-page-content-pages{
                padding:0;
                .nopadding{
                  padding:0;
                  padding-top:5px;
                  margin-left:2px;
                }
                .width15{
                  width:24px;
                  //display: inline-block;
                }
                .width25{
                  width:25%;
                  //display: inline-block;
                }
                button{
                  display:inline-block;
                  width:24px;
                  height:24px;
                  padding:0;
                }
                input{
                  width:100%;
                  height:24px;
                }
                .showpages{
                  span{
                    display: inline-block;
                    width:100%;
                    height:24px;
                    line-height: 24px;
                    text-align: center;
                    color:#666666;
                  }
                }

              }
              .firmwareUpgrades-content-left-form-table-page-content-count{
                padding-top:8px;
                font-size: 14px;
                color: #666666;
              }
            }
          }
        }
        .orderCenter-content-left-form-div{
          border:1px solid #e5e5e5;
          padding:20px;
          margin-bottom:60px;
          .orderCenter-content-left-form-div-one{
            width:100%;
            .orderCenter-content-left-form-div-one-left{
              text-align:center;
              border-right:1px solid #e5e5e5;
              input{
                width:20px;
                height:20px;
                vertical-align: middle;
                margin-top:-3px;
                background:#fff;
              }
            }
            .orderCenter-content-left-form-div-one-middle{
              padding:20px 20px;
              i{
                font-style:normal;
                font-size: 16px;
                color: #333;
                margin-right:36px;
              }
              span{
                font-size: 16px;
                color: #666666;
              }
              .nopaddingright{
                padding-right:0;
              }
              .orderCenter-content-left-form-div-one-middle-up{
                margin-bottom:20px;
                .blue{
                  color:rgba(0, 176, 240, 1);
                }
              }

              .orderCenter-content-left-form-div-one-middle-down{
                .printerModels{
                  display:inline-block;
                  vertical-align: top;
                  ul{
                    list-style: normal;
                    list-style-type:none;
                    li{
                      font-size: 16px;
                      //line-height: 36px;
                      color: #666666;
                      margin-bottom:10px;
                    }
                  }
                }
              }
            }
            .orderCenter-content-left-form-div-one-right{
              padding-left:0;
              position:relative;
              .buy-num{
                position:absolute;
                top:20px;
                right:-45%;
                width:140%;
                span{
                  display:inline-block;
                  width:24px;
                  height:24px;
                  float:left;
                  line-height: 24px;
                  font-size:16px;
                  border:1px solid #bebebe;

                }
                .num-dowm{
                  background:#f5f5f5;
                  color:#969696;
                  border-right:none;
                  border-radius:4px 0 0 4px;
                  width:100%;
                  height:100%;
                  line-height:30px;
                }
                .num-up{
                  background:#2f87c4;
                  color:#fff;
                  border:none;
                  border-radius:0 4px 4px 0;
                  width:100%;
                  height:100%;
                  line-height:30px;
                }
                input{
                  display: inline-block;
                  width:32px;
                  height:30px;
                  float:left;
                  text-align:center;
                }
                button{
                  width:27px;
                  height:30px;
                  margin:0;
                  padding:0;
                  border:none;
                  float:left;
                }
              }
              .delete{
                position:absolute;
                width:22px;
                height:26px;
                bottom:30px;
                right:10px;
                span{
                  color:rgba(140, 140, 140, 1);
                  font-size:22px;
                  width:100%;
                  height:100%;
                }
              }
            }
          }
          .orderCenter-content-left-form-div-unismart{
            .orderCenter-content-left-form-div-one-middle{
              padding:5rem 3rem;
              .product-detail{
                padding:32px 0;
              }
              img{
                max-width:100px;
                height:auto;
              }
            }
          }
        }
      }
    }
    .orderCenter-content-bottom-bar{
      //positon:absolute;
      background:rgba(47, 135, 196, 1);
      height:90px;
      //line-height:90px;
      div{
        //vertical-align: middle;

      }
      .select-all-box{
        text-align:center;
        height:90px;
        line-height:90px;
        .wrap-checkbox{
          margin-right:10px;
        }
        input{
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-top: -3px;
          background: #fff;
          margin-right:10px;
        }
        span{
          font-size: 16px;
          color: #ffffff;
        }
      }
      .delete-button-box{
        text-align:center;
        height:90px;
        line-height:90px;
        span{
          margin-right:10px;
          color:#fff;
          font-size:18px;
          position:relative;
          top:3px;
        }
        a{
          font-size: 16px;
          color: #ffffff;
          text-decoration:none;
        }
      }
      .pages-box{
        ul{
          margin:29px 0;
          padding:0 5%;
          li{
            display:block;
            float:left;
            width:40%;
            margin-left:5%;
            a{
              width:100%;
              border-radius:4px;
              &:hover{
                background:#fff;
                color:#337ab7;
              }
            }
            &:first-of-type{
              a{
                border:1px solid #fff;
                color:#fff;
                background:none;
                &:hover{
                  background: #fff;
                  color:#337ab7;
                }
              }
            }
          }
        }
      }
    }
  }

  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      .carousel-indicators{
        //left:90%;
        bottom:-1rem;
        li{
          background:#fff;
          width:.6rem;
          height:.6rem;
        }
        .active{
          width:1.2rem;
          height:.6rem;
          border-radius:6px;
        }
      }
    }
  }
  .productList-content-left-form-table{
    display: none;
  }
  .orderCenter-content-left-form-div{
    border:1px solid #e5e5e5;
    .orderCenter-content-left-form-div-one{
      display:table;
      .orderCenter-content-left-form-div-one-left{
        text-align:center;
        input{
          width:20px;
          height:20px;
          vertical-align: middle;
          margin-top:-3px;
          background:#fff;
        }
      }
      .orderCenter-content-left-form-div-one-middle-up{
        margin-bottom:20px;
        .blue{
          color:rgba(0, 176, 240, 1);
        }
      }
      .orderCenter-content-left-form-div-one-middle{
        padding:30px 20px;
        i{
          font-style:normal;
          font-size: 16px;
          color: #333;
          margin-right:36px;
        }
        span{
          font-size: 16px;
          color: #666666;
        }
        .nopaddingright{
          padding-right:0;
        }

        .orderCenter-content-left-form-div-one-middle-down{
          .printerModels{
            display:inline-block;
            vertical-align: top;
            ul{
              list-style: normal;
              list-style-type:none;
              li{
                font-size: 16px;
                //line-height: 36px;
                color: #666666;
                margin-bottom:10px;
              }
            }
          }
        }
      }
      .orderCenter-content-left-form-div-one-right{
        padding-left:0;
        position:relative;
        .buy-num{
          position:absolute;
          top:30px;
          right:20px;
          span{
            display:inline-block;
            width:24px;
            height:24px;
            float:left;
            line-height: 24px;
            font-size:16px;
            border:1px solid #bebebe;

          }
          .num-dowm{
            background:#f5f5f5;
            color:#969696;
            border-radius:4px 0 0 4px;
          }
          .num-up{
            background:#2f87c4;
            color:#fff;
            border-radius:0 4px 4px 0;
          }
          input{
            display: inline-block;
            width:24px;
            height:24px;
            float:left;
            text-align:center;
          }
          button{
            width:24px;
            height:24px;
            margin:0;
            padding:0;
            border:none;
            float:left;
          }
        }
        .delete{
          position:absolute;
          bottom:30px;
          right:20px;
          span{
            color:rgba(140, 140, 140, 1);
          }
        }
      }
    }
  }

  .orderCenter-content {
    //max-width: 1280px;
    //margin: 50px auto;
    //padding-bottom:500px;
    .orderCenter-content-header{
      padding-bottom:5rem;
      border-bottom:1px solid #e5e5e5;
      .orderCenter-content-header-title{
        h3{
          font-size: 2.4rem;
          font-weight: normal;
          color: #333333;
          text-align: center;
          margin:3rem 0;
        }
      }
      .orderCenter-content-header-descript{
        padding:0 1rem;
        p{
          font-size: 1.2rem;
          color: #666666;
          text-align: left;
          margin-bottom:4rem;
        }
      }

      .orderCenter-content-header-steps{
        .orderCenter-content-header-steps-img{
          padding:0 3rem;
          img{
            width:100%;
            height:auto;
          }
        }
        .orderCenter-content-header-steps-word{
          text-align:center;
          padding:1rem 0;
          .setp{
            font-size: 1.2rem;
            color: #999999;
          }
          .setp1,.setp2{
            color:#2f87c4;
          }
          .setp1{
            text-align:left;
            padding-left:1rem;
          }
          .setp2{
            padding:0 3rem;
          }
          .setp3{
            text-align:right;
            padding-right:1rem;
            padding-left:3rem;
          }
        }
      }
    }

    .productList-content-wrap-table{
      background: #e5e5e5;
    }
    .productList-content-left{
      padding:0;
      background: #fff;
      margin-bottom:1rem;
      padding-bottom:1rem;
      .productList-content-left-title{
        h3{
          font-size: 2rem;
          font-weight: normal;
          color: #333333;
          padding-left:1rem;
        }
      }
      .productList-content-left-form{
        .orderCenter-content-left-form-mobile{
          padding:0 1rem;
          h4{
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 2.4rem;
            color: #666666;
          }
          p{
            font-size: 1.2rem;
            color: #a3a3a3;
          }
          .nopadding{
            padding:0;
          }
          .orderCenter-content-left-form-mobile-up{
            padding:2rem 0;
            .orderCenter-content-left-form-mobile-up-img{
              padding-left:4rem;
            }
            img{
              width:10rem;
              height:auto;
              max-height:10rem;
            }
            h4{
              font-size: 1.4rem;
              font-weight: normal;
              line-height: 2rem;
              color: #666666;
            }
            span{
              font-size:1.2rem;
              color:#a3a3a3;
            }
          }
          .orderCenter-content-left-form-mobile-middle{
            ul{
              padding:0;
              list-style:normal;
              list-style-type: none;
              li{
                word-break:break-all;
                font-size: 1.2rem;
                color: #a3a3a3;
                margin-bottom:1rem;
              }
            }
          }
          .orderCenter-content-left-form-mobile-down{
            .buy-num{
              span{
                display:inline-block;
                width:4.8rem;
                height:4.8rem;
                float:left;
                line-height: 4.8rem;
                font-size:2.4rem;
                border:1px solid #bebebe;

              }
              .num-dowm{
                background:#f5f5f5;
                color:#969696;
                border-right:none;
                border-radius:4px 0 0 4px;
              }
              .num-up{
                background:#2f87c4;
                color:#fff;
                border:none;
                border-radius:0 4px 4px 0;
              }
              input{
                display: inline-block;
                width:4.8rem;
                height:4.8rem;
                float:left;
                text-align:center;
              }
              button{
                width:4.8rem;
                height:4.8rem;
                margin:0;
                padding:0;
                border:none;
                float:left;
              }
            }
            .orderCenter-content-left-form-mobile-down-left{
              padding:0;
              vertical-align: bottom;
              margin-top:2rem;
              input{
                width:2rem;
                height:2rem;

              }
            }
            .orderCenter-content-left-form-mobile-down-middle{
              padding:0;
              vertical-align: bottom;
              text-align:center;
              margin-top:2rem;
              span{
                font-size:2rem;
                margin-top:.2rem;
                color:rgba(140, 140, 140, 1);
              }
            }
            .orderCenter-content-left-form-mobile-down-right{
              text-align:right;
              .buy-num{
                float: right;
              }
            }
          }
        }
      }
    }
    .orderCenter-content-bottom-bar{
      .nopadding{
        padding:0;
      }
      padding:3rem 1rem;
      background:rgba(47, 135, 196, 1);
      .select-all-box{
        text-align:left;
        padding-right:0;
        margin-bottom:3rem;
        input{
          width: 2rem;
          height: 2rem;
          vertical-align: middle;
          margin-top: -.3rem;
          background: #fff;
          margin-right:1rem;
        }
        span{
          font-size: 1.4rem;
          color: #ffffff;
        }
      }
      .delete-button-box{
        text-align:left;
        padding-right:0;
        span{
          margin-right:1rem;
          color:#fff;
          font-size:1.8rem;
          position:relative;
          top:.3rem;
        }
        a{
          font-size: 1.4rem;
          color: #ffffff;
          text-decoration:none;
        }
      }
      .pages-box{
        ul{
          margin:0;
          padding:0 5%;
          margin-top:-.8rem;
          li{
            display:block;
            width:100%;
            a{
              width:100%;
              border-radius:4px;
            }
            &:first-of-type{
              margin-bottom:2rem;
              a{
                border:1px solid #fff;
                color:#fff;
                background: none;
              }
            }
          }
        }
      }
    }
  }


}