@import "variables.less";
@import "base.less";


//公共样式


//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
  //768- sm->lg
  .subscriptionCenter-navbar {
    height: 110px;

    background: #f5f5f5;
  }

  //首屏页面
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      height:280px;
      overflow: hidden;
      img{
        width:100%;
        height:280px;
      }
      .carousel-indicators{
        left:90%;
        bottom:10px;
        li{
          background:#fff;
        }
        .active{
          width:24px;
          height:12px;
          border-radius:6px;
        }
      }
    }
  }

  .subscriptionCenter-tabBar{
    //height: 64px;
    background: rgba(47, 136, 196, 1);
    nav.navbar-default{
      //height: 64px;
      padding: 0 240px;
      background: rgba(47, 136, 196, 1);
      border: none;
      margin-bottom: 0;
      .navbar-nav{
        .active{
          a{
            color: #fff;
            background: rgba(47, 136, 196, 1);
          }
        }
        a{
          color: #a4c7de;
        }
        li{
          //width: 90px;
        }
      }
      .container-fluid{
        background: rgba(47, 136, 196, 1);
      }
    }

  }

  .productList-content {
    max-width: 1280px;
    margin: 50px auto;
    .productList-content-header{
      border-bottom:1px solid #e5e5e5;
      h3{
        font-size: 30px;
        font-weight: normal;
        line-height: 36px;
        color: #000000;
        margin-bottom:20px;
      }
      .productList-content-header-search{
        border-bottom:1px solid rgba(229, 229, 229, 1);
        padding-bottom:10px;
        .nopaddingleft{
          padding-left:0;
        }
        .productList-content-header-search-right{
          .productList-content-header-search-right{
            .searcn-icon{
              position:absolute;
              top:10px;
              left:25px;
              color:#666;
              z-index: 1111;
            }
            input{
              padding-left:30px;
            }
          }
          button{
            background: rgba(47, 136, 196, 1);
            color:#fff;
            width:100px;
          }
        }
      }
    }
    .productList-content-select-style{
      height:100px;
      line-height:100px;
      .nopadding{
        padding:0;
      }
      .productList-content-select-style-content{
        .productList-content-select-style-content-left{
          span{
            font-size: 18px;
            color: #666666;
          }
        }
        .productList-content-select-style-content-icon{
          &:hover{
            cursor: pointer;
          }

          span{
            display:inline-block;
            width:48px;
            height:48px;
            border-radius:50%;
            border:solid 2px rgba(205, 205, 205, 1);
            vertical-align: middle;
            font-size:24px;
            color:#666;
            &:before{
              position:absolute;
              top:50%;
              left:50%;
              margin-left:-12px;
              margin-top:-13px;
            }
          }
          .active{
            color:#fff;
            background:#2f87c4;
            border:none;
          }
        }
      }
    }
    .productList-content-left{
      padding:0;
      .productList-content-left-header{
        h3{
          font-size: 24px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #333333;
          margin-bottom:41px;
        }
        p{
          font-size: 18px;
          letter-spacing: 0px;
          line-height: 30px;
          color: #666666;
          margin-bottom:90px;
        }
      }
      .productList-content-left-title{
        h3{
          font-size: 24px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #333333;
          margin-bottom:60px;
        }
      }
      .productList-content-left-form{
        .productList-content-left-form-table{
          table{
            border-bottom:1px solid #dcdcdc;
            margin-bottom:0;
            td{
              padding-left:20px;
              padding-right:20px;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              color: #666666;
              height:140px;
              line-height: 140px;
              text-align: center;
              img{
                width:40px;
                height:40px;
              }
              .circle{
                display: inline-block;
                width:24px;
                height:24px;
                -webkit-border-radius:50%;
                -moz-border-radius:50%;
                border-radius:50%;
              }
              .blue{
                background: #01b0f1;
                position:relative;
                top:6px;
              }
              .printer-models{
                display: inline-block;
                vertical-align: middle;
                p{
                  line-height:30px;
                  margin-bottom:0;
                  text-align:left;
                }
              }
              .buy-num{
                span{
                  display:inline-block;
                  width:24px;
                  height:24px;
                  float:left;
                  line-height: 24px;
                  font-size:16px;
                  border:1px solid #bebebe;
                  border-radius:4px;
                }
                .num-dowm{
                  background:#f5f5f5;
                  color:#969696;
                }
                .num-up{
                  background:#2f87c4;
                  color:#fff;
                }
                input{
                  display: inline-block;
                  width:30px;
                  height:30px;
                }
                button{
                  width:26px;
                  height:26px;
                  margin:0;
                  padding:0;
                  border:none;
                }
              }
              .cart-button{
                width:34px;
                height:34px;
                background: url("../images/subscriptionCenter/cart-icon.jpg") no-repeat;
                background-size: 100% 100%;
                border:none;
              }
            }
            thead{
              background: rgba(238, 238, 238, 1);
              tr{
                line-height:61px;
                th{
                  line-height:61px;
                  padding:0 20px;
                  font-size: 16px;
                  font-weight: normal;
                  font-style: normal;
                  letter-spacing: 0px;
                  color: #666666;
                  text-align: center;
                }
              };
            }
          }
          .firmwareUpgrades-content-left-form-table-page{
            .firmwareUpgrades-content-left-form-table-page-content{
              padding:20px 0;
              .firmwareUpgrades-content-left-form-table-page-content-num{
                padding:0;
                span{
                  font-size: 14px;
                  color: #666666;
                }
                select{
                  display:inline-block;
                  width:50%;
                }
              }
              .firmwareUpgrades-content-left-form-table-page-content-pages{
                padding:0;
                .nopadding{
                  padding:0;
                  padding-top:5px;
                  margin-left:2px;
                }
                .width15{
                  width:24px;
                  //display: inline-block;
                }
                .width25{
                  width:25%;
                  //display: inline-block;
                }
                button{
                  display:inline-block;
                  width:24px;
                  height:24px;
                  padding:0;
                }
                input{
                  width:100%;
                  height:24px;
                }
                .showpages{
                  span{
                    display: inline-block;
                    width:100%;
                    height:24px;
                    line-height: 24px;
                    text-align: center;
                    color:#666666;
                  }
                }

              }
              .firmwareUpgrades-content-left-form-table-page-content-count{
                padding-top:8px;
                font-size: 14px;
                color: #666666;
              }
            }
          }
        }
      }
    }
  }

  .subscriptionCenter-list {
    max-width: 1280px;
    margin: 50px auto;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 60px;
    position: relative;
    .subscriptionCenter-list-title{
      h4{
        font-size: 30px;
        font-weight: normal;
        color: #333333;
        margin: 40px 0;
      }
    }
    .subscriptionCenter-list-content{
      transition: 2s;
      //transition: height 2s;
      //-webkit-transition: height 2s;
      //transition: height 1s linear 2s;
      ///* Firefox 4 */
      //-moz-transition:height 1s linear 2s;
      ///* Safari and Chrome */
      //-webkit-transition:height 1s linear 2s;
      ///* Opera */
      //-o-transition:height 1s linear 2s;
      height:350px;
      overflow: hidden;
      .subscriptionCenter-list-content-box{
        padding: 0;
        margin-bottom: 40px;
        .subscriptionCenter-list-content-box-wrap{
          padding: 0;
          background-color: rgba(255, 255, 255, 1);
          box-shadow: 0px 3px 7px 0px
          rgba(0, 0, 0, 0.35);
          border: solid 1px rgba(229, 229, 229, 1);
        }
        .subscriptionCenter-list-content-box-left{
          //width: 188px;
          height: 325px;
          padding: 0;
          overflow: hidden;
          img{
            width: 100%;
            height: auto;
          }
        }
        .subscriptionCenter-list-content-box-right{
          .subscriptionCenter-list-content-box-right-title{
            padding-top: 35px;
            padding-bottom: 22px;
            border-bottom: solid 1px rgba(229, 229, 229, 1);
            h4{
              font-size: 26px;
              letter-spacing: 0px;
              color: #333333;
            }
            p{
              font-size: 16px;
              color: #595959;
            }
          }
          .subscriptionCenter-list-content-box-right-content{
            h4{
              i{
                display: inline-block;
                width: 24px;
                height: 32px;
                background: url('../images/subscriptionCenter/pdf-bg.png') no-repeat 0 0;
                background-size: 100% 100%;
                vertical-align: middle;
                margin-right:20px;
              }
              font-size: 16px;
              font-weight: normal;
              color: #595959;
            }
            p{
              font-size: 12px;
              color: #8c8c8c;
              margin-bottom: 20px;
            }
            .newslist-btn{
              width: 100%;
              font-size: 18px;
              font-weight: normal;
            }
          }
        }
      }
    }
    .subscriptionCenter-list-content:hover{
      //height:500px;
    }
    .show-all-box{
      height:auto;
    }
    .subscriptionCenter-list-button{
      width: 80px;
      height:25px;
      position:absolute;
      left:50%;
      margin-left:-40px;
      bottom: -25px;
      border-radius: 0px 0px 4px 4px;
      overflow:hidden;
      button{
        width:100%;
        height:100%;
        background-color: rgba(220, 220, 220, 1);
        span{
          color:#fff;
          font-size: 20px;
          position:relative;
          top:-4px;
        }
      }
    }
  }

  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
  .subscriptionCenter-tabBar{
    //height: 64px;
    background: rgba(47, 136, 196, 1);
    nav.navbar-default{
      //height: 64px;
      background: rgba(47, 136, 196, 1);
      border: none;
      margin-bottom: 0;
      .navbar-nav{
        margin-bottom: 0;
        //border-bottom: 1px solid #fff;
        .active{
          a{
            color: #fff;
            background: rgba(47, 136, 196, 1);
          }
        }
        a{
          color: #a4c7de;
        }
        li{

        }
        .dropdown{
          text-align: center;
          .dropdown-toggle{
            color: #fff;
            background: rgba(47, 136, 196, 1);
            font-size: 1.8rem;
            span{
              font-size: 1.4rem;
            }
          }
          .dropdown-menu{
            li{
              a{
                color: #fff;
              }
            }
          }
        }
      }
      .container-fluid{
        background: rgba(47, 136, 196, 1);
      }
    }

  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      .carousel-indicators{
        //left:90%;
        bottom:-1rem;
        li{
          background:#fff;
          width:.6rem;
          height:.6rem;
        }
        .active{
          width:1.2rem;
          height:.6rem;
          border-radius:6px;
        }
      }
    }
  }
  .productList-content-left-form-table{
    display: none;
  }

  //手机端商品列表展示
  .productList-sm{
    padding-top: 1.2rem;
    background-color: #f5f5f5;
    .product-item{
      padding: 2rem 1rem;
      background-color: #fff;
      margin-bottom: 1.2rem;
      .flex{
        display: flex;
        .flex-item{
          flex: 1;
        }
      }
      .item-tp{
        .product-img{
          >img{
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
      .item-md{
        margin-top: 1rem;
      }
      .product-info{
        margin-top: 1.5rem;
        .info-title{
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: #666666;
        }
        .info-detail{
          color: #656665;
          font-size: 1.4rem;
        }
      }
      .product-btm{
        display: flex;
        margin-top: 1.5rem;
        .cart-btn{
          flex: 1;
          >button{
            height: 4.5rem;
            background-color: #ffffff;
            border-radius: .02rem;
            border: solid 1px #2f87c4;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            width: 100%;
            >img{
              width: 1.5rem;
              height: 1.5rem;
              margin-right: .2rem;
            }
            >span{
              font-size: 1.5rem;
              line-height: 1.4rem;
              color: #2f87c4;
            }
          }
        }
        .counter{
          padding-left: 1rem;
          display: flex;
          width: 14rem;
          height: 4.5rem;
          background-color: #ffffff;
          border-radius: .02rem;
          border: solid .01rem #b5b5b5;
          text-align: center;
          >div{
            flex: 1;
          }
          .counter-reduce{
            font-size: 2.8rem;
            height: 4.5rem;
            line-height: 4.5rem;
            background-color: #eaeaea;
            color: #666666;
          }
          .counter-num{
            font-size: 2.4rem;
            line-height: 4.5rem;
            color: #333333;
          }
          .counter-add{
            font-size: 2.4rem;
            height: 4.5rem;
            line-height: 4.5rem;
            background-color: #2f87c4;
            color: #ffffff;
          }
        }
      }
      .info-item{
        >p{
          margin: 0 0 .5rem;
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: #666666;
        }
        >span{

        }
      }
    }
    .product-item:last-child{
      margin-bottom: 0;
    }
  }
  .productList-content{
    margin:0;
  }

  .filter-mobile{
    .filter-mobile-title{
      border-bottom:1px solid #e5e5e5;
      h3{
        line-height:5rem;
        text-align: center;
        color: #333;
        background: #fff;
        font-size: 1.8rem;
        margin:0;
        span{
          font-size: 1.4rem;
        }
      }
    }
    .filter-mobile-content{
      display:none;
      padding:2rem;
      .filter-mobile-content-list-search{
        position:relative;
        .input-group{
          width:100%;
        }
        .searcn-icon{
          position:absolute;
          top:1rem;
          left:1rem;
          color:#666;
          z-index: 1111;
        }
        input{
          padding-left:3rem;
          font-size:1rem;
          width:100%;
        }
      }
    }
  }
}