@import "variables.less";
@import "base.less";
@import "header.less";
@import "footer.less";


//公共样式


//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
  //input placeholder style
  //::-webkit-input-placeholder { /* WebKit browsers */
  //  //font-size:14px;
  //  //font-weight:normal;
  //}
  //:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  //
  //}
  //::-moz-placeholder { /* Mozilla Firefox 19+ */
  //
  //}
  //:-ms-input-placeholder { /* Internet Explorer 10+ */
  //
  //}

  //首屏页面
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      height:280px;
      overflow: hidden;
      img{
        width:100%;
        height:280px;
      }
      .carousel-indicators{
        left:90%;
        bottom:10px;
        li{
          background:#fff;
        }
        .active{
          width:24px;
          height:12px;
          border-radius:6px;
        }
      }
    }
  }

  .subscriptionCenter-tabBar{
    //height: 64px;
    background: rgba(47, 136, 196, 1);
    nav.navbar-default{
      //height: 64px;
      padding: 0 240px;
      background: rgba(47, 136, 196, 1);
      border: none;
      margin-bottom: 0;
      .navbar-nav{
        .active{
          a{
            color: #fff;
            background: rgba(47, 136, 196, 1);
          }
        }
        a{
          color: #a4c7de;
        }
        li{
          //width: 90px;
        }
      }
      .container-fluid{
        background: rgba(47, 136, 196, 1);
      }
    }

  }

  .productList-content {
    max-width: 1280px;
    margin: 50px auto;
    .productList-content-header{
      font-family: @font-sub-family;
      border-bottom:1px solid #e5e5e5;
      h3{
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        color: #000000;
        margin-bottom:20px;

      }
      .productList-content-header-search{
        //border-bottom:1px solid rgba(229, 229, 229, 1);
        padding-bottom:10px;
        .nopaddingleft{
          padding-left:0;
        }
        .form-group{
          position: relative;
          span{
            position:absolute;
            top:15px;
            right:12px;
            font-size:14px;
            //color:#5a5a5a;
            color: #595959;
          }
          select{
            height:40px;
            font-size:16px;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            color: #595959;
            &:hover{
              background: #fafafa;
              cursor: pointer;
            }
          }
        }
        .productList-content-header-search-right{
          .productList-content-header-search-right{
            .searcn-icon{
              position:absolute;
              top:13px;
              left:25px;
              width:15px;
              height:15px;
              color:#9e9e9e;
              z-index: 1111;
              background: url('../images/search-icon-new.png') no-repeat 0 0;
              background-size: 100% 100%;
            }
            input{
              font-size: 14px;
              color: #c2c2c2;
              padding-left:38px;
              border-radius: 4px;
              height:40px;
              &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #c2c2c2;
              }
              &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #c2c2c2;
              }
              &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #c2c2c2;
              }
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #c2c2c2;
              }
            }
          }
          .search-btn{
            padding-left: 4px;
          }
          button{
            width: 120px;
            height: 40px;
            background-color: #2f88c4;
            border-radius: 4px;
            border: none;
            font-size: 18px;
            color:#fff;
          }
        }
      }
    }
    .productList-content-select-style{
      height:100px;
      line-height:100px;
      .nopadding{
        padding:0;
      }
      .productList-content-select-style-content{
        .productList-content-select-style-content-left{
          float:right;
          margin-right:20px;
          span{
            font-size: 18px;
            color: #666666;
          }
        }
        .wrap-style{
          float:right;
        }
        .style-one{
          float:right;
          span{
            background: url("../images/common/style1.png");
            background-size: 100% 100%;
          }
          .active{
            background: url("../images/common/style1-a.png");
            background-size: 100% 100%;
          }
        }
        .style-two{
          margin-left:20px;
          float:right;
          span{
            background: url("../images/common/style2.png");
            background-size: 100% 100%;
          }
          .active{
            background: url("../images/common/style2-a.png");
            background-size: 100% 100%;
          }
        }
        .productList-content-select-style-content-icon{
          &:hover{
            cursor: pointer;
          }

          span{
            display:inline-block;
            width:48px;
            height:48px;
            //border-radius:50%;
            //border:solid 2px rgba(205, 205, 205, 1);
            vertical-align: middle;
            font-size:24px;
            color:#666;
            &:before{
              position:absolute;
              top:50%;
              left:50%;
              margin-left:-12px;
              margin-top:-13px;
            }
          }
          //.active{
          //  color:#fff;
          //  background:#2f87c4;
          //  border:none;
          //}
        }
      }
    }
  }

  //产品列表
  .productList-md{
    .product-item{
      .cart-btn{
        .cart-img{
          display: inline-block;
        }
        .cart-img-hover{
          display: none;
        }
      }
      &:hover{
        .product-buy{
          .cart-btn{
            >button {
              background-color: #2f87c4;
              >span{
                color: #ffffff;
              }
              .cart-img{
                display: none;
              }
              .cart-img-hover{
                display: inline-block;
              }
            }
          }
        }
      }
      display: flex;
      background-color: #ffffff;
      border: solid 1px #e5e5e5;
      margin-bottom: 35px;
      .product-img{
        padding: 50px 0;
        margin: 50px 0;
        flex: 1;
        max-width: 212px;
        border-right: 1px solid #e5e5e5;
        >img{
          margin: 0 auto;
          display: block;
          width: 85px;
          height: 85px;
        }
      }
      .product-info{
        flex: 3;
        padding-left: 70px;
        padding-right: 30px;
        .font1{
          font-family: CiscoSans;
          font-size: 18px;
          color: #666666;
        }
        .font2{
          font-family: CiscoSans-ExtraLight;
          font-size: 18px;
          color: #8B8C8B;
        }
        .info-tp{
          margin-top: 20px;
          display: flex;
          .flex-item{
            flex: 1;
            >p{
              font-family: @font-family;
              font-size: 18px;
              line-height: 36px;
              color: #666666;
            }
            >span{
              font-family: @font-sub-family;
              display: inline-block;
              font-size: 16px;
              line-height: 36px;
              color: #666666;
            }
          }
          .color-item{
            display: flex;
            .color{
              flex: 1;
              font-size: 18px;
              line-height: 36px;
              color: #666666;
            }
            .colorI-wrap{
              flex: 1;
              .colorI{
                width: 22px;
                height: 22px;
                //background-color: #01b0f1;
                display: block;
                margin-top: 5px;
                //border-radius: 22px;
              }
            }
          }
        }
        .info-btm{
          margin-top: 30px;
          display: flex;
          p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          .info-title{
            width: 220px;
            font-size: 16px;
            line-height: 36px;
            color: #666666;
            overflow: hidden;
          }
          .info-detail{
            font-family: @font-sub-family;
            flex: 1;
            font-size: 16px;
            line-height: 36px;
            color: #666666;
            overflow: hidden;
          }
        }
      }

      .product-buy{
        background-color: #ffffff;
        border-radius: 4px;
        margin-top: 30px;
        padding-right: 30px;
        .counter{
          float: right;
          display: flex;
          width: 120px;
          height: 40px;
          background-color: #ffffff;
          border-radius: 4px;
          border: solid 1px #b5b5b5;
          text-align: center;
          >button{
            padding: 0;
            border: none;
          }
          .counter-reduce{
            flex: 1;
            font-size: 28px;
            line-height: 40px;
            background-color: #eaeaea;
            color: #666666;
          }
          .counter-num{
            flex: 1;
            font-size: 24px;
            line-height: 40px;
            color: #333333;
            border-left: solid 1px #b5b5b5;
            border-right: solid 1px #b5b5b5;
            >input{
              border: none;
              border-radius: initial;
              height: 100%;
              font-size: 20px;
            }
          }
          .counter-add{
            flex: 1;
            font-size: 24px;
            line-height: 40px;
            background-color: #2f87c4;
            color: #ffffff;
          }
        }

        .cart-btn{
          >button{
            margin-top: 110px;
            background-color: #ffffff;
            border-radius: 4px;
            border: solid 1px #2f87c4;
            padding: 17px 14px 16px 20px;
            width: 100%;
            >img{
              width: 21px;
              height: 21px;
              margin-right: 9px;
              margin-top: -7px;
            }
            >span{
              font-size: 18px;
              color: #2f87c4;
            }
          }
        }

      }
    }
    .product-item:hover{
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.18);
    }
  }

  .productList-table-page{

    .productList-table-page-content{
      padding:20px 0 20px 50px;
      .productList-table-page-content-num{
        padding:0;
        span{
          font-size: 14px;
          color: #666666;
        }
        select{
          display:inline-block;
          width:50%;
          height:24px;
          border-radius:0;
          padding:2px 6px;
          margin-top:6px;
        }
      }
      .productList-table-page-content-pages{
        padding-right:0;
        .nopadding{
          padding:0;
          padding-top:5px;
          margin-left:2px;
        }
        .width15{
          width:24px;
          //display: inline-block;
        }
        .width25{
          width:25%;
          //display: inline-block;
        }
        button{
          display:inline-block;
          width:24px;
          height:24px;
          padding:0;
          padding-top:2px;
          border-style:none;
          background:#fff;
          border:1px solid #999;
        }
        input{
          width:100%;
          height:24px;
          padding:4px;
          line-height:24px;
        }
        .showpages{
          span{
            display: inline-block;
            width:100%;
            height:24px;
            line-height: 24px;
            text-align: center;
            color:#666666;
          }
        }

      }
      .productList-table-page-content-count{
        padding-top:8px;
        font-size: 14px;
        color: #666666;
      }
    }
  }

  .productList-sm{
    display: none;
  }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
  .subscriptionCenter-tabBar{
    //height: 64px;
    background: rgba(47, 136, 196, 1);
    nav.navbar-default{
      //height: 64px;
      background: rgba(47, 136, 196, 1);
      border: none;
      margin-bottom: 0;
      .navbar-nav{
        margin-bottom: 0;
        //border-bottom: 1px solid #fff;
        .active{
          a{
            color: #fff;
            background: rgba(47, 136, 196, 1);
          }
        }
        a{
          color: #a4c7de;
        }
        li{

        }
        .dropdown{
          text-align: center;
          .dropdown-toggle{
            color: #fff;
            background: rgba(47, 136, 196, 1);
            font-size: 1.8rem;
            span{
              font-size: 1.4rem;
            }
          }
          .dropdown-menu{
            li{
              a{
                color: #fff;
              }
            }
          }
        }
      }
      .container-fluid{
        background: rgba(47, 136, 196, 1);
      }
    }

  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    //height: 280px;
    overflow: hidden;
    #myCarousel{
      .carousel-indicators{
        //left:90%;
        bottom:-1rem;
        li{
          background:#fff;
          width:.6rem;
          height:.6rem;
        }
        .active{
          width:1.2rem;
          height:.6rem;
          border-radius:6px;
        }
      }
    }
  }

  //手机端商品列表展示
  .productList-sm{
    padding-top: 1.2rem;
    background-color: #f5f5f5;
    .product-item{
      padding: 2rem 1rem;
      background-color: #fff;
      margin-bottom: 1.2rem;
      .flex{
        display: flex;
        .flex-item{
          flex: 1;
        }
      }
      .item-tp{
        .product-img{
          >img{
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
      .item-md{
        margin-top: 1rem;
      }
      .product-info{
        margin-top: 1.5rem;
        .info-title{
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: #666666;
        }
        .info-detail{
          font-family: @font-sub-family;
          color: #656665;
          font-size: 1.4rem;
        }
      }
      .product-btm{
        display: flex;
        margin-top: 1.5rem;
        .cart-btn{
          flex: 1;
          >button{
            height: 4.5rem;
            background-color: #ffffff;
            border-radius: .02rem;
            border: solid 1px #2f87c4;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            width: 100%;
            >img{
              width: 1.5rem;
              height: 1.5rem;
              margin-right: .2rem;
            }
            >span{
              font-size: 1.5rem;
              line-height: 1.4rem;
              color: #2f87c4;
            }
          }
        }
        .counter{
          margin-left: 1rem;
          display: flex;
          width: 14rem;
          height: 4.5rem;
          background-color: #ffffff;
          border-radius: .02rem;
          border: solid 1px #b5b5b5;
          text-align: center;
          >div{
            flex: 1;
          }
          .counter-reduce{
            font-size: 2.8rem;
            line-height: 4.5rem;
            background-color: #eaeaea;
            color: #666666;
          }
          .counter-num{
            font-size: 2.4rem;
            line-height: 4.5rem;
            color: #333333;
            border-left: solid 1px #b5b5b5;
            border-right: solid 1px #b5b5b5;
            >input{
              border: none;
              border-radius: initial;
              height: 100%;
            }
          }
          .counter-add{
            font-size: 2.4rem;
            line-height: 4.5rem;
            background-color: #2f87c4;
            color: #ffffff;
          }
        }
      }
      .info-item{
        >p{
          margin: 0 0 .5rem;
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: #666666;
        }
        >span{
          font-family: @font-sub-family;
        }
        .colorI{
          width: 1.1rem;
          height: 1.1rem;
          background-color: #01b0f1;
          display: block;
          border-radius: 1.1rem;
        }
      }
    }
    .product-item:last-child{
      margin-bottom: 0;
    }
  }
  .productList-content{
    margin:0;
  }

  .filter-mobile{
    .filter-mobile-title{
      border-bottom:1px solid #e5e5e5;
      h3{
        line-height:5rem;
        text-align: center;
        color: #333;
        background: #fff;
        font-size: 1.8rem;
        margin:0;
        span{
          font-size: 1.4rem;
        }
      }
    }
    .filter-mobile-content{
      display:none;
      padding:2rem;
      .filter-mobile-content-list-search{
        position:relative;
        .input-group{
          width:100%;
        }
        .searcn-icon{
          position:absolute;
          top:1rem;
          left:1rem;
          color:#666;
          z-index: 1111;
        }
        input{
          padding-left:3rem;
          font-size:1rem;
          width:100%;
        }
      }
    }
  }
}