@import "variables.less";
@import "base.less";

//公共样式

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
  //768- sm->lg
  .search-product-navbar {
    height: 110px;
    background: #f5f5f5;
  }

  .search-product-banner{
    position: relative;
    overflow: hidden;
    height: 300px;
    .banner-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      opacity: 0.35;
      background-image: url(../images/searchResult/banner-bg.png);
    }
    .search-input{
      margin: 125px auto;
      height: 50px;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      >input{
        width: 100%;
        height: 100%;
        border-right: none;
        box-shadow: none;
      }
      .icon-wrap{
        background: #fff;
        .search-icon{
          padding: 6px 20px;
          color: #999999;
        }
      }
    }
  }

  //按钮列表
  .nothing-btn-list{
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    .btn-wrap{
      max-width: 1280px;
      margin: 0 auto;
      line-height: 70px;
      .dropdown{
        display: none;
      }
      >.btn{
        display: inline-block;
        margin-left: 20px;
        border-radius: 3px;
        border: solid 1px #2f88c4;
        color: #2f87c4;
        &.btn-active{
          background-color: #2f87c4;
          border: solid 1px #2f88c4;
          color: #fff;
        }
      }
    }
  }
  //搜索结果列表
  .nothing-result-num{
    max-width: 1280px;
    margin: 0 auto;
    height: 70px;
    line-height: 50px;
    font-size: 16px;
    color: #999999;
  }
  .search-product-footer {
    height: 777px;
    background: #f5f5f5;
  }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
  //768-xs
  .searchProduct-navbar {
    height: 5rem;
  }

  .search-product-footer {
    height: 449px;
    background: #f5f5f5;
  }
}
