@import "variables.less";
@import "base.less";
@import "footer.less";
@import "header.less";

//公共样式


//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    //768- sm->lg
    .search-product-navbar {
        height: 110px;
        background: #f5f5f5;
    }

    .search-product-banner{
        position: relative;
        overflow: hidden;
        height: 300px;
        .banner-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-image: url(../images/searchResult/banner-bg.png);
            background-size: 100% 100%;
        }
        .search-input{
            margin: 125px auto;
            max-width: 800px;
            height: 50px;
            box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            >input{
                font-family: @font-sub-family;
                width: 100%;
                height: 100%;
                border-right: none;
                box-shadow: none;
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    padding-top: 5px;
                    font-size: 20px;
                    color: #999999;
                    font-family: @font-sub-family;
                }
                &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    padding-top: 5px;
                    font-size: 20px;
                    color: #999999;
                    font-family: @font-sub-family;

                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    padding-top: 5px;
                    font-size: 20px;
                    color: #999999;
                    font-family: @font-sub-family;

                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    padding-top: 5px;
                    font-size: 20px;
                    color: #999999;
                    font-family: @font-sub-family;

                }
            }
            .icon-wrap{
                background: #fff;
                padding: 0;
                >img{
                    width: 70px;
                    height: 48px;
                    padding: 15px 25px;
                }
            }
        }
    }

    //按钮列表
    .nothing-btn-list{
        margin: 0 auto;
        height: 70px;
        border-bottom: 1px solid #e5e5e5;
        .btn-wrap{
            max-width: 1280px;
            margin: 0 auto;
            line-height: 70px;
            .dropdown{
                display: none;
            }
            >.btn{
                padding: 4px 12px;
                display: inline-block;
                margin-left: 20px;
                border-radius: 3px;
                border: solid 1px #2f88c4;
                color: #2f87c4;
                font-family: @font-family;
                &.btn-active{
                    background-color: #2f87c4;
                    border: solid 1px #2f88c4;
                    color: #fff;
                }
            }
        }
    }
    //搜索结果列表
    .nothing-result-num{
        max-width: 1280px;
        margin: 0 auto;
        height: 60px;
        line-height: 50px;
        font-size: 16px;
        color: #999999;
        >span{
            margin-left: 30px;
            font-family: @font-sub-family;
        }
    }
    //产品列表
    .nothing-result-list{
        max-width: 1280px;
        margin: 0 auto;
        .list-sidebar{
            border-right: 1px solid #dcdcdc;
            padding: 0 24px;
            .panel-group{
                margin-bottom: 0;
                padding-bottom: 8px;
                .panel-item{
                    border: none;
                    box-shadow: none;
                    .panel-heading{
                        padding: 28px 0 19px;
                        background-color: #ffffff;
                        border: none;
                        &.no-padding-top{
                            padding-top: 0;
                        }
                        .panel-title {
                            font-size: 16px;
                            color: #333333;
                            a {
                                font-family: @font-family;
                                display: block;
                                position: relative;
                                &:hover,
                                &:focus {
                                    cursor: pointer;
                                    text-decoration: none;
                                }
                                .down-circle {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    position: absolute;
                                    top: 1px;
                                    right: 10px;
                                    border-radius: 10px;
                                    &:after {
                                        position: absolute;
                                        content: '';
                                        top: 3px;
                                        right: 5px;
                                        display: inline-block;
                                        width: 8px;
                                        height: 8px;
                                        border: 1px solid #595959;
                                        transform: rotate(45deg);
                                        border-left: 0;
                                        border-top: 0;
                                    }
                                }
                                &.collapsed {
                                    .down-circle {
                                        &:after {
                                            top: 5px;
                                            right: 7px;
                                            transform: rotate(-45deg);
                                        }
                                    }
                                }
                            }
                            .link {
                                color: #2f88c4;
                            }
                        }
                    }
                }
            }
            .panel-group:not(:last-child){
                border-bottom: 1px solid #dcdcdc;
            }
            .list-body{
                .list-group{
                    border: none;
                }
                >ul{
                    >li{
                        cursor: pointer;
                        padding: 0 0 0 15px;
                        border: none;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666666;
                        font-family: @font-sub-family;
                        &.active{
                            background-color: #2f88c4;
                            border-radius: 3px;
                            color: #ffffff;
                            >.badge{
                                color: #fff;
                                background-color: transparent;
                            }
                        }
                        .badge{
                            color: #666666;
                            padding: 7px 10px;
                            font-size: 14px;
                            background-color: transparent;
                        }

                    }
                }
            }
        }
        .list-table{
            padding: 0 20px;
            .table-top{
                .product-item{
                    padding: 0;
                    .product-inner{
                        display: block;
                        height: 320px;
                        background-color: #ffffff;
                        text-decoration: none;
                        cursor: pointer;
                        margin: 0 16px;
                        //居中
                        .Center-Container {
                            display: table;
                            width: 100%;
                            height: 100%;
                            .Table-Cell {
                                display: table-cell;
                                vertical-align: middle;
                            }
                            .Center-Block {
                                >img{
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                        .img-wrap{
                            height: 180px;
                        }
                        .product-info{
                            text-align: center;
                            >p:first-child{
                                font-family: @font-sub-family;
                                font-size: 18px;
                                line-height: 30px;
                                color: #2f88c4;
                            }
                            >p:last-child{
                                font-family: @font-sub-family;
                                font-size: 16px;
                                line-height: 30px;
                                color: #999999;
                            }
                        }
                        .count-wrap{
                            display: none;
                            border-top: 1px solid #dcdcdc;
                            padding-top: 10px;
                            margin: 0 auto;
                            .count-handle {
                                min-width: 160px;
                                text-align: center;
                                .minus{
                                    width: 21px;
                                    height: 21px;
                                    line-height: 10px;
                                    padding: 0;
                                    background-color: #f5f5f5;
                                    border-radius: 3px;
                                    border: solid 1px #bebebe;
                                    color: #666666;
                                }
                                .add{
                                    width: 21px;
                                    height: 21px;
                                    line-height: 10px;
                                    padding: 0;
                                    background-color: #2f87c4;
                                    border-radius: 3px;
                                    border: solid 1px #14517b;
                                    color: #ffffff;
                                }
                                input {
                                    text-align: center;
                                    margin: 0 5px;
                                    width: 30px;
                                    height: 30px;
                                }
                                >img:last-child{
                                    margin-left: 30px;
                                }
                            }
                        }
                        //鼠标上移样式
                        &:hover{
                            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
                            border: solid 1px #2f88c4;
                            .count-wrap {
                                display: block;
                            }
                        }
                    }
                }
            }
            .table-btm{
                .productList-table-page{
                    .productList-table-page-content{
                        padding: 0 0 80px;
                        width: 478px;
                        .productList-table-page-content-num{
                            padding:0;
                            span{
                                font-family: @font-sub-family;
                                font-size: 14px;
                                color: #666666;
                            }
                            select{                                font-family: @font-sub-family;
                                font-family: @font-sub-family;
                                display:inline-block;
                                width:50%;
                                height:24px;
                                border-radius:0;
                                padding:2px 6px;
                                margin-top:6px;
                            }
                        }
                        .productList-table-page-content-pages{
                            padding-right:0;
                            .nopadding{
                                padding:0;
                                padding-top:5px;
                                margin-left:2px;
                            }
                            .width15{
                                width:24px;
                                //display: inline-block;
                            }
                            .width25{
                                width:25%;
                                //display: inline-block;
                            }
                            button{
                                display:inline-block;
                                width:24px;
                                height:24px;
                                padding:0;
                                padding-top:2px;
                                border-style:none;
                                background:#fff;
                                border:1px solid #999;
                            }
                            input{
                                font-family: @font-sub-family;
                                width:100%;
                                height:24px;
                                padding:4px;
                                line-height:24px;
                            }
                            .showpages{
                                span{
                                    font-family: @font-sub-family;
                                    display: inline-block;
                                    width:100%;
                                    height:24px;
                                    line-height: 24px;
                                    text-align: center;
                                    color:#666666;
                                }
                            }

                        }
                        .productList-table-page-content-count{
                            font-family: @font-sub-family;
                            padding-top:8px;
                            font-size: 14px;
                            color: #666666;
                        }
                    }

                }

            }
        }
    }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    font-family: @font-sub-family;

    //768-xs
    .search-product-navbar {
        height: 5rem;
    }

    .search-product-banner{
        position: relative;
        overflow: hidden;
        height: 14rem;
        .banner-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 14rem;
            background-image: url(../images/searchResult/banner-bg.png);
            background-size: 100% 100%;
        }
        .search-input{
            margin: 5.5rem auto;
            height: 2.5rem;
            box-shadow: .2rem .5rem 1.7rem 0 rgba(0, 0, 0, 0.5);
            border-radius: .2rem;
            >input{
                font-family: @font-sub-family;
                width: 100%;
                height: 100%;
                border-right: none;
                box-shadow: none;
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    padding-top: .2rem;
                    font-size: 2rem;
                    color: #999999;
                    font-family: @font-sub-family;
                }
                &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    padding-top: .2rem;
                    font-size: 2rem;
                    color: #999999;
                    font-family: @font-sub-family;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    padding-top: .2rem;
                    font-size: 2rem;
                    color: #999999;
                    font-family: @font-sub-family;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    padding-top: .2rem;
                    font-size: 2rem;
                    color: #999999;
                    font-family: @font-sub-family;
                }
            }
            .icon-wrap{
                background: #fff;
                padding: 0;
                >img{
                    width: 3.5rem;
                    height: 2.5rem;
                    padding: .7rem .8rem;
                }
            }
        }
    }

    //按钮列表
    .nothing-btn-list{
        font-family: @font-family;
        margin: 0 auto;
        border-bottom: 1px solid #e5e5e5;
        .btn-wrap{
            margin: 0 auto;
            line-height: 5rem;
            .filter-mobile{
                .filter-mobile-title{
                    h3{
                        text-align: right;
                        margin: 0 2rem 0 0;
                        line-height:5rem;
                        color: #333;
                        background: #fff;
                        font-size: 1.8rem;
                        span{
                            font-size: 1.4rem;
                        }
                    }
                }
                .filter-mobile-content{
                    display:none;
                    padding:2rem;
                    width: 220%;
                    float: right;
                    .filter-mobile-content-list-search{
                        position:relative;
                        .input-group{
                            width:100%;
                        }
                        .searcn-icon{
                            position:absolute;
                            top:1rem;
                            left:1rem;
                            color:#666;
                            z-index: 1111;
                        }
                        input{
                            padding-left:3rem;
                            font-size:1rem;
                            width:100%;
                        }
                    }
                }
            }

            >.btn{
                display: none;
            }
            .dropdown{
                >.btn{
                    background-color: #2f87c4;
                    border-radius: .4rem;
                    border: solid 1px #2f88c4;
                    height: 3rem;
                    color: #fff
                }
                .dropdown-menu{
                    top: 4rem;
                    left: 2rem;
                }
            }
        }
    }

    //搜索结果列表
    .nothing-result-num{
        display: none;
    }
    //产品列表
    .nothing-result-list{
        .list-sidebar{
            display: none;
        }
        .list-table{
            padding: 0 1rem;
            .table-top{
                .product-item{
                    height: 16rem;
                    background-color: #ffffff;
                    text-decoration: none;
                    cursor: pointer;
                    //居中
                    .Center-Container {
                        display: table;
                        width: 100%;
                        height: 100%;
                        .Table-Cell {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        .Center-Block {
                            >img{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    .img-wrap{
                        height: 9rem;
                    }
                    .product-info{
                        text-align: center;
                        >p:first-child{
                            font-family: @font-sub-family;
                            font-size: 1.2rem;
                            line-height: 1.5rem;
                            color: #2f88c4;
                        }
                        >p:last-child{
                            font-family: @font-sub-family;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            color: #999999;
                        }
                    }
                    .count-wrap{
                        display: none;
                    }
                }
                .btn-wrap{
                    padding: 2.5rem 1.5rem;
                    text-align: center;
                    .learn-more-btn{
                        display: block;
                        height: 4rem;
                        line-height: 4rem;
                        background-color: #ffffff;
                        border: solid 1px #e5e5e5;
                        font-size: 1.5rem;
                        color: #999999;
                    }
                }

            }
            .table-btm{
                display: none;
            }
        }
    }
}
