@import "variables.less";
@import "base.less";

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    //768- sm->lg
    .user-center-navbar {
        height: 110px;
        background: #f5f5f5;
    }

    //首屏页面
    .user-center-jumbotron.jumbotron {
        padding: 0;
        margin-bottom: 0;
    }

    .user-center-form {
        max-width: 1280px;
        margin: 50px auto;
        .form-label {
            font-size: 30px;
            color: #333;
        }
        .account {
            input {
                height: 42px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid #bfbfbf;
                padding-left: 15px;
                margin-bottom: 35px;
                font-size: 18px;
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #8c8c8c;
                }
                &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #8c8c8c;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #8c8c8c;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #8c8c8c;
                }
            }
        }

        .form-item-line {
            border-top: 1px solid #ddd;
            width: 80%;
            margin: 50px 0;
        }
        .btn-two {
            button {
                width: 150px;
                border-radius: 4px;
                height: 40px;
                font-size: 18px;
                color: #fff;

                &.btn-default {
                    color: #595959;
                    margin-right: 100px;
                }
            }
        }

        .customer-number {
            font-size: 18px;
            color: #737373;
            margin-bottom: 35px;
        }

        .security-panel {
            img {
                width: 50px;
                height: 50px;
            }
            span {
                font-size: 18px;
                color: #737373;
            }
        }

        .newsletter {
            font-size: 16px;
            color: #595959;
            .long-txt {

            }
        }

        .order {
            .order-head {
                background: #f5f5f5;
                font-size: 18px;
                color: #595959;
                padding-left: 5%;
                height: 60px;
                line-height: 60px;
            }
            .order-content {
                font-size: 18px;
                color: #595959;
                padding-left: 5%;
                height: 80px;
                line-height: 80px;
                .btn-default {
                    height: 38px;
                    border-radius: 3px;
                }
            }
            .order-txt {
                margin-top: 30px;
                font-size: 16px;
                color: #737373;
            }
            .star-icon {
                position: relative;
                top: 2px;
                color: #2f88c6;
                margin-right: 3px;
            }
        }
    }

    .user-center-footer {
        height: 777px;
        background: #f5f5f5;
    }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    //768-xs
    .user-center-navbar {
        height: 5rem;
    }

    .user-center-jumbotron.jumbotron {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    .user-center-form {
        .form-label {
            margin: 3rem 0;
            font-size: 1.8rem;
            color: #8c8c8c;
        }

        .account {
            margin: 0;
            input {
                height: 3.5rem;
                width: 100%;
                border-radius: .2rem;
                border: 1px solid #bfbfbf;
                padding-left: 1.5rem;
                margin-bottom: 3rem;
                font-size: 1.4rem;
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #737373;
                }
                &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #737373;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #737373;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #737373;
                }
            }
        }

        .security {
            margin: 0;
            .security-panel {
                img {
                    width: 4rem;
                    height: 4rem;
                    margin-left: -.5rem;
                }
                span {
                    font-size: 1.8rem;
                    color: #737373;
                }
            }
        }

        .form-item-line {
            border-top: 1px solid #ddd;
            width: 90%;
            margin: 5rem auto 0;
        }

        .btn-two {
            button {
                width: 48%;
                border-radius: 2px;
                height: 3.5rem;
                font-size: 1.6rem;
                color: #fff;

                &.btn-default {
                    color: #595959;
                }
            }
        }

        .customer-number {
            font-size: 1.6rem;
            color: #737373;
            margin-bottom: 3.5rem;
        }

        .newsletter {
            margin: 0;
            font-size: 1.6rem;
            color: #595959;
        }

        .order {
            margin: 0;
            .row {
                margin: 0;
            }
            .order-head {
                background: #f5f5f5;
                font-size: 1.4rem;
                text-align: center;
                color: #595959;
                height: 3.5rem;
                line-height: 3.5rem;
            }
            .order-content {
                font-size: 1.4rem;
                color: #595959;
                height: 6rem;
                line-height: 6rem;
                text-align: center;
                .btn-default {
                    width: 100%;
                    height: 3.5rem;
                    border-radius: .2rem;
                }
            }
            .order-txt {
                margin: 3rem 0 5rem;
                font-size: 1.4rem;
                color: #737373;
            }
            .star-icon {
                position: relative;
                top: .2rem;
                color: #2f88c6;
                margin-right: .3rem;
            }
        }
    }

    .user-center-footer {
        height: 44.9rem;
        background: #f5f5f5;
    }
}






