@import "variables.less";
@import "base.less";

//公共样式

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    //768- sm->lg
    .video-center-navbar {
        height: 110px;
        background: #f5f5f5;
    }

    //首屏页面
    .video-center-banner {
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }

    .video-center-tabBar {
        //height: 64px;
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            //height: 64px;
            padding: 0 240px;
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                .active {
                    a {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    color: #a4c7de;
                }
                li {
                    //width: 90px;
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    .video-center-panel {
        max-width: 1280px;
        margin: 50px auto;
    }

    .video-center-footer {
        height: 777px;
        background: #f5f5f5;
    }

}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    //768-xs
    .video-center-navbar {
        height: 50px;
    }

    .video-center-banner {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    .video-center-tabBar {
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                margin-bottom: 0;
                .active {
                    a {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    color: #a4c7de;
                }
                li {

                }
                .dropdown {
                    text-align: center;
                    .dropdown-toggle {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                        font-size: 1.8rem;
                        span {
                            font-size: 1.4rem;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    .video-center-panel {
    }

    .video-center-footer {
        height: 449px;
        background: #f5f5f5;
    }
}
