@import "variables.less";
@import "base.less";
@import "header.less";
@import "footer.less";

//pc 展示开始。。。
@media screen and (min-width: @screen-sm-min) {
    .video-center-banner {
        padding: 0;
        margin-bottom: 0;
        height: 280px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }

    .video-center-tabBar {
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            padding: 0 240px;
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                .active {
                    a {
                        font-size: 20px;
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    font-size: 16px;
                    color: #a4c7de;
                    height: 70px;
                    line-height: 70px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                li {
                    //width: 90px;
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    .video-center-panel {
        max-width: 1280px;
        margin: 50px auto;
        padding-left: 0;

        .video-center-panel-left {
            padding-left: 10px;
            padding-right: 17.5px;
        }
        .video-center-panel-right {
            padding-left: 12.5px;
            padding-right: 0;
        }

        .video-item {
            margin-bottom: 1.5rem;

            .img-video {
            }
            .img-txt {
                padding-left: 1.5rem;
            }
            a {
                text-decoration: none;
            }
            .txt-title {
                padding: 0;
                margin: 5px 0;
                font-size: 2.4rem;
                color: #333;
                line-height: 3rem;
                &:hover {
                    color: #2f88c4;
                }
            }
            .txt-detail {
                padding: 0;
                margin: 0;
                font-size: 1.6rem;
                color: #8c8c8c;
            }
        }

        .loading-btn {
            font-size: 1.6rem;
            color: #8c8c8c;
        }
        .subscribe-form,
        .support-form {
            margin-bottom: 1.5rem;
            border: 1px solid #E4E4E4;
            padding: 1rem;
            .form-group {
                margin-bottom: 1rem;
                .submit-button {
                    height: 32px;
                    width: 100px;
                }
            }
            label {
                padding: 0;
                text-align: right;
            }
            .title {
                padding-left: 10px;

                //border-left: 3px solid #2f88c4;
                position: relative;
                font-size: 2rem;
                &:before {
                    display: block;
                    content: '';
                    width: 3px;
                    height: 20px;
                    background: #2f88c4;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
                &:after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: #E4E4E4;
                    position: absolute;
                    left: 0;
                    bottom: -.5rem;
                }
            }
            .tips {
                margin: 35px 0;
                font-size: 1.6rem;
                color: #8c8c8c;
            }
        }
    }
}

//手机展示开始。。。
@media screen and (max-width: @screen-xs-max) {
    .video-center-banner {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    .video-center-tabBar {
        background: rgba(47, 136, 196, 1);
        nav.navbar-default {
            background: rgba(47, 136, 196, 1);
            border: none;
            margin-bottom: 0;
            .navbar-nav {
                margin-bottom: 0;
                .active {
                    a {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                    }
                }
                a {
                    color: #a4c7de;
                }
                li {

                }
                .dropdown {
                    text-align: center;
                    .dropdown-toggle {
                        color: #fff;
                        background: rgba(47, 136, 196, 1);
                        font-size: 1.8rem;
                        span {
                            font-size: 1.4rem;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .container-fluid {
                background: rgba(47, 136, 196, 1);
            }
        }

    }

    .video-center-panel {
        padding: 1.5rem;
        .row {
            padding: 0;
            margin: 0;
            div {
                padding: 0;
                margin: 0;
            }
            .video-item {
                margin-bottom: 1.5rem;

                .img-video {
                }
                .img-txt {
                    padding-left: 1.5rem;
                }

                .txt-title {
                    padding: 0;
                    margin: 5px 0;
                    font-size: 1.2rem;
                    color: #404040;
                    line-height: 3rem;
                }
                .txt-detail {
                    padding: 0;
                    margin: 0;
                    font-size: 1.2rem;
                    color: #808080;
                }
            }

            .btn-primary.btn-block {
                font-size: 1.5rem;
                color: #999;
            }
            .subscribe-form,
            .support-form {
                margin-bottom: 1.5rem;
                border: 1px solid #E4E4E4;
                padding: 1rem;
                .form-group {
                    margin-bottom: 1rem;
                }
                label {
                    padding: 0;
                    text-align: center;
                }
                .title {
                    padding-left: .5rem;
                    border-left: .3rem solid #86af49;
                    position: relative;
                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #E4E4E4;
                        position: absolute;
                        left: 0;
                        bottom: -.5rem;
                    }
                }
                .tips {
                    font-size: 1.2rem;
                    color: #8c8c8c;
                }
            }
        }
    }
}
