html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .connect-us-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .nothing-submenu {
    height: 70px;
    background-color: #2f88c4;
  }
  .nothing-submenu .submenu-wrap {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-submenu .submenu-wrap .dropdown .btn {
    display: none;
  }
  .nothing-submenu .submenu-wrap .dropdown .dropdown-menu {
    display: block;
    border: none;
    padding: 10px 0;
    background-color: inherit;
    box-shadow: none;
  }
  .nothing-submenu .submenu-wrap .dropdown .dropdown-menu > li > a {
    background-color: inherit!important;
    border: none!important;
    box-shadow: none!important;
    color: #a4c7de;
  }
  .nothing-submenu .submenu-wrap .dropdown .dropdown-menu > li > a.active {
    color: #ffffff;
  }
  .nothing-submenu .submenu-wrap .dropdown .dropdown-menu > li > a:hover {
    color: #ffffff;
  }
  .nothing-banner-img {
    width: 100%;
    height: 280px;
    border: #ccc solid 0px;
  }
  .nothing-banner-img > img {
    width: 100%;
    height: 100%;
  }
  .connect-us-form .account {
    margin-bottom: 100px;
  }
  .connect-us-form .account .create-title,
  .connect-us-form .account .create-title-bottom {
    font-size: 24px;
    color: #333333;
    margin: 50px 0;
  }
  .connect-us-form .account .create-title .create-title-right,
  .connect-us-form .account .create-title-bottom .create-title-right {
    margin-bottom: 40px;
  }
  .connect-us-form .account .detail {
    margin-bottom: 40px;
    padding-right: 20px;
  }
  .connect-us-form .account .detail .detail-btm {
    display: flex;
  }
  .connect-us-form .account .detail .detail-btm .img-wrap {
    margin-right: 20px;
  }
  .connect-us-form .account .detail .detail-btm .detail-center {
    font-size: 18px;
    color: #666666;
    width: 50px;
    margin-right: 20px;
  }
  .connect-us-form .account .detail .detail-btm .detail-right {
    font-size: 18px;
    color: #666666;
  }
  .connect-us-form .account .right {
    margin-bottom: 100px;
  }
  .connect-us-form .account .left-tips {
    font-size: 18px;
    color: #666666;
  }
  .connect-us-form .account input[type=text],
  .connect-us-form .account input[type=password] {
    width: 350px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #bfbfbf;
    padding-left: 15px;
    margin-bottom: 35px;
    font-size: 18px;
  }
  .connect-us-form .account input[type=text]::-webkit-input-placeholder,
  .connect-us-form .account input[type=password]::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .connect-us-form .account input[type=text]::-moz-placeholder,
  .connect-us-form .account input[type=password]::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .connect-us-form .account input[type=text]::-moz-placeholder,
  .connect-us-form .account input[type=password]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .connect-us-form .account input[type=text]:-ms-input-placeholder,
  .connect-us-form .account input[type=password]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .connect-us-form .account .select-country {
    margin-bottom: 50px;
    width: 350px;
    height: 40px;
  }
  .connect-us-form .account .select-country .btn-lg {
    padding: 0;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    padding-left: 15px;
    text-align: left;
    color: #8c8c8c;
    border-color: #bfbfbf;
  }
  .connect-us-form .account .select-country .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font-size: 14px;
  }
  .connect-us-form .account .select-country .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .connect-us-form .account .select-country .dropdown-menu li a {
    color: #8c8c8c;
    padding: 0;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .connect-us-form .account .select-country .dropdown-menu li a:hover {
    background: #686868;
  }
  .connect-us-form .account .address {
    width: 600px;
  }
  .connect-us-form .account .address input {
    width: 100%;
  }
  .connect-us-form .account .message {
    width: 600px;
  }
  .connect-us-form .account .message textarea {
    width: 100%;
    height: 120px;
    border: solid 1px #bfbfbf;
  }
  .connect-us-form .account .verification {
    margin-top: 40px;
  }
  .connect-us-form .account .verification .left-tips-one {
    font-size: 18px;
    color: #666666;
    margin-top: 115px;
  }
  .connect-us-form .account .verification .drag-captcha {
    width: 310px;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-radius: 17px;
    border: solid 1px #bfbfbf;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
  }
  .connect-us-form .account .verification .drag-captcha .hover-btn {
    display: inline-block;
    width: 70px;
    height: 32px;
    margin-right: 10px;
    line-height: 32px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
    border-radius: 13px;
    text-align: center;
  }
  .connect-us-form .account .verification .drag-captcha:hover {
    padding-left: 83px;
  }
  .connect-us-form .account .verification .drag-captcha:hover .hover-btn {
    position: absolute;
    right: 0;
  }
  .connect-us-form .account .primary {
    margin-top: 60px;
    width: 120px;
    height: 40px;
  }
  .connect-us-form .account .primary .btn {
    width: 100%;
    height: 100%;
    line-height: 28px;
  }
  .connect-us-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .connect-us-navbar {
    height: 5rem;
  }
  .nothing-submenu {
    margin: 0 auto;
    height: 3.5rem;
    background-color: #2f88c4;
  }
  .nothing-submenu .dropdown {
    text-align: center;
    line-height: 3.5rem;
  }
  .nothing-submenu .dropdown .dropdown-menu {
    margin-left: -6rem;
    margin-top: 0;
    left: 50%;
    text-align: center;
  }
  .nothing-submenu .dropdown .btn {
    background-color: inherit;
    padding: .5rem 2.5rem;
    color: #fff;
  }
  .nothing-banner-img {
    width: 100%;
    height: 14rem;
  }
  .nothing-banner-img > img {
    width: 100%;
    height: 100%;
  }
  .connect-us-form .account .create-title,
  .connect-us-form .account .create-title-bottom {
    font-size: 2rem;
    color: #000000;
    margin: 3rem 0 3rem ;
  }
  .connect-us-form .account .create-title-bottom {
    margin: 9rem 0 4rem ;
  }
  .connect-us-form .account .detail {
    margin-bottom: 3rem;
  }
  .connect-us-form .account .detail .detail-btm {
    display: flex;
  }
  .connect-us-form .account .detail .detail-btm .img-wrap {
    margin-right: 2rem;
  }
  .connect-us-form .account .detail .detail-btm .detail-center {
    width: 4rem;
  }
  .connect-us-form .account .left-tips {
    font-size: 2rem;
    color: #595959;
    margin-left: .4rem;
  }
  .connect-us-form .account input[type=text],
  .connect-us-form .account input[type=password] {
    height: 3rem;
    width: 100%;
    border-radius: .2rem;
    border: 1px solid #bfbfbf;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    margin-left: .4rem;
  }
  .connect-us-form .account input[type=text]::-webkit-input-placeholder,
  .connect-us-form .account input[type=password]::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #737373;
  }
  .connect-us-form .account input[type=text]::-moz-placeholder,
  .connect-us-form .account input[type=password]::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #737373;
  }
  .connect-us-form .account input[type=text]::-moz-placeholder,
  .connect-us-form .account input[type=password]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #737373;
  }
  .connect-us-form .account input[type=text]:-ms-input-placeholder,
  .connect-us-form .account input[type=password]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #737373;
  }
  .connect-us-form .account .select-country {
    margin-bottom: 3.5rem;
    margin-left: .4rem;
    width: 100%;
  }
  .connect-us-form .account .select-country .btn-lg {
    background: #fff;
    padding: 0;
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: .2rem;
    padding-left: 1rem;
    text-align: left;
    color: #8c8c8c;
    border-color: #bfbfbf;
  }
  .connect-us-form .account .select-country .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.6rem;
    font-size: 1.4rem;
  }
  .connect-us-form .account .select-country .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .connect-us-form .account .select-country .dropdown-menu li a {
    color: #8c8c8c;
    padding: 0;
    padding-left: 1rem;
    height: 3.3rem;
    line-height: 3.3rem;
    font-size: 1.4rem;
  }
  .connect-us-form .account .select-country .dropdown-menu li a:hover {
    background: #686868;
  }
  .connect-us-form .account .message {
    margin-left: .55rem;
    width: 100%;
  }
  .connect-us-form .account .message textarea {
    width: 100%;
    height: 6rem;
    border: solid 1px #bfbfbf;
    margin-bottom: 2rem;
  }
  .connect-us-form .account .verification {
    margin-bottom: 6rem;
  }
  .connect-us-form .account .verification .code-phone {
    border: 1px solid #dcdcdc;
    margin-right: 1rem;
    margin-left: .5rem;
    width: 9rem;
    height: 3.5rem;
  }
  .connect-us-form .account .primary {
    width: 19rem;
    height: 4rem;
    margin-left: 1.6em;
    background-color: #2f88c4;
  }
  .connect-us-form .account .primary .btn {
    width: 19rem;
    height: 4rem;
    line-height: 3rem;
    border-radius: 0rem;
    background-color: #2f88c4;
    border: 0;
    padding-right: 2.9rem;
    font-size: 2rem;
  }
  .connect-us-footer {
    height: 44.9rem;
    background: #f5f5f5;
  }
}
