html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8999999;
}
input[type=checkbox]:checked {
  opacity: 0;
}
input[type="checkbox"] + .checkbox-span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
}
input[type="checkbox"]:checked + .checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/common/checkbox.png') no-repeat;
  background-size: 100% 100% ;
}
input[type="checkbox"]:checked + .checkbox-all-span {
  background: url('../images/common/checkbox-all.png') no-repeat;
  background-size: 100% 100% ;
}
.wrap-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
/********
产品列表、订单中心color项图片
*****/
.color-span {
  display: inline-block;
  width: 26px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.airspay-bk {
  background: url("../images/common/color/airspay/BK.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-c {
  background: url("../images/common/color/airspay/C.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-gy {
  background: url("../images/common/color/airspay/GY.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lc {
  background: url("../images/common/color/airspay/LC.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lm {
  background: url("../images/common/color/airspay/LM.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-m {
  background: url("../images/common/color/airspay/M.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-r {
  background: url("../images/common/color/airspay/R.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-y {
  background: url("../images/common/color/airspay/Y.png") no-repeat;
  background-size: 100% 100%;
}
.laser-bk {
  background: url("../images/common/color/laser/BK.png") no-repeat;
  background-size: 100% 100%;
}
.laser-c {
  background: url("../images/common/color/laser/C.png") no-repeat;
  background-size: 100% 100%;
}
.laser-cmy {
  background: url("../images/common/color/laser/CMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-kcmy {
  background: url("../images/common/color/laser/KCMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-m {
  background: url("../images/common/color/laser/M.png") no-repeat;
  background-size: 100% 100%;
}
.laser-y {
  background: url("../images/common/color/laser/Y.png") no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片 end
*****/
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .subscriptionCenter-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    height: 280px;
    overflow: hidden;
  }
  .subscriptionCenter-banner img {
    width: 100%;
    height: 100%;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .firmwareUpgrades-content {
    max-width: 1280px;
    margin: 50px auto 50px auto;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left {
    padding-left: 0;
    padding-right: 20px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 41px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 90px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-title h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 60px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search {
    background: #eeeeee;
    padding: 20px 100px;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .searcn-icon {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #666;
    z-index: 1111;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search input {
    padding-left: 50px;
    height: 40px;
    font-size: 16px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
    height: 40px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select {
    margin-top: 16px;
    margin-bottom: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group span {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 14px;
    color: #5a5a5a;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group select {
    height: 40px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:first-child {
    padding-left: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:last-child {
    padding-right: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    text-align: center;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-yes {
    color: #26b129;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-no {
    color: #e72e2e;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead {
    background: #eeeeee;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr {
    line-height: 61px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr th {
    line-height: 61px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #666666;
    text-align: center;
    border-bottom: none;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
    height: 24px;
    border-radius: 0;
    padding: 2px 6px;
    margin-top: 6px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding-right: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    padding-top: 2px;
    border-style: none;
    background: #fff;
    border: 1px solid #999;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 4px;
    line-height: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
    padding-right: 0;
    text-align: right;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right {
    padding: 0;
    padding-left: 10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form {
    margin-bottom: 15px;
    border: 1px solid #E4E4E4;
    padding: 15px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .form-group,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .form-group {
    margin-bottom: 10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form label,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form label {
    padding: 0;
    padding-left: 25px;
    text-align: right;
    margin: 5px auto;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .form-control,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .form-control {
    width: 200px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    margin: 5px auto;
    border-radius: 3px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title {
    padding-left: 12px;
    position: relative;
    font-size: 2rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:before,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:before {
    display: block;
    content: '';
    width: 3px;
    height: 20px;
    background: #2f88c4;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:after,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .btn.btn-primary,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .btn.btn-primary {
    width: 100px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin-top: 20px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .tips,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .tips {
    font-size: 1.6rem;
    color: #8c8c8c;
    margin: 32px 0 28px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .img-bottom img {
    border-radius: 5px;
    width: 100%;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button {
    width: 80px;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -25px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .firmwareUpgrades-content {
    padding: 0 2rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 3rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header p {
    font-size: 1.3rem;
    letter-spacing: 0px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 90px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-title h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 5rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search {
    background: #eeeeee;
    padding: .5rem 1rem;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .input-group {
    width: 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .searcn-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #666;
    z-index: 1111;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search input {
    padding-left: 3rem;
    font-size: 1rem;
    width: 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select {
    margin-top: 16px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    margin-bottom: .8rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    margin-bottom: .8rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group:last-child {
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td {
    font-size: .6rem;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    text-align: center;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-yes {
    color: #26b129;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-no {
    color: #e72e2e;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead {
    background: #eeeeee;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr {
    line-height: 3rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr th {
    line-height: 3rem;
    font-size: .6rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button {
    width: 100%;
    height: 4rem;
    margin: 2rem 0rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button button i {
    color: #999;
    font-style: normal;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form {
    border: 1px solid #dcdcdc;
    padding: .8rem;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title {
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    line-height: 3rem;
    color: #333333;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 1rem;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:before {
    display: block;
    content: '';
    width: 3px;
    height: 20px;
    background: #2f88c4;
    position: absolute;
    left: 0;
    top: 5px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .tips {
    font-size: 1.3rem;
    line-height: 18px;
    color: #999999;
    margin: 20px 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form form label span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: #ced4d9;
    margin-top: .5rem;
    font-size: 2rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form form label .img-bg {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    background: url("../images/subscriptionCenter/company-icon.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .downloag-box {
    border: none;
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .downloag-box img {
    width: 100%;
    height: auto;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button {
    width: 80px;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -25px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
}
