html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.jumbotron p {
  font-weight: normal;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
.wrap-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
  z-index: 8999999;
}
.wrap-checkbox input[type=checkbox]:checked {
  opacity: 0;
}
.wrap-checkbox input[type="checkbox"] + .checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-span {
  background: url('../images/common/checkbox.png') no-repeat;
  background-size: 100% 100%;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span {
  background: #fff;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  top: -1px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span:after {
  display: block;
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 10px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 2px solid #2f87c4;
  border-bottom: 2px solid #2f87c4;
}
/********
产品列表、订单中心color项图片
*****/
.color-span {
  display: inline-block;
  width: 26px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.airspay-bk {
  background: url("../images/common/color/airspay/BK.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-c {
  background: url("../images/common/color/airspay/C.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-gy {
  background: url("../images/common/color/airspay/GY.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lc {
  background: url("../images/common/color/airspay/LC.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lm {
  background: url("../images/common/color/airspay/LM.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-m {
  background: url("../images/common/color/airspay/M.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-r {
  background: url("../images/common/color/airspay/R.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-y {
  background: url("../images/common/color/airspay/Y.png") no-repeat;
  background-size: 100% 100%;
}
.laser-bk {
  background: url("../images/common/color/laser/BK.png") no-repeat;
  background-size: 100% 100%;
}
.laser-c {
  background: url("../images/common/color/laser/C.png") no-repeat;
  background-size: 100% 100%;
}
.laser-cmy {
  background: url("../images/common/color/laser/CMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-kcmy {
  background: url("../images/common/color/laser/KCMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-m {
  background: url("../images/common/color/laser/M.png") no-repeat;
  background-size: 100% 100%;
}
.laser-y {
  background: url("../images/common/color/laser/Y.png") no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片 end
*****/
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .nothing-footer {
    margin: 0 auto;
    background: #f5f5f5;
    padding-top: 30px;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer a {
    color: #595959;
  }
  .nothing-footer a:hover {
    color: #595959;
  }
  .nothing-footer h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .nothing-footer h4 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 3rem;
    position: relative;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #8c8c8c;
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .nothing-footer .subMenu-container {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 25px;
  }
  .nothing-footer .subMenu-container .subMenu-container-list {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
    left: 25px;
    min-width: 250px;
    background: #f0f0f0;
    z-index: 99;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .list-group-item {
    background-color: #f0f0f0;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow:hover {
    background: #b4b4b4;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow span {
    border-color: #8e9299;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: block;
    height: 0;
    padding: 3px;
    transform: rotate(45deg);
    width: 0;
    left: 7px;
    position: absolute;
    top: 9px;
    z-index: 0;
  }
  .nothing-footer .copyright {
    margin-top: 50px;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    margin-top: 24px;
    background: #9e9e9e;
    height: 134px;
  }
  .nothing-footer .share-icons {
    padding: 0;
    margin-top: 50px;
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 20px;
    float: left;
  }
  .nothing-footer .share-icons li:last-child {
    margin-right: 0;
  }
  .nothing-footer .share-icons li div {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (max-width: 767px) {
  .nothing-footer {
    background: #f5f5f5;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer h3 {
    font-size: 1.6rem;
    font-weight: normal;
    color: #404040;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  .nothing-footer h3 a {
    color: #404040;
  }
  .nothing-footer h3:after,
  .nothing-footer h3:before {
    background: #404040;
    content: "";
    height: 1rem;
    width: 1px;
    right: 1rem;
    top: 0;
    position: absolute;
  }
  .nothing-footer h3:before {
    transform: rotate(90deg);
  }
  .nothing-footer h3.active:after {
    transform: rotate(-45deg);
  }
  .nothing-footer h3.active:before {
    transform: rotate(45deg);
  }
  .nothing-footer h4 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #404040;
  }
  .nothing-footer h4 a {
    color: #404040;
  }
  .nothing-footer .item-list {
    display: none;
    border-bottom: 1px solid #e4e4e4;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #999;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .nothing-footer .close-icon {
    display: none;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    padding: 3rem 0;
    background: #333;
  }
  .nothing-footer .follow-us-txt {
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
  }
  .nothing-footer .up-phone-top {
    margin-top: 3rem;
  }
  .nothing-footer .share-icons {
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 1rem;
    float: left;
  }
  .nothing-footer .share-icons li div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .4rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .box-shadow-line {
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    display: block;
    background: #2f88c6;
    position: inherit;
    border: none;
    width: 100%;
    height: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 130px;
    right: 20px;
    color: #fff;
    display: inline-block;
    height: 0;
    overflow: hidden;
    width: 20px;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 102px;
    right: 6px;
    content: '';
    width: 15px;
    height: 15px;
    opacity: 0;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 0;
    margin: 55px auto 0;
    padding-left: 30px;
    font-size: 2.5rem;
    opacity: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu {
    height: 180px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu:after {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu input {
    opacity: 1;
    height: 60px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu .search-close-icon {
    height: 20px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    width: 38px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 56px;
    background-image: url(../images/home/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box-shadow-line .nothing-navbar-brand-search a {
    display: none;
  }
  .box-shadow-line .navbar {
    height: 110px;
    padding: 0;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .navbar-collapse {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand {
    position: absolute;
    margin-top: 35px;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand img {
    width: 84px;
    height: 60px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    font-size: 1.4rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu > div {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav {
    position: static;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 20px;
    display: inline-block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a {
    position: relative;
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a:before {
    background: #2f88c6;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a > a:focus > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    background-color: #f5f5f5;
    position: absolute;
    padding: 30px 0;
    top: 109px;
    width: 100%;
    height: 233px;
    margin: 0;
    border: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-title {
    font-size: 2.4rem;
    text-align: right;
    color: #999999;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    width: 45%;
    height: 50px;
    padding: 7px 12px 7px 22px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover {
    background: #e5e5e5;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-3rdmenu {
    display: block;
    border-left: 1px solid #d2d2d2;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a .glyphicon {
    color: #a6a6a6;
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    color: #666666;
    text-decoration: none;
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a .glyphicon {
    top: 12px;
    float: right;
    display: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > p {
    font-size: 1.2rem;
    color: #666666;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    position: absolute;
    background: #f5f5f5;
    display: none;
    width: 100%;
    top: -3px;
    left: 45%;
    margin-left: 5px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li {
    height: 40px;
    line-height: 40px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a {
    font-size: 1.4rem;
    color: #595959;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a:hover {
    color: #2f88c6;
    text-decoration: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active {
    display: block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a .glyphicon {
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-image p {
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    max-width: 400px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle {
    color: #737373;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:hover,
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:focus {
    background: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .in-focus {
    color: #337ab7;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #2f88c6;
    font-size: 1rem;
    font-family: CiscoSans-ExtraLight;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a:hover,
  .box-shadow-line .navbar .nothing-navbar-info > li > a:focus {
    background: none;
    text-decoration: underline;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a > img {
    position: relative;
    left: 0;
    margin-right: 7px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line {
    position: relative;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line:after {
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    content: '';
    width: 1px;
    height: 12px;
    background: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu {
    font-size: 1.2rem;
    min-width: 85px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li {
    border-left: 5px solid transparent;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li:hover {
    border-left: 5px solid #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-info .glyphicon.glyphicon-triangle-bottom {
    position: relative;
    left: 5px;
    top: 3px;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open > a,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .glyphicon-triangle-bottom:before {
    content: "\e253";
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu {
    border-radius: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li a {
    padding: 3px 10px;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li > a:focus,
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li a:hover {
    color: #2f88c6;
    background-color: #ffffff;
  }
  .box-shadow-line .navbar-1280 {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu {
    background-color: #2f88c6;
    max-width: 1600px;
  }
  .nothing-second-menu .nothing-second-menu-content {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar-default {
    background-color: #2f88c6;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a > span,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:focus > span,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:hover > span {
    display: inherit;
    position: absolute;
    top: 60px;
    left: 45%;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li {
    font-family: CiscoSans-ExtraLight;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover {
    background-color: #2977ab;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:focus,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:hover {
    background-color: transparent;
    color: #ffffff;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
    color: #a4c7de;
    font-size: 14px;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li > a > span {
    display: none;
  }
  .nothing-second-menu-green {
    background-color: #86af49;
    max-width: 1600px;
  }
  .nothing-second-menu-green .nothing-second-menu-content {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar-default {
    background-color: #86af49;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav .open > a > span,
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav .open > a:focus > span,
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav .open > a:hover > span {
    display: inherit;
    position: absolute;
    top: 60px;
    left: 45%;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li {
    font-family: CiscoSans-ExtraLight;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li:hover {
    background-color: #c5dea4;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li:hover > a,
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:focus,
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:hover {
    background-color: transparent;
    color: #ffffff;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
    color: #a4c7de;
    font-size: 14px;
  }
  .nothing-second-menu-green .nothing-second-menu-content .navbar .navbar-nav > li > a > span {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    right: calc((100% - 1260px)/2);
    right: -moz-calc((100% - 1260px)/2);
    right: -webkit-calc((100% - 1260px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .nothing-navbar-brand-search {
    right: calc((100% - 1280px)/2);
    right: -moz-calc((100% - 1280px)/2);
    right: -webkit-calc((100% - 1280px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 35px;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .box-shadow-line {
    position: relative;
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    position: inherit;
    top: 4.29rem;
    background: #2f88c6;
    border: none;
    width: 100%;
    height: 8rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 4.8rem;
    right: 2rem;
    color: #fff;
    display: inline-block;
    height: 1.5rem;
    overflow: hidden;
    width: 1.5rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: .2rem;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 4rem;
    right: 3.3rem;
    content: '';
    width: .5rem;
    height: .5rem;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 3rem;
    width: 90%;
    height: 3rem;
    margin: 2.5rem auto 0;
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    width: 38px;
    height: 36px;
    position: absolute;
    right: 2rem;
    top: .6rem;
    background-image: url(../images/home/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box-shadow-line .nothing-navbar-brand-search a {
    display: none;
  }
  .box-shadow-line .navbar {
    margin-bottom: 0;
    border: 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button {
    float: left;
    margin-left: 1.5rem;
    margin-right: 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button .icon-bar {
    color: #2f88c6;
    background: #0b97c4;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand {
    width: 20rem;
    margin: 0.8rem auto 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: normal;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand img {
    width: 4.5rem;
    height: 3.3rem;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    height: 100vh;
    border-top: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .navbar-nav {
    padding-left: 1rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown {
    position: static;
    border-bottom: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    position: absolute;
    top: .3rem;
    left: 100%;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu div {
    padding-right: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-xs {
    border-left: 1px solid #ececec;
    padding-left: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    width: 100%;
    display: block;
    line-height: 1.8rem;
    padding: .5rem 1.5rem;
    background-color: #eee;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: .5rem 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .subscriptionCenter-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    height: 280px;
    overflow: hidden;
  }
  .subscriptionCenter-banner img {
    width: 100%;
    height: 100%;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .firmwareUpgrades-content {
    max-width: 1280px;
    margin: 50px auto 50px auto;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left {
    padding-left: 0;
    padding-right: 20px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 41px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 90px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-title h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 60px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search {
    background: #eeeeee;
    padding: 20px 100px;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .searcn-icon {
    position: absolute;
    top: 12px;
    left: 25px;
    width: 18px;
    height: 18px;
    color: #9e9e9e;
    z-index: 1111;
    background: url('../images/subscriptionCenter/search-icons.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search input {
    padding-left: 50px;
    height: 40px;
    font-size: 16px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
    height: 40px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select {
    margin-top: 16px;
    margin-bottom: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group span {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 14px;
    color: #5a5a5a;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group select {
    height: 40px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:first-child {
    padding-left: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:last-child {
    padding-right: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table {
    overflow: scroll;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    text-align: center;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-yes {
    color: #26b129;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-no {
    color: #e72e2e;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead {
    background: #eeeeee;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr {
    line-height: 61px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr th {
    line-height: 61px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #666666;
    text-align: center;
    border-bottom: none;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
    height: 24px;
    border-radius: 0;
    padding: 2px 6px;
    margin-top: 6px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding-right: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    padding-top: 2px;
    border-style: none;
    background: #fff;
    border: 1px solid #999;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 4px;
    line-height: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
    padding-right: 0;
    text-align: right;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right {
    padding: 0;
    padding-left: 10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form {
    margin-bottom: 15px;
    border: 1px solid #E4E4E4;
    padding: 15px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .form-group,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .form-group {
    margin-bottom: 10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .control-label,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .control-label {
    padding: 0;
    padding-left: 8%;
    text-align: right;
    margin: 5px auto;
    line-height: 35px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .form-control,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .form-control {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    margin: 5px auto;
    border-radius: 3px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title {
    padding-left: 12px;
    position: relative;
    font-size: 2rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:before,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:before {
    display: block;
    content: '';
    width: 3px;
    height: 20px;
    background: #2f88c4;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:after,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .btn.btn-primary,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .btn.btn-primary {
    width: 100px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin-top: 20px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .tips,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .tips {
    font-size: 1.6rem;
    color: #8c8c8c;
    margin: 32px 0 28px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .img-bottom img {
    border-radius: 5px;
    width: 100%;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button {
    width: 80px;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -25px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .firmwareUpgrades-content {
    padding: 0 2rem 1rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 3rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-header p {
    font-size: 1.3rem;
    letter-spacing: 0px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 90px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-title h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 5rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search {
    background: #eeeeee;
    padding: .5rem 1rem;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .input-group {
    width: 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .searcn-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #666;
    z-index: 1111;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search input {
    padding-left: 3rem;
    font-size: 1rem;
    width: 100%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select {
    margin-top: 16px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    margin-bottom: .8rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    margin-bottom: .8rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group:last-child {
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td {
    font-size: .6rem;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    text-align: center;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-yes {
    color: #26b129;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-no {
    color: #e72e2e;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead {
    background: #eeeeee;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr {
    line-height: 3rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr th {
    line-height: 3rem;
    font-size: .6rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 2px;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button {
    width: 100%;
    height: 4rem;
    margin: 2rem 0rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .subscriptionCenter-list-button button i {
    color: #999;
    font-style: normal;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right {
    padding: 0;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form {
    margin-bottom: 1.5rem;
    border: 1px solid #E4E4E4;
    padding: 1rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .form-group,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .form-group {
    margin-bottom: 1rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form label,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form label {
    padding: 0;
    text-align: right;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title {
    padding-left: 1rem;
    position: relative;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:before,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:before {
    display: block;
    content: '';
    width: .3rem;
    height: 2rem;
    background: #2f88c4;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .title:after,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -1rem;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .subscribe-form .tips,
  .firmwareUpgrades-content .firmwareUpgrades-content-right .support-form .tips {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #8c8c8c;
  }
  .firmwareUpgrades-content .firmwareUpgrades-content-right .img-bottom img {
    width: 100%;
    border-radius: 5px;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button {
    width: 80px;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -25px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
}
