html {
  font-family: CiscoSans, Arial, sans-serif;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans, Arial, sans-serif;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .nothing-footer {
    margin: 0 auto;
    background: #f5f5f5;
    padding-top: 30px;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer a {
    color: #595959;
  }
  .nothing-footer a:hover {
    color: #595959;
  }
  .nothing-footer h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .nothing-footer h4 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 3rem;
    position: relative;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #8c8c8c;
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .nothing-footer .subMenu-container {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 25px;
  }
  .nothing-footer .subMenu-container .subMenu-container-list {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
    left: 25px;
    min-width: 250px;
    background: #f0f0f0;
    z-index: 99;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .list-group-item {
    background-color: #f0f0f0;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow:hover {
    background: #b4b4b4;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow span {
    border-color: #8e9299;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: block;
    height: 0;
    padding: 3px;
    transform: rotate(45deg);
    width: 0;
    left: 7px;
    position: absolute;
    top: 9px;
    z-index: 0;
  }
  .nothing-footer .copyright {
    margin-top: 50px;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    margin-top: 24px;
    background: #9e9e9e;
    height: 134px;
  }
  .nothing-footer .share-icons {
    margin-top: 50px;
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 20px;
    float: left;
  }
  .nothing-footer .share-icons li div {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (max-width: 767px) {
  .nothing-footer {
    background: #f5f5f5;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #404040;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  .nothing-footer h3:after {
    display: block;
    content: '+';
    font-size: 2rem;
    color: #404040;
    position: absolute;
    right: .3rem;
    bottom: 1.35rem;
  }
  .nothing-footer h4 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #404040;
  }
  .nothing-footer .products-list-plus .products-list {
    display: none;
  }
  .nothing-footer .products-list-plus:hover .products-list {
    display: block;
  }
  .nothing-footer .products-list-plus:hover h3 {
    border-bottom: none;
  }
  .nothing-footer .products-list-plus:hover h3:after {
    content: '-';
  }
  .nothing-footer .support-list-plus .support-list {
    display: none;
  }
  .nothing-footer .support-list-plus:hover .support-list {
    display: block;
  }
  .nothing-footer .support-list-plus:hover h3 {
    border-bottom: none;
  }
  .nothing-footer .support-list-plus:hover h3:after {
    content: '-';
  }
  .nothing-footer .unismart-list-plus .unismart-list {
    display: none;
  }
  .nothing-footer .unismart-list-plus:hover .unismart-list {
    display: block;
  }
  .nothing-footer .unismart-list-plus:hover h3 {
    border-bottom: none;
  }
  .nothing-footer .unismart-list-plus:hover h3:after {
    content: '-';
  }
  .nothing-footer .news-list-plus .news-list {
    display: none;
  }
  .nothing-footer .news-list-plus:hover .news-list {
    display: block;
  }
  .nothing-footer .news-list-plus:hover h3 {
    border-bottom: none;
  }
  .nothing-footer .news-list-plus:hover h3:after {
    content: '-';
  }
  .nothing-footer .about-us-list-plus h3 {
    border-bottom: none;
  }
  .nothing-footer .about-us-list-plus .about-us-list {
    display: none;
  }
  .nothing-footer .about-us-list-plus:hover .about-us-list {
    display: block;
  }
  .nothing-footer .about-us-list-plus:hover h3:after {
    content: '-';
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #999;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .nothing-footer .copyright {
    position: relative;
    top: 4rem;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    padding: 3rem 0 4rem;
    background: #333;
  }
  .nothing-footer .follow-us-txt {
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
  }
  .nothing-footer .up-phone-top {
    position: relative;
    top: -10rem;
  }
  .nothing-footer .share-icons {
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 1rem;
    float: left;
  }
  .nothing-footer .share-icons li div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .4rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
