html {
  font-size: 62.5%;
  font-family: CiscoSans, Arial, sans-serif;
}
body {
  background: #d2d2d2;
  color: #333333;
  min-width: 320px;
}
/*自定义的css*/
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.in-focus {
  color: #337ab7;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    padding: 0;
    background: #ffffff;
  }
  .nothing-navbar {
    height: 120px;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-navbar .navbar-collapse {
    padding: 0;
  }
  .nothing-navbar .nothing-navbar-brand {
    position: absolute;
    margin-top: 32px;
  }
  .nothing-navbar .nothing-navbar-brand .navbar-brand {
    padding: 0;
  }
  .nothing-navbar .nothing-navbar-brand .navbar-brand img {
    width: 99px;
    height: 70px;
  }
  .nothing-navbar .nothing-navbar-brand-search {
    position: absolute;
    right: 0;
    top: 60px;
  }
  .nothing-navbar .nothing-navbar-brand-search button {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 0;
    line-height: 1.428571429;
    border-radius: 16px;
  }
  .nothing-navbar .nothing-navbar-menu {
    font-size: 1.6rem;
  }
  .nothing-navbar .nothing-navbar-menu .dropdown:hover > a:before {
    border-bottom: 2px solid #2f88c6;
    bottom: 0;
    content: "";
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }
  .nothing-navbar .nothing-navbar-menu .dropdown .dropdown-toggle {
    color: #737373;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .nothing-navbar .nothing-navbar-menu .dropdown .dropdown-toggle:hover,
  .nothing-navbar .nothing-navbar-menu .dropdown .dropdown-toggle:focus {
    background: none;
  }
  .nothing-navbar .nothing-navbar-info > li a {
    padding-top: 5px;
    padding-bottom: 0;
    color: #2f88c6;
    font-size: 1.4rem;
    font-family: CiscoSans-ExtraLight, Arial, sans-serif;
  }
  .nothing-navbar .nothing-navbar-info > li a:hover,
  .nothing-navbar .nothing-navbar-info > li a:focus {
    background: none;
    text-decoration: underline;
  }
  .nothing-navbar .nothing-navbar-info > li.line {
    position: relative;
  }
  .nothing-navbar .nothing-navbar-info > li.line:after {
    position: absolute;
    top: 30%;
    right: 0;
    display: block;
    content: '';
    width: 2px;
    height: 70%;
    background: #2f88c6;
  }
  .nothing-jumbotron.jumbotron {
    padding: 0;
    margin-bottom: 0;
  }
  .nothing-icons {
    height: 200px;
    margin-left: 0;
    margin-right: 0;
    background-color: #2f88c6;
  }
  .nothing-icons .nothing-icon .div-img-circle {
    width: 77px;
    height: 77px;
    border-radius: 77px;
    border: 1px solid #fff;
    margin: 40px auto 0 ;
  }
  .nothing-icons .nothing-icon .div-img-circle.support {
    background-image: url(../images/quick_nav/quick/support_center.png);
  }
  .nothing-icons .nothing-icon .div-img-circle.support:hover {
    background-image: url(../images/quick_nav/hover/support_center.png);
    border-color: #2f88c6;
  }
  .nothing-icons .nothing-icon .div-img-circle.firmware {
    background-image: url(../images/quick_nav/quick/firmware_status.png);
  }
  .nothing-icons .nothing-icon .div-img-circle.firmware:hover {
    background-image: url(../images/quick_nav/hover/firmware_status.png);
    border-color: #2f88c6;
  }
  .nothing-icons .nothing-icon .div-img-circle.company {
    background-image: url(../images/quick_nav/quick/company_news.png);
  }
  .nothing-icons .nothing-icon .div-img-circle.company:hover {
    background-image: url(../images/quick_nav/hover/company_news.png);
    border-color: #2f88c6;
  }
  .nothing-icons .nothing-icon .div-img-circle.patent {
    background-image: url(../images/quick_nav/quick/patent_center.png);
  }
  .nothing-icons .nothing-icon .div-img-circle.patent:hover {
    background-image: url(../images/quick_nav/hover/patent_center.png);
    border-color: #2f88c6;
  }
  .nothing-icons .nothing-icon .div-img-circle.subscribe {
    background-image: url(../images/quick_nav/quick/subscribe.png);
  }
  .nothing-icons .nothing-icon .div-img-circle.subscribe:hover {
    background-image: url(../images/quick_nav/hover/subscribe.png);
    border-color: #2f88c6;
  }
  .nothing-icons .nothing-icon p {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 18px;
    padding: 0;
  }
  .nothing-carousel {
    height: 600px;
  }
  .nothing-carousel .in-focus {
    margin-top: 80px;
    font-size: 3.6rem;
    color: #2f88c6;
  }
  .nothing-carousel .in-focus-sub {
    margin-top: 32px;
    margin-bottom: 82px;
    font-size: 2.4rem;
    color: #999;
  }
  .nothing-carousel .print {
    text-align: right;
  }
  .nothing-carousel .print-title {
    width: 60%;
    margin-bottom: 30px;
    font-size: 3rem;
    color: #666666;
  }
  .nothing-carousel .print-li {
    padding: 0;
    padding-left: 20px;
  }
  .nothing-carousel .print-li li {
    width: 60%;
    font-size: 1.6rem;
    color: #666666;
  }
  .nothing-carousel .print-txt {
    text-align: left;
  }
  .nothing-carousel .read-more {
    margin-top: 40px;
    margin-left: 5px;
    font-size: 1.8rem;
    color: #2f88c6;
  }
  .nothing-tab-list {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-tab-list .tab-title {
    margin-top: 82px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #2f88c6;
  }
  .nothing-tab-list .tab-subtitle {
    margin-bottom: 82px;
    font-size: 24px;
    color: #999999;
  }
  .nothing-tab-list #nothingTab li {
    border-top: 3px solid #d0d0d0;
    background: #f5f5f5;
  }
  .nothing-tab-list #nothingTab li a {
    height: 100px;
    line-height: 100px;
    padding: 0;
    font-size: 24px;
    color: #666666;
    border: none;
  }
  .nothing-tab-list #nothingTab li.active {
    border-top: 4px solid #2f88c6;
    background: #fff;
  }
  .nothing-tab-list #nothingTab li.active a {
    color: #2f88c6;
  }
  .nothing-tab-list .left-border-line {
    border-left: 1px solid #e4e4e4;
    padding-bottom: 50px;
  }
  .nothing-tab-list #nothingTabContent {
    margin-top: 40px;
    margin-left: 30px;
  }
  .nothing-tab-list #nothingTabContent .list-group-item {
    font-size: 22px;
    color: #666666;
    background-color: #fff;
    border-color: transparent;
    border-top-color: #e4e4e4;
  }
  .nothing-tab-list #nothingTabContent .list-group-item.active,
  .nothing-tab-list #nothingTabContent .list-group-item.active:focus,
  .nothing-tab-list #nothingTabContent .list-group-item.active:hover {
    background-color: #fff;
    border-color: #e4e4e4;
    border-left: 8px solid #2f88c6;
  }
  .nothing-tab-list #nothingTabContent .list-group-item.active .list-item-title,
  .nothing-tab-list #nothingTabContent .list-group-item.active:focus .list-item-title,
  .nothing-tab-list #nothingTabContent .list-group-item.active:hover .list-item-title {
    font-size: 24px;
    color: #2f88c6;
  }
  .nothing-tab-list #nothingTabContent .see-more {
    margin-left: 15px;
    color: #2f88c6;
    font-size: 24px;
  }
  .nothing-img-container {
    max-width: 1280px;
    margin: 50px auto;
  }
  .nothing-img-container .thumbnail {
    padding: 0;
  }
  .nothing-img-container .thumbnail.unismart-thumbnail {
    border-bottom: 8px solid #19a456;
  }
  .nothing-img-container .thumbnail.nfc-thumbnail {
    border-bottom: 8px solid #099ea7;
  }
  .nothing-img-container .caption {
    position: relative;
  }
  .nothing-img-container .img-tips {
    margin: 30px 0;
    color: #999;
    font-size: 18px;
  }
  .nothing-img-container .img-txt-detail {
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 24px;
    color: #333;
  }
  .nothing-img-container .unismart-btn {
    position: absolute;
    top: -40px;
    left: 50%;
    display: block;
    height: 56px;
    width: 208px;
    color: #fff;
    background: #19a456;
    line-height: 56px;
    text-align: center;
    margin-left: -104px;
  }
  .nothing-img-container .nfc-btn {
    position: absolute;
    top: -40px;
    left: 50%;
    display: block;
    height: 56px;
    width: 208px;
    color: #fff;
    background: #099ea7;
    line-height: 56px;
    text-align: center;
    margin-left: -104px;
  }
  .nothing-jumbotron-phone.jumbotron {
    position: relative;
    padding: 0;
    background-color: #fff;
    margin: 50px 0;
  }
  .nothing-jumbotron-phone.jumbotron .jumbotron-tips {
    position: absolute;
    top: 78px;
    left: 45%;
    width: 519px;
    height: 74px;
    font-size: 36px;
    color: #666666;
  }
  .nothing-solution-container {
    margin: 50px auto;
  }
  .nothing-solution-container .solution-detail {
    margin: 30px 0;
    font-size: 24px;
    color: #666666;
  }
  .nothing-solution-container .solution-link {
    font-size: 24px;
    color: #2f88c6;
  }
  .nothing-jumbotron-bg {
    max-width: 1280px;
    margin: 50px auto;
    position: relative;
    background-image: url(../images/bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
  }
  .nothing-jumbotron-bg:after {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 5px;
    margin-left: -2.5px;
    height: 60%;
    background: #fff;
    display: block;
    content: '';
  }
  .nothing-jumbotron-bg .bg-title {
    font-size: 48px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-left-txt {
    margin: 50px 0;
    font-size: 30px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-left-btn {
    margin: auto;
    display: block;
    width: 225px;
    height: 73px;
    text-align: center;
    line-height: 73px;
    background-color: #2f88c6;
    border-radius: 4px;
    font-size: 24px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-right-txt {
    margin: 50px 0;
    font-size: 30px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-right-btn {
    margin: auto;
    display: block;
    width: 225px;
    height: 73px;
    text-align: center;
    line-height: 73px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-size: 24px;
    color: #fff;
  }
  .nothing-contact {
    max-width: 1280px;
    margin: 50px auto;
  }
  .nothing-contact .contact-email {
    position: relative;
    margin: 0;
    padding: 50px 0 250px;
    background-color: #fff;
  }
  .nothing-contact .contact-email .contact-title {
    font-size: 36px;
    color: #2f88c6;
  }
  .nothing-contact .contact-email .contact-detail {
    font-size: 24px;
    color: #2f88c6;
  }
  .nothing-contact .contact-email .env-top {
    margin-top: 30px;
    width: 176px;
    height: 140px;
  }
  .nothing-contact .contact-email .btn-blue {
    margin-top: 65px;
    display: block;
    width: 225px;
    height: 73px;
    line-height: 73px;
    text-align: center;
    font-size: 24px;
    color: #2f88c6;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #2f88c6;
  }
  .nothing-contact .img-100 {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
  }
  .nothing-contact .contact-form {
    margin: 0;
    margin-top: -2px;
    padding: 10px 0 60px;
    background: #2f88c6;
  }
  .nothing-contact .contact-form .contact-update {
    font-size: 3.6rem;
    color: #fff;
    line-height: 80px;
    text-align: right;
  }
  .nothing-contact .contact-form .contact-input {
    height: 80px;
    max-width: 577px;
    font-size: 30px;
    border: 1px solid #e5e5e5;
  }
  .nothing-contact .contact-form .contact-subscribe {
    display: block;
    width: 295px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background-color: #72b85e;
    border-radius: 6px;
    border: solid 1px #72b85e;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar {
    margin-bottom: 0;
  }
  .nothing-navbar-button {
    float: left;
    margin-left: 15px;
  }
  .nothing-navbar-button .icon-bar {
    color: #2f88c6;
    background: #0b97c4;
  }
  .nothing-navbar-brand-search {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nothing-navbar-brand-search button {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .nothing-jumbotron.jumbotron {
    padding: 0;
    margin-bottom: 0;
  }
  .nothing-navbar-brand {
    width: 200px;
    margin: 0 auto;
  }
  .nothing-navbar-brand .navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: normal;
  }
  .nothing-navbar-brand .navbar-brand img {
    width: 60px;
    height: 45px;
    margin: 5px auto;
  }
  .nothing-icons {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    background-color: #2f88c6;
  }
  .nothing-icons .nothing-icon {
    text-align: center;
  }
  .nothing-icons .nothing-icon p {
    color: #fff;
    font-size: 12px;
    margin: 0;
    line-height: 50px;
  }
  .nothing-carousel {
    height: 750px;
  }
  .nothing-carousel .in-focus {
    margin-top: 30px;
    font-size: 25px;
    color: #2f88c6;
  }
  .nothing-carousel .in-focus-sub {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #999;
  }
  .nothing-carousel .print {
    text-align: center;
  }
  .nothing-carousel .print-title {
    margin: 30px 0 20px;
    padding: 10px;
    font-size: 23px;
    color: #666;
  }
  .nothing-carousel .print-li {
    padding: 0;
    padding-left: 15px;
    width: 50%;
    margin: auto;
  }
  .nothing-carousel .print-li li {
    font-size: 16px;
    color: #666;
  }
  .nothing-carousel .print-txt {
    text-align: center;
  }
  .nothing-carousel .read-more {
    margin-top: 40px;
    font-size: 18px;
    color: #2f88c6;
  }
  .nothing-tab-list .tab-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #2f88c6;
    padding: 10px;
  }
  .nothing-tab-list .tab-subtitle {
    margin-bottom: 60px;
    font-size: 20px;
    color: #999;
  }
  .nothing-tab-list #nothingTab li {
    border-top: 3px solid #d0d0d0;
    background: #f5f5f5;
    display: table-cell;
    width: 1%;
  }
  .nothing-tab-list #nothingTab li a {
    height: 60px;
    line-height: 60px;
    padding: 0;
    font-size: 14px;
    color: #666666;
    border: none;
  }
  .nothing-tab-list #nothingTab li.active {
    border-top: 4px solid #2f88c6;
    background: #fff;
  }
  .nothing-tab-list #nothingTab li.active a {
    color: #2f88c6;
  }
  .nothing-tab-list #nothingTabContent {
    margin-top: 40px;
    margin-left: 10px;
  }
  .nothing-tab-list #nothingTabContent .list-group-item {
    font-size: 16px;
    color: #666666;
    background-color: #fff;
    border-color: transparent;
    border-top-color: #e4e4e4;
  }
  .nothing-tab-list #nothingTabContent .list-group-item.active,
  .nothing-tab-list #nothingTabContent .list-group-item.active:focus,
  .nothing-tab-list #nothingTabContent .list-group-item.active:hover {
    background-color: #fff;
    border-color: #e4e4e4;
    border-left: 8px solid #2f88c6;
  }
  .nothing-tab-list #nothingTabContent .list-group-item.active .list-item-title,
  .nothing-tab-list #nothingTabContent .list-group-item.active:focus .list-item-title,
  .nothing-tab-list #nothingTabContent .list-group-item.active:hover .list-item-title {
    font-size: 18px;
    color: #2f88c6;
  }
  .nothing-tab-list #nothingTabContent .see-more {
    text-align: center;
    color: #2f88c6;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .nothing-img-container {
    margin-top: 50px;
  }
  .nothing-img-container .thumbnail {
    padding: 0;
    margin-bottom: 0;
  }
  .nothing-img-container .thumbnail.unismart-thumbnail {
    border-bottom: 8px solid #19a456;
  }
  .nothing-img-container .thumbnail.nfc-thumbnail {
    border-bottom: 8px solid #099ea7;
  }
  .nothing-img-container .caption {
    position: relative;
  }
  .nothing-img-container .img-tips {
    margin: 30px 0;
    color: #999;
    font-size: 15px;
  }
  .nothing-img-container .img-txt-detail {
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 0 10px;
    font-size: 18px;
    color: #333;
  }
  .nothing-img-container .unismart-btn {
    position: absolute;
    top: -30px;
    left: 50%;
    display: block;
    height: 40px;
    width: 150px;
    color: #fff;
    background: #19a456;
    line-height: 40px;
    text-align: center;
    margin-left: -75px;
  }
  .nothing-img-container .nfc-btn {
    position: absolute;
    top: -30px;
    left: 50%;
    display: block;
    height: 40px;
    width: 150px;
    color: #fff;
    background: #099ea7;
    line-height: 40px;
    text-align: center;
    margin-left: -75px;
  }
  .nothing-jumbotron-phone.jumbotron {
    position: relative;
    padding: 0;
    background-color: #fff;
    margin: 30px 0;
  }
  .nothing-jumbotron-phone.jumbotron .jumbotron-tips {
    display: none;
  }
  .nothing-solution-container {
    margin: 80px 0 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .nothing-solution-container .solution-detail {
    margin: 90px 0 30px;
    font-size: 20px;
    color: #666666;
  }
  .nothing-solution-container .solution-link {
    font-size: 14px;
    color: #2f88c6;
  }
  .nothing-jumbotron-bg {
    position: relative;
    background-image: url(../images/H5/bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
    margin-bottom: 0;
  }
  .nothing-jumbotron-bg:after {
    position: absolute;
    top: 55%;
    left: 20%;
    width: 60%;
    margin-top: -2.5px;
    height: 5px;
    background: #fff;
    display: block;
    content: '';
  }
  .nothing-jumbotron-bg .bg-title {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-left-txt {
    margin: 50px 0;
    font-size: 20px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-left-btn {
    margin: auto;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #2f88c6;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-right-txt {
    margin: 200px 0 50px;
    font-size: 20px;
    color: #fff;
  }
  .nothing-jumbotron-bg .bg-right-btn {
    margin: auto;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    border: solid 1px #fff;
    font-size: 18px;
    color: #fff;
  }
  .nothing-contact .contact-email {
    position: relative;
    margin: 0;
    padding: 50px 0 100px;
    background-color: #fff;
  }
  .nothing-contact .contact-email .contact-title {
    font-size: 25px;
    color: #2f88c6;
    text-align: center;
  }
  .nothing-contact .contact-email .contact-detail {
    padding: 10px;
    font-size: 16px;
    color: #2f88c6;
    text-align: center;
  }
  .nothing-contact .contact-email .env-top {
    margin: 0 auto 40px;
    display: block;
  }
  .nothing-contact .contact-email .btn-blue {
    margin-top: 65px;
    display: block;
    width: 225px;
    height: 73px;
    line-height: 73px;
    text-align: center;
    font-size: 24px;
    color: #2f88c6;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #2f88c6;
  }
  .nothing-contact .img-100 {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
  }
  .nothing-contact .contact-form {
    margin: 0;
    margin-top: -2px;
    padding: 10px 0 60px;
    background: #2f88c6;
  }
  .nothing-contact .contact-form .contact-update {
    margin: 20px 0;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  .nothing-contact .contact-form .contact-input {
    margin: 0 0 20px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #e5e5e5;
  }
  .nothing-contact .contact-form .contact-subscribe {
    display: block;
    margin: auto;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #72b85e;
    border-radius: 6px;
    border: solid 1px #72b85e;
    font-size: 18px;
  }
}
