html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.jumbotron p {
  font-weight: normal;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
.wrap-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
  z-index: 8999999;
}
.wrap-checkbox input[type=checkbox]:checked {
  opacity: 0;
}
.wrap-checkbox input[type="checkbox"] + .checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-span {
  background: url('../images/common/checkbox.png') no-repeat;
  background-size: 100% 100%;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span {
  background: #fff;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  top: -1px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span:after {
  display: block;
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 10px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 2px solid #2f87c4;
  border-bottom: 2px solid #2f87c4;
}
/********
产品列表、订单中心color项图片
*****/
.color-span {
  display: inline-block;
  width: 26px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.airspay-bk {
  background: url("../images/common/color/airspay/BK.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-c {
  background: url("../images/common/color/airspay/C.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-gy {
  background: url("../images/common/color/airspay/GY.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lc {
  background: url("../images/common/color/airspay/LC.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lm {
  background: url("../images/common/color/airspay/LM.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-m {
  background: url("../images/common/color/airspay/M.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-r {
  background: url("../images/common/color/airspay/R.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-y {
  background: url("../images/common/color/airspay/Y.png") no-repeat;
  background-size: 100% 100%;
}
.laser-bk {
  background: url("../images/common/color/laser/BK.png") no-repeat;
  background-size: 100% 100%;
}
.laser-c {
  background: url("../images/common/color/laser/C.png") no-repeat;
  background-size: 100% 100%;
}
.laser-cmy {
  background: url("../images/common/color/laser/CMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-kcmy {
  background: url("../images/common/color/laser/KCMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-m {
  background: url("../images/common/color/laser/M.png") no-repeat;
  background-size: 100% 100%;
}
.laser-y {
  background: url("../images/common/color/laser/Y.png") no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片 end
*****/
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .subscriptionCenter-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    height: 280px;
    overflow: hidden;
  }
  .subscriptionCenter-banner img {
    width: 100%;
    height: 100%;
  }
  .subscriptionCenter-tabBar {
    background: #86af49;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #86af49;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #86af49;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #86af49;
  }
  .instructions-content {
    max-width: 1280px;
    margin: 50px auto 50px auto;
    padding: 0;
  }
  .instructions-content .instructions-content-left {
    padding-left: 0;
    padding-right: 20px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up {
    margin-bottom: 34px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up .instructions-content-left-header-left-up-left {
    width: 75px;
    height: 75px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    border-radius: 4px;
    overflow: hidden;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up .instructions-content-left-header-left-up-left img {
    width: 100%;
    height: 100%;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up .instructions-content-left-header-left-up-right {
    display: inline-block;
    float: left;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up .instructions-content-left-header-left-up-right h4 {
    font-family: ﻿CiscoSans;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-up .instructions-content-left-header-left-up-right p {
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .wrap-one {
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-left label {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
    margin-bottom: 0;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right {
    padding-right: 35px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like {
    padding-left: 0;
    width: 200px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like .btn-lg {
    background: #fff;
    padding: 0;
    font-size: 18px;
    height: 40px;
    padding-left: 17px;
    text-align: left;
    color: #999999;
    width: 100%;
    max-width: 200px;
    border-radius: 2px;
    border: solid 1px #bfbfbf;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font-size: 14px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like .dropdown-menu li a {
    color: #999999;
    padding: 0;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-left .instructions-content-left-header-left-down .instructions-content-left-header-left-down-right .select-like .dropdown-menu li a:hover {
    background: #686868;
    color: #fff;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-right .instructions-content-left-header-right-img {
    width: 177px;
    height: 173px;
    overflow: hidden;
    margin: 20px 0 0 90px;
  }
  .instructions-content .instructions-content-left .instructions-content-left-header .instructions-content-left-header-right .instructions-content-left-header-right-img img {
    width: 100%;
    height: 100%;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search {
    background: #eeeeee;
    padding: 20px 100px;
    position: relative;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search .searcn-icon {
    position: absolute;
    top: 12px;
    left: 25px;
    width: 18px;
    height: 18px;
    color: #9e9e9e;
    z-index: 1111;
    background: url('../images/subscriptionCenter/search-icons.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search input {
    padding-left: 50px;
    height: 40px;
    font-size: 16px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-search button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
    height: 40px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select {
    margin-top: 16px;
    margin-bottom: 2px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group span {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 14px;
    color: #5a5a5a;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son .form-group select {
    height: 40px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:first-child {
    padding-left: 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-select .firmwareUpgrades-content-left-form-select-son:last-child {
    padding-right: 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 75px;
    color: #666666;
    text-align: center;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-yes {
    color: #26b129;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td .table-no {
    color: #e72e2e;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    color: #666666;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td a:hover {
    color: #86af49;
    text-decoration: underline;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td img {
    width: 35px;
    height: 45px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table td:nth-of-type(1) {
    text-align: left;
    padding-left: 30px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead {
    background: #f5f5f5;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr {
    line-height: 61px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table table thead tr th {
    line-height: 61px;
    padding: 0;
    width: 31px;
    height: 12px;
    font-weight: normal;
    font-family: ﻿CiscoSans;
    font-size: 16px;
    letter-spacing: 0px;
    color: #666666;
    text-align: center;
    border-bottom: none;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
    height: 24px;
    border-radius: 0;
    padding: 2px 6px;
    margin-top: 6px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding-right: 0;
    padding-left: 10px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    padding-top: 2px;
    border-style: none;
    background: #fff;
    border: 1px solid #999;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 4px;
    line-height: 24px;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .instructions-content .instructions-content-left .firmwareUpgrades-content-left-form .firmwareUpgrades-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
    padding-right: 0;
    text-align: right;
  }
  .instructions-content .instructions-content-right {
    padding: 0;
    padding-left: 10px;
  }
  .instructions-content .instructions-content-right .img-bottom {
    margin-bottom: 30px;
  }
  .instructions-content .instructions-content-right .img-bottom img {
    border-radius: 5px;
    width: 100%;
  }
  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .subscriptionCenter-navbar {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .subscriptionCenter-tabBar {
    background: #86af49;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    background: #86af49;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #86af49;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #c5dea4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #86af49;
    font-size: 1.8rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #86af49;
  }
  .common-question-panel {
    padding: 1.5rem;
    margin: 0;
  }
  .common-question-panel * {
    padding: 0;
    margin: 0;
  }
  .common-question-panel .instructions-content-left .select-title {
    padding: 0;
    font-size: 18px;
    color: #666666;
    margin-bottom: 1rem;
  }
  .common-question-panel .instructions-content-left .select-like .btn-lg {
    background: #fff;
    padding: 0;
    font-size: 18px;
    height: 40px;
    padding-left: 17px;
    text-align: left;
    color: #999999;
    width: 100%;
    border-radius: 2px;
    border: solid 1px #bfbfbf;
  }
  .common-question-panel .instructions-content-left .select-like .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font-size: 14px;
  }
  .common-question-panel .instructions-content-left .select-like .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .common-question-panel .instructions-content-left .select-like .dropdown-menu li a {
    color: #999999;
    padding: 0;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .common-question-panel .instructions-content-left .select-like .dropdown-menu li a:hover {
    background: #686868;
    color: #fff;
  }
  .common-question-panel .instructions-content-left .icon-img {
    background-color: #86af49;
    border-radius: .4rem;
    border: solid 1px #eeeeee;
  }
  .common-question-panel .instructions-content-left .icon-title {
    margin: .5rem 0;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: #333333;
  }
  .common-question-panel .instructions-content-left .value {
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 18px;
    color: #8c8c8c;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .firmwareUpgrades-content-left-form-m-one {
    height: 8rem;
    line-height: 8rem;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-align: center;
    margin-top: 2.5rem;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .firmwareUpgrades-content-left-form-m-one img {
    width: 3.5rem;
    height: 4.5rem;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .firmwareUpgrades-content-left-form-m-one span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #595959;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .subscriptionCenter-list-button {
    width: 100%;
    height: 4rem;
    margin: 2rem 0rem;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .common-question-panel .instructions-content-left .firmwareUpgrades-content-left-form-m .subscriptionCenter-list-button button i {
    color: #999;
    font-style: normal;
  }
  .common-question-panel .instructions-content-left .support-form {
    margin: 1.5rem 0;
    border: 1px solid #E4E4E4;
    padding: 1rem;
  }
  .common-question-panel .instructions-content-left .support-form .form-group {
    margin-bottom: 1rem;
  }
  .common-question-panel .instructions-content-left .support-form label {
    text-align: right;
  }
  .common-question-panel .instructions-content-left .support-form .title {
    padding-left: 1rem;
    position: relative;
  }
  .common-question-panel .instructions-content-left .support-form .title:before {
    display: block;
    content: '';
    width: .3rem;
    height: 2rem;
    background: #86af49;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
  }
  .common-question-panel .instructions-content-left .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -1rem;
  }
  .common-question-panel .instructions-content-left .support-form .tips {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #8c8c8c;
  }
  .common-question-panel .instructions-content-left .support-form .submit-button {
    width: 120px;
    height: 42px;
    line-height: 42px;
    background-color: #86af49;
    border-radius: 4px;
    color: #fff;
    font-size: 1.8rem;
  }
  .common-question-panel .instructions-content-left .support-form .padding-r-15 {
    padding-right: 1.5rem;
  }
  .common-question-panel .instructions-content-left .support-form input {
    padding-left: 1rem;
  }
  .common-question-panel .instructions-content-right {
    padding: 0;
  }
  .common-question-panel .instructions-content-right .top-img {
    width: 100%;
    background-color: #86af49;
    border-radius: .3rem;
    margin-bottom: 1.5rem;
  }
  .common-question-panel .instructions-content-right .bottom-img {
    width: 100%;
    background-color: #000;
    border-radius: .5rem;
    border: solid 1px #e5e5e5;
  }
}
