html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .box-shadow-line {
    position: relative;
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    background: #2f88c6;
    position: inherit;
    border: none;
    width: 100%;
    height: 180px;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 130px;
    right: 20px;
    color: #fff;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    width: 20px;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 102px;
    right: 6px;
    content: '';
    width: 15px;
    height: 15px;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    margin: 55px auto 0;
    padding-left: 30px;
    font-size: 2.5rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    position: absolute;
    right: 0;
    top: 56px;
  }
  .box-shadow-line .nothing-navbar-brand-search a {
    width: 28px;
    height: 28px;
    text-align: center;
    padding: 2px 0;
    background: #2f88c6;
    line-height: 1.428571429;
    border-radius: 14px;
  }
  .box-shadow-line .nothing-navbar-brand-search a:hover {
    background: #256c9d;
  }
  .box-shadow-line .nothing-navbar-brand-search a .glyphicon {
    font-size: 1.4rem;
    top: 3px;
  }
  .box-shadow-line .nothing-navbar-brand-search .search-content {
    background: red;
    position: absolute;
    left: 0;
  }
  .box-shadow-line .nothing-navbar-brand-search .btn-primary {
    border: 0;
  }
  .box-shadow-line .navbar {
    height: 110px;
    padding: 0;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .navbar-collapse {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand {
    position: absolute;
    margin-top: 35px;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand img {
    width: 84px;
    height: 60px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    font-size: 1.4rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu > div {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav {
    position: static;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 20px;
    display: inline-block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a {
    position: relative;
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a:before {
    background: #2f88c6;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a > a:focus > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    background-color: #f5f5f5;
    position: absolute;
    padding: 30px 0;
    top: 109px;
    width: 100%;
    height: 233px;
    margin: 0;
    border: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-title {
    font-size: 2.4rem;
    text-align: right;
    color: #999999;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    width: 45%;
    height: 50px;
    border-right: 1px solid #d2d2d2;
    padding: 6px 30px 6px 22px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover {
    background: #e5e5e5;
    background-clip: content-box;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-3rdmenu {
    display: block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a .glyphicon {
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    color: #595959;
    text-decoration: none;
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a .glyphicon {
    top: 12px;
    float: right;
    display: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > p {
    font-size: 1.2rem;
    color: #595959;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    position: absolute;
    background: #f5f5f5;
    display: none;
    width: 100%;
    top: -3px;
    left: 45%;
    margin-left: 5px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li {
    height: 40px;
    line-height: 40px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a {
    font-size: 1.4rem;
    color: #595959;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a:hover {
    color: #2f88c6;
    text-decoration: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active {
    display: block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a .glyphicon {
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-image p {
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    max-width: 400px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle {
    color: #737373;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:hover,
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:focus {
    background: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .in-focus {
    color: #337ab7;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open > a,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .glyphicon-triangle-bottom:before {
    content: "\e253";
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #2f88c6;
    font-size: 1rem;
    font-family: CiscoSans-ExtraLight;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a:hover,
  .box-shadow-line .navbar .nothing-navbar-info > li > a:focus {
    background: none;
    text-decoration: underline;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a > img {
    position: relative;
    left: 0;
    width: 15px;
    height: 13px;
    margin-right: 7px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line {
    position: relative;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line:after {
    position: absolute;
    top: 45%;
    right: 0;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    background: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu {
    font-size: 1.2rem;
    min-width: 85px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li {
    border-left: 5px solid transparent;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li:hover {
    border-left: 5px solid #2f88c6;
  }
  .box-shadow-line .navbar-1280 {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu {
    background-color: #2f88c6;
    max-width: 1600px;
  }
  .nothing-second-menu .nothing-second-menu-content {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar-default {
    background-color: #2f88c6;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:focus,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:hover {
    background-color: transparent;
    color: #a4c7de;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
    color: #a4c7de;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    right: calc((100% - 1270px)/2);
    right: -moz-calc((100% - 1270px)/2);
    right: -webkit-calc((100% - 1270px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .nothing-navbar-brand-search {
    right: calc((100% - 1280px)/2);
    right: -moz-calc((100% - 1280px)/2);
    right: -webkit-calc((100% - 1280px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 35px;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .box-shadow-line {
    position: relative;
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    position: inherit;
    top: 4.29rem;
    background: #2f88c6;
    border: none;
    width: 100%;
    height: 8rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 4.8rem;
    right: 2rem;
    color: #fff;
    display: inline-block;
    height: 1.5rem;
    overflow: hidden;
    width: 1.5rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: .2rem;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 4rem;
    right: 3.3rem;
    content: '';
    width: .5rem;
    height: .5rem;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 3rem;
    width: 90%;
    height: 3rem;
    margin: 2.5rem auto 0;
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    position: absolute;
    right: 2rem;
    top: 0.8rem;
  }
  .box-shadow-line .nothing-navbar-brand-search button {
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: .6rem 0;
    font-size: 1.2rem;
    line-height: 1.428571429;
    border-radius: 1.5rem;
  }
  .box-shadow-line .navbar {
    margin-bottom: 0;
    border: 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button {
    float: left;
    margin-left: 1.5rem;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button .icon-bar {
    color: #2f88c6;
    background: #0b97c4;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand {
    width: 20rem;
    margin: 0.8rem auto 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: normal;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand img {
    width: 4.5rem;
    height: 3.3rem;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    height: 100vh;
    border-top: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .navbar-nav {
    padding-left: 1rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown {
    position: static;
    border-bottom: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    position: absolute;
    top: .3rem;
    left: 100%;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu div {
    padding-right: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-xs {
    border-left: 1px solid #ececec;
    padding-left: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    width: 100%;
    display: block;
    line-height: 1.8rem;
    padding: .5rem 1.5rem;
    background-color: #eee;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: .5rem 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .nothing-footer {
    margin: 0 auto;
    background: #f5f5f5;
    padding-top: 30px;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer a {
    color: #595959;
  }
  .nothing-footer a:hover {
    color: #595959;
  }
  .nothing-footer h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .nothing-footer h4 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 3rem;
    position: relative;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #8c8c8c;
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .nothing-footer .subMenu-container {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 25px;
  }
  .nothing-footer .subMenu-container .subMenu-container-list {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
    left: 25px;
    min-width: 250px;
    background: #f0f0f0;
    z-index: 99;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .list-group-item {
    background-color: #f0f0f0;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow:hover {
    background: #b4b4b4;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow span {
    border-color: #8e9299;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: block;
    height: 0;
    padding: 3px;
    transform: rotate(45deg);
    width: 0;
    left: 7px;
    position: absolute;
    top: 9px;
    z-index: 0;
  }
  .nothing-footer .copyright {
    margin-top: 50px;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    margin-top: 24px;
    background: #9e9e9e;
    height: 134px;
  }
  .nothing-footer .share-icons {
    padding: 0;
    margin-top: 50px;
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 20px;
    float: left;
  }
  .nothing-footer .share-icons li:last-child {
    margin-right: 0;
  }
  .nothing-footer .share-icons li div {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (max-width: 767px) {
  .nothing-footer {
    background: #f5f5f5;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #404040;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  .nothing-footer h3 a {
    color: #404040;
  }
  .nothing-footer h3:after,
  .nothing-footer h3:before {
    background: #404040;
    content: "";
    height: 1rem;
    width: 1px;
    right: 1rem;
    top: 0;
    position: absolute;
  }
  .nothing-footer h3:before {
    transform: rotate(90deg);
  }
  .nothing-footer h3.active:after {
    transform: rotate(-45deg);
  }
  .nothing-footer h3.active:before {
    transform: rotate(45deg);
  }
  .nothing-footer h4 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #404040;
  }
  .nothing-footer h4 a {
    color: #404040;
  }
  .nothing-footer .item-list {
    display: none;
    border-bottom: 1px solid #e4e4e4;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #999;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .nothing-footer .close-icon {
    display: none;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    padding: 3rem 0;
    background: #333;
  }
  .nothing-footer .follow-us-txt {
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
  }
  .nothing-footer .up-phone-top {
    margin-top: 3rem;
  }
  .nothing-footer .share-icons {
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 1rem;
    float: left;
  }
  .nothing-footer .share-icons li div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .4rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .nothing-banner-img {
    width: 100%;
    height: 280px;
  }
  .nothing-banner-img > img {
    width: 100%;
    height: 100%;
  }
  .nothing-btn-list {
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
  }
  .nothing-btn-list .btn-wrap {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 70px;
  }
  .nothing-btn-list .btn-wrap .dropdown {
    display: none;
  }
  .nothing-btn-list .btn-wrap > .btn {
    display: inline-block;
    margin-left: 20px;
    border-radius: 3px;
    border: solid 1px #2f88c4;
    color: #2f87c4;
  }
  .nothing-btn-list .btn-wrap > .btn.btn-active {
    background-color: #2f87c4;
    border: solid 1px #2f88c4;
    color: #fff;
  }
  .nothing-new-list {
    max-width: 1280px;
    margin: 0 auto 30px;
  }
  .nothing-new-list .news-list .new-item:hover {
    cursor: pointer;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  }
  .nothing-new-list .news-list .new-item {
    margin-top: 30px;
    height: 200px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
  }
  .nothing-new-list .news-list .new-item .item-lf {
    height: 200px;
    padding: 0;
  }
  .nothing-new-list .news-list .new-item .item-lf > img {
    width: 100%;
    height: 100%;
  }
  .nothing-new-list .news-list .new-item .item-rg {
    height: 200px;
    padding-right: 28px;
    padding-left: 28px;
  }
  .nothing-new-list .news-list .new-item .item-rg > h4 {
    display: block;
    margin-top: 20px;
    height: 60px;
    font-size: 18px;
    color: #2f88c6;
  }
  .nothing-new-list .news-list .new-item .item-rg > p {
    height: 50px;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
  }
  .nothing-new-list .news-list .new-item .item-rg > span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
  }
  .nothing-new-list .news-list .load-more {
    border: none;
    margin: 125px auto;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #8c8c8c;
  }
  .nothing-new-list .news-sidebar {
    padding: 0 5px;
  }
  .nothing-new-list .news-sidebar .sidebar-item {
    cursor: pointer;
    margin-top: 30px;
    padding: 0 10px 20px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-head {
    border-bottom: 1px solid #d2d2d2;
    height: 45px;
    line-height: 53px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-head > h6 {
    margin: 0;
    display: inline-block;
    padding-left: 7px;
    border-left: 3px solid #2f88c4;
    font-size: 20px;
    color: #404040;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .hover {
    display: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .inactive {
    display: inline-block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap .hover {
    display: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap .inactive {
    display: inline-block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover {
    background-color: #e1e8ed;
    border-radius: 3px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover .hover {
    display: inline-block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover .inactive {
    display: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover .detail-btm .time {
    color: #92c1e0;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover .detail-btm .img-wrap .hover {
    display: inline-block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail:hover .detail-btm .img-wrap .inactive {
    display: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp {
    position: relative;
    display: flex;
    height: 50px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .img-wrap {
    border-radius: 5px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .img-wrap > img {
    margin: 5px 9px 0 5px;
    display: inline-block;
    line-height: 60px;
    width: 32px;
    height: 32px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span {
    display: block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span:first-child {
    font-size: 14px;
    padding-top: 2px;
    color: #404040;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span:last-child {
    font-size: 12px;
    color: #8c8c8c;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .icon-place {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .icon-place > img {
    width: 100%;
    height: 100%;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-md {
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm {
    display: flex;
    height: 43px;
    padding-top: 15px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap {
    padding-left: 5px;
    flex: 1;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap > img {
    margin-right: 20px;
    display: inline-block;
    width: 13px;
    height: 13px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .time {
    line-height: 25px;
    text-align: right;
    font-size: 12px;
    color: #ced4d9;
    padding-right: 10px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info {
    margin-top: 25px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span {
    display: block;
    color: #8c8c8c;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span:first-child {
    font-size: 16px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span:last-child {
    font-size: 14px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table {
    margin-top: 25px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .input-group {
    padding: 0 20px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .input-group .input-group-addon {
    padding: 6px 20px 6px 0;
    background-color: inherit;
    border: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .input-group .form-control {
    max-width: 200px;
    height: 35px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .submit-wrap {
    text-align: center;
    padding: 11px 0 15px;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .submit-wrap > .btn {
    border: none;
    padding: 0;
    width: 100px;
    height: 32px;
    line-height: 32px;
    background-color: #2f88c4;
    border-radius: 4px;
  }
  .nothing-new-list:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .nothing-banner-img {
    width: 100%;
    height: 14rem;
  }
  .nothing-banner-img > img {
    width: 100%;
    height: 100%;
  }
  .nothing-btn-list {
    margin: 0 auto;
    height: 7rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .nothing-btn-list .btn-wrap {
    margin: 0 auto;
    line-height: 7rem;
  }
  .nothing-btn-list .btn-wrap > .btn {
    display: none;
  }
  .nothing-btn-list .btn-wrap .dropdown {
    margin-left: 1rem;
  }
  .nothing-btn-list .btn-wrap .dropdown > .btn {
    background-color: #2f87c4;
    border-radius: .4rem;
    border: solid 1px #2f88c4;
    height: 3rem;
    color: #fff;
  }
  .nothing-btn-list .btn-wrap .dropdown .dropdown-menu {
    top: 5rem;
    left: 1rem;
  }
  .nothing-new-list {
    margin-bottom: 3rem;
  }
  .nothing-new-list .news-list .new-item {
    margin-top: 2.5rem;
    height: 26rem;
    background-color: #ffffff;
    box-shadow: 0 0.3rem 0.7rem 0 rgba(0, 0, 0, 0.35);
    border: solid 1px #e5e5e5;
  }
  .nothing-new-list .news-list .new-item .item-lf {
    height: 12rem;
    padding: 0;
  }
  .nothing-new-list .news-list .new-item .item-lf > img {
    width: 100%;
    height: 100%;
  }
  .nothing-new-list .news-list .new-item .item-rg {
    height: 14rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .nothing-new-list .news-list .new-item .item-rg > h4 {
    display: block;
    height: 4rem;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: #404040;
  }
  .nothing-new-list .news-list .new-item .item-rg > p {
    height: 3rem;
    font-size: 1.4rem;
    color: #595959;
  }
  .nothing-new-list .news-list .new-item .item-rg > span {
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #8c8c8c;
  }
  .nothing-new-list .news-list .load-more {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #999999;
    border: solid 1px #e5e5e5;
  }
  .nothing-new-list .news-sidebar .sidebar-item {
    margin-top: 2rem;
    padding: 0 1rem;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-head {
    border-bottom: 1px solid #d2d2d2;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-head > h6 {
    display: block;
    padding-left: 1rem;
    border-left: 3px solid #2f88c4;
    font-size: 2rem;
    color: #404040;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail {
    position: relative;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp {
    display: flex;
    height: 6rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .img-wrap {
    border-radius: .5rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .img-wrap > img {
    margin: 1.4rem;
    display: inline-block;
    line-height: 3rem;
    width: 3.2rem;
    height: 3.2rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span {
    display: block;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span:first-child {
    font-size: 1.4rem;
    line-height: 3rem;
    color: #404040;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .info > span:last-child {
    font-size: 1.2rem;
    color: #8c8c8c;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .icon-place {
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-tp .icon-place > img {
    width: 100%;
    height: 100%;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-md {
    padding: 0 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #999999;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm {
    display: flex;
    height: 3.5rem;
    padding-top: .8rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap {
    padding-left: 1rem;
    flex: 1;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .img-wrap > img {
    margin-right: 2rem;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .item-detail .detail-btm .time {
    line-height: 2.5rem;
    text-align: right;
    font-size: 1.4rem;
    color: #92c1e0;
    padding-right: 1rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info {
    margin-top: 2rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span {
    color: #8c8c8c;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span:first-child {
    font-size: 1.6rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-info > span:last-child {
    font-size: 1.4rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table {
    margin-top: 2rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .input-group {
    padding: 0 1rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .input-group .input-group-addon {
    padding: .6rem 2rem .6rem 0;
    background-color: inherit;
    border: none;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .submit-wrap {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .nothing-new-list .news-sidebar .sidebar-item .form-table .submit-wrap > .btn {
    border: none;
    padding: 0;
    width: 5rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: #2f88c4;
    border-radius: .2rem;
  }
  .nothing-new-list:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.text-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.multi-line-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
