html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.jumbotron p {
  font-weight: normal;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
.wrap-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
  z-index: 8999999;
}
.wrap-checkbox input[type=checkbox]:checked {
  opacity: 0;
}
.wrap-checkbox input[type="checkbox"] + .checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-span {
  background: url('../images/common/checkbox.png') no-repeat;
  background-size: 100% 100%;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span {
  background: #fff;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  top: -1px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span:after {
  display: block;
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 10px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 2px solid #2f87c4;
  border-bottom: 2px solid #2f87c4;
}
/********
产品列表、订单中心color项图片
*****/
.color-span {
  display: inline-block;
  width: 26px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.airspay-bk {
  background: url("../images/common/color/airspay/BK.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-c {
  background: url("../images/common/color/airspay/C.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-gy {
  background: url("../images/common/color/airspay/GY.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lc {
  background: url("../images/common/color/airspay/LC.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lm {
  background: url("../images/common/color/airspay/LM.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-m {
  background: url("../images/common/color/airspay/M.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-r {
  background: url("../images/common/color/airspay/R.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-y {
  background: url("../images/common/color/airspay/Y.png") no-repeat;
  background-size: 100% 100%;
}
.laser-bk {
  background: url("../images/common/color/laser/BK.png") no-repeat;
  background-size: 100% 100%;
}
.laser-c {
  background: url("../images/common/color/laser/C.png") no-repeat;
  background-size: 100% 100%;
}
.laser-cmy {
  background: url("../images/common/color/laser/CMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-kcmy {
  background: url("../images/common/color/laser/KCMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-m {
  background: url("../images/common/color/laser/M.png") no-repeat;
  background-size: 100% 100%;
}
.laser-y {
  background: url("../images/common/color/laser/Y.png") no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片 end
*****/
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .box-shadow-line {
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    display: block;
    background: #2f88c6;
    position: inherit;
    border: none;
    width: 100%;
    height: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 130px;
    right: 20px;
    color: #fff;
    display: inline-block;
    height: 0;
    overflow: hidden;
    width: 20px;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 102px;
    right: 6px;
    content: '';
    width: 15px;
    height: 15px;
    opacity: 0;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 0;
    margin: 55px auto 0;
    padding-left: 30px;
    font-size: 2.5rem;
    opacity: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu {
    height: 180px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu:after {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu input {
    opacity: 1;
    height: 60px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .dropdown.search-top-icon.open > .dropdown-menu .search-close-icon {
    height: 20px;
    transition: height 0.5s ease-out;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    width: 38px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 56px;
    background-image: url(../images/home/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box-shadow-line .nothing-navbar-brand-search a {
    display: none;
  }
  .box-shadow-line .navbar {
    height: 110px;
    padding: 0;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .navbar-collapse {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand {
    position: absolute;
    margin-top: 35px;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand {
    padding: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-brand .navbar-brand img {
    width: 84px;
    height: 60px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    font-size: 1.4rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu > div {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav {
    position: static;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li {
    position: static;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 20px;
    display: inline-block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-menu .nav .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a {
    position: relative;
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a:before {
    background: #2f88c6;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown:hover > a > a:focus > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    background-color: #f5f5f5;
    position: absolute;
    padding: 30px 0;
    top: 109px;
    width: 100%;
    height: 233px;
    margin: 0;
    border: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-title {
    font-size: 2.4rem;
    text-align: right;
    color: #999999;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    width: 45%;
    height: 50px;
    padding: 7px 12px 7px 22px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover {
    background: #e5e5e5;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-3rdmenu {
    display: block;
    border-left: 1px solid #d2d2d2;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu:hover > a .glyphicon {
    color: #a6a6a6;
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    color: #666666;
    text-decoration: none;
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a .glyphicon {
    top: 12px;
    float: right;
    display: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > p {
    font-size: 1.2rem;
    color: #666666;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    position: absolute;
    background: #f5f5f5;
    display: none;
    width: 100%;
    top: -3px;
    left: 45%;
    margin-left: 5px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li {
    height: 40px;
    line-height: 40px;
    list-style-type: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a {
    font-size: 1.4rem;
    color: #595959;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu > li > a:hover {
    color: #2f88c6;
    text-decoration: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active {
    display: block;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a {
    color: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu-active > a .glyphicon {
    display: inherit;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-image p {
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    max-width: 400px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle {
    color: #737373;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:hover,
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-toggle:focus {
    background: none;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .in-focus {
    color: #337ab7;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #2f88c6;
    font-size: 1rem;
    font-family: CiscoSans-ExtraLight;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a:hover,
  .box-shadow-line .navbar .nothing-navbar-info > li > a:focus {
    background: none;
    text-decoration: underline;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li > a > img {
    position: relative;
    left: 0;
    margin-right: 7px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line {
    position: relative;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li.line:after {
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    content: '';
    width: 1px;
    height: 12px;
    background: #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu {
    font-size: 1.2rem;
    min-width: 85px;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li {
    border-left: 5px solid transparent;
  }
  .box-shadow-line .navbar .nothing-navbar-info > li .dropdown-menu > li:hover {
    border-left: 5px solid #2f88c6;
  }
  .box-shadow-line .navbar .nothing-navbar-info .glyphicon.glyphicon-triangle-bottom {
    position: relative;
    left: 5px;
    top: 3px;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open > a,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:focus,
  .box-shadow-line .navbar .nothing-navbar-info .open > a:hover {
    background-color: #ffffff;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .glyphicon-triangle-bottom:before {
    content: "\e253";
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu {
    border-radius: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li a {
    padding: 3px 10px;
  }
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li > a:focus,
  .box-shadow-line .navbar .nothing-navbar-info .open .dropdown-menu > li a:hover {
    color: #2f88c6;
    background-color: #ffffff;
  }
  .box-shadow-line .navbar-1280 {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu {
    background-color: #2f88c6;
    max-width: 1600px;
  }
  .nothing-second-menu .nothing-second-menu-content {
    max-width: 1280px;
    margin: 0 auto;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar-default {
    background-color: #2f88c6;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a > span,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:focus > span,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav .open > a:hover > span {
    display: inherit;
    position: absolute;
    top: 60px;
    left: 45%;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li {
    font-family: CiscoSans-ExtraLight;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover {
    background-color: #2977ab;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:focus,
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li:hover > a:hover {
    background-color: transparent;
    color: #ffffff;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
    color: #a4c7de;
    font-size: 14px;
  }
  .nothing-second-menu .nothing-second-menu-content .navbar .navbar-nav > li > a > span {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    right: calc((100% - 1260px)/2);
    right: -moz-calc((100% - 1260px)/2);
    right: -webkit-calc((100% - 1260px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1281px) {
  .box-shadow-line .nothing-navbar-brand-search {
    right: calc((100% - 1280px)/2);
    right: -moz-calc((100% - 1280px)/2);
    right: -webkit-calc((100% - 1280px)/2);
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .box-shadow-line .navbar .nothing-navbar-menu .nav > li > a {
    padding: 0;
    text-align: center;
    margin: 13px 35px;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .box-shadow-line {
    position: relative;
  }
  .box-shadow-line .dropdown.search-top-icon {
    position: static;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu {
    position: inherit;
    top: 4.29rem;
    background: #2f88c6;
    border: none;
    width: 100%;
    height: 8rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon {
    position: absolute;
    top: 4.8rem;
    right: 2rem;
    color: #fff;
    display: inline-block;
    height: 1.5rem;
    overflow: hidden;
    width: 1.5rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after,
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    background: #fff;
    content: "";
    height: .2rem;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:after {
    transform: rotate(-45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu .search-close-icon:before {
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu:after {
    position: absolute;
    display: block;
    top: 4rem;
    right: 3.3rem;
    content: '';
    width: .5rem;
    height: .5rem;
    background: #2f88c6;
    transform: rotate(45deg);
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input {
    display: block;
    border: none;
    border-radius: 3rem;
    width: 90%;
    height: 3rem;
    margin: 2.5rem auto 0;
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:focus {
    outline: none;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8c8c8c;
  }
  .box-shadow-line .dropdown.search-top-icon .dropdown-menu input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8c8c8c;
  }
  .box-shadow-line .nothing-navbar-brand-search {
    width: 38px;
    height: 36px;
    position: absolute;
    right: 2rem;
    top: .6rem;
    background-image: url(../images/home/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box-shadow-line .nothing-navbar-brand-search a {
    display: none;
  }
  .box-shadow-line .navbar {
    margin-bottom: 0;
    border: 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button {
    float: left;
    margin-left: 1.5rem;
    margin-right: 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-button .icon-bar {
    color: #2f88c6;
    background: #0b97c4;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand {
    width: 20rem;
    margin: 0.8rem auto 0;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: normal;
  }
  .box-shadow-line .navbar .navbar-header .nothing-navbar-brand .navbar-brand img {
    width: 4.5rem;
    height: 3.3rem;
    margin: 0 auto;
  }
  .box-shadow-line .navbar .nothing-navbar-menu {
    height: 100vh;
    border-top: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .navbar-nav {
    padding-left: 1rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown {
    position: static;
    border-bottom: 1px solid #ececec;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu {
    position: absolute;
    top: .3rem;
    left: 100%;
    width: 100%;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu div {
    padding-right: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-menu-xs {
    border-left: 1px solid #ececec;
    padding-left: 0;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu {
    font-size: 1.6rem;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu > a {
    width: 100%;
    display: block;
    line-height: 1.8rem;
    padding: .5rem 1.5rem;
    background-color: #eee;
  }
  .box-shadow-line .navbar .nothing-navbar-menu .dropdown .dropdown-menu .dropdown-submenu .dropdown-3rdmenu {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: .5rem 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .nothing-footer {
    margin: 0 auto;
    background: #f5f5f5;
    padding-top: 30px;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer a {
    color: #595959;
  }
  .nothing-footer a:hover {
    color: #595959;
  }
  .nothing-footer h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .nothing-footer h4 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 3rem;
    position: relative;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #8c8c8c;
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .nothing-footer .subMenu-container {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 25px;
  }
  .nothing-footer .subMenu-container .subMenu-container-list {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
    left: 25px;
    min-width: 250px;
    background: #f0f0f0;
    z-index: 99;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .list-group-item {
    background-color: #f0f0f0;
  }
  .nothing-footer .subMenu-container .subMenu-container-list .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow:hover {
    background: #b4b4b4;
  }
  .nothing-footer .subMenu-container .sub-menu-arrow span {
    border-color: #8e9299;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: block;
    height: 0;
    padding: 3px;
    transform: rotate(45deg);
    width: 0;
    left: 7px;
    position: absolute;
    top: 9px;
    z-index: 0;
  }
  .nothing-footer .copyright {
    margin-top: 50px;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    margin-top: 24px;
    background: #9e9e9e;
    height: 134px;
  }
  .nothing-footer .share-icons {
    padding: 0;
    margin-top: 50px;
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 20px;
    float: left;
  }
  .nothing-footer .share-icons li:last-child {
    margin-right: 0;
  }
  .nothing-footer .share-icons li div {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (max-width: 767px) {
  .nothing-footer {
    background: #f5f5f5;
  }
  .nothing-footer .row {
    margin: 0;
  }
  .nothing-footer h3 {
    font-size: 1.6rem;
    font-weight: normal;
    color: #404040;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  .nothing-footer h3 a {
    color: #404040;
  }
  .nothing-footer h3:after,
  .nothing-footer h3:before {
    background: #404040;
    content: "";
    height: 1rem;
    width: 1px;
    right: 1rem;
    top: 0;
    position: absolute;
  }
  .nothing-footer h3:before {
    transform: rotate(90deg);
  }
  .nothing-footer h3.active:after {
    transform: rotate(-45deg);
  }
  .nothing-footer h3.active:before {
    transform: rotate(45deg);
  }
  .nothing-footer h4 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #404040;
  }
  .nothing-footer h4 a {
    color: #404040;
  }
  .nothing-footer .item-list {
    display: none;
    border-bottom: 1px solid #e4e4e4;
  }
  .nothing-footer .list-group {
    margin-bottom: 0;
  }
  .nothing-footer .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: none;
    color: #999;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .nothing-footer .close-icon {
    display: none;
  }
  .nothing-footer .copyright p {
    color: #fff;
    font-size: 1.2rem;
  }
  .nothing-footer .share {
    padding: 3rem 0;
    background: #333;
  }
  .nothing-footer .follow-us-txt {
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
  }
  .nothing-footer .up-phone-top {
    margin-top: 3rem;
  }
  .nothing-footer .share-icons {
    list-style: none;
  }
  .nothing-footer .share-icons li {
    margin-right: 1rem;
    float: left;
  }
  .nothing-footer .share-icons li div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .4rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nothing-footer .share-icons li div:hover {
    opacity: .9;
  }
  .nothing-footer .share-icons .facebook-icon {
    background-image: url(../images/concern/facebook-color.png);
  }
  .nothing-footer .share-icons .twitter-icon {
    background-image: url(../images/concern/twitter-color.png);
  }
  .nothing-footer .share-icons .in-icon {
    background-image: url(../images/concern/in-color.png);
  }
  .nothing-footer .share-icons .youtube-icon {
    background-image: url(../images/concern/youtube-color.png);
  }
}
@media screen and (min-width: 768px) {
  .order-center-step3-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .order-center-step3-banner #myCarousel {
    height: 280px;
    overflow: hidden;
  }
  .order-center-step3-banner #myCarousel img {
    width: 100%;
    height: 280px;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators {
    left: 90%;
    bottom: 10px;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators li {
    background: #fff;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators .active {
    width: 24px;
    height: 12px;
    border-radius: 6px;
  }
  .orderCenter-content {
    max-width: 1280px;
    margin: 50px auto;
  }
  .orderCenter-content .productList-content-wrap-table {
    min-height: 1700px;
  }
  .orderCenter-content .orderCenter-content-header {
    padding-bottom: 100px;
    border-bottom: 1px solid #e5e5e5;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-title h3 {
    font-size: 30px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    margin: 60px 0;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-descript p {
    font-size: 18px;
    color: #666666;
    text-align: center;
    margin-bottom: 80px;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-img {
    padding: 0 100px;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-img img {
    width: 100%;
    height: auto;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word {
    text-align: center;
    padding: 20px 0;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word .setp {
    font-size: 16px;
    color: #999999;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word .setp1,
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word .setp2 {
    color: #2f87c4;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word .setp1 {
    text-align: left;
    padding-left: 70px;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps-word .setp3 {
    text-align: right;
    padding-right: 70px;
  }
  .orderCenter-content .productList-content-select-style {
    height: 100px;
    line-height: 100px;
  }
  .orderCenter-content .productList-content-select-style .nopadding {
    padding: 0;
  }
  .orderCenter-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-left span {
    font-size: 18px;
    color: #666666;
  }
  .orderCenter-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon:hover {
    cursor: pointer;
  }
  .orderCenter-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 2px #cdcdcd;
    vertical-align: middle;
    font-size: 24px;
    color: #666;
  }
  .orderCenter-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -13px;
  }
  .orderCenter-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon .active {
    color: #fff;
    background: #2f87c4;
    border: none;
  }
  .orderCenter-content .panel-list {
    display: none;
  }
  .orderCenter-content .panel-list .row-item {
    border: 1px solid #e5e5e5;
    min-height: 291px;
    margin: 0 0 30px 0;
    padding: 30px 50px;
  }
  .orderCenter-content .panel-list .row-item .row {
    height: 60px;
    font-size: 1.6rem;
    color: #666;
  }
  .orderCenter-content .panel-list .row-item .col-sm-6 {
    padding: 0;
  }
  .orderCenter-content .panel-list .row-item .label-item {
    font-weight: 700;
  }
  .orderCenter-content .table-list .row {
    margin: 0;
  }
  .orderCenter-content .table-list .col-sm-1.item {
    width: 5%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-2.category {
    width: 15%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.code {
    width: 10%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.oem-code {
    width: 10%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.color {
    width: 5%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.yield {
    width: 10%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.region {
    width: 10%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-3.printer {
    width: 25%;
    padding: 0;
  }
  .orderCenter-content .table-list .col-sm-1.quantity {
    width: 10%;
    padding: 0;
  }
  .orderCenter-content .table-list .head {
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    font-size: 1.4rem;
    text-align: center;
    color: #595959;
  }
  .orderCenter-content .table-list .body .row-item {
    text-align: center;
    height: 140px;
    border-bottom: 1px solid #f5f5f5;
    line-height: 140px;
    color: #666;
  }
  .orderCenter-content .table-list .body .printer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    text-align: left;
    line-height: normal;
  }
  .orderCenter-content .title {
    font-size: 2.4rem;
    color: #333;
    margin: 30px 0;
  }
  .orderCenter-content .form .label-item {
    font-size: 1.6rem;
    height: 41px;
    line-height: 41px;
  }
  .orderCenter-content .form .label-item .required {
    color: #f00;
  }
  .orderCenter-content .form input[type='text'] {
    width: 100%;
    height: 41px;
    line-height: 41px;
    padding-left: 15px;
  }
  .orderCenter-content .form .select-country .btn-lg {
    background: #fff;
    padding: 0;
    font-size: 1.4rem;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    padding-left: 15px;
    text-align: left;
    color: #333;
    border-color: #bfbfbf;
  }
  .orderCenter-content .form .select-country .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font-size: 14px;
  }
  .orderCenter-content .form .select-country .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .orderCenter-content .form .select-country .dropdown-menu li a {
    color: #8c8c8c;
    padding: 0;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
  }
  .orderCenter-content .form .select-country .dropdown-menu li a:hover {
    color: #fff;
    background: #686868;
  }
  .orderCenter-content .order-center-btns {
    margin: 100px 0 50px;
    height: 91px;
    line-height: 91px;
    background: #2f87c4;
  }
  .orderCenter-content .order-center-btns div {
    text-align: right;
  }
  .orderCenter-content .order-center-btns .handle-btn {
    display: inline-block;
    text-align: center;
    width: 134px;
    height: 37px;
    line-height: 37px;
    border-radius: 4px;
    color: #2f87c4;
    border: solid 1px #ffffff;
    margin-right: 30px;
    background: #fff;
  }
  .orderCenter-content .order-center-btns .handle-btn:first-child {
    margin-right: 10px;
  }
  .orderCenter-content .order-center-btns .handle-btn:hover,
  .orderCenter-content .order-center-btns .handle-btn:focus {
    color: #fff;
    text-decoration: none;
    background: #2f87c4;
  }
}
@media screen and (max-width: 767px) {
  .order-center-step3-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators {
    bottom: -1rem;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators li {
    background: #fff;
    width: .6rem;
    height: .6rem;
  }
  .order-center-step3-banner #myCarousel .carousel-indicators .active {
    width: 1.2rem;
    height: .6rem;
    border-radius: 6px;
  }
  .orderCenter-content .orderCenter-content-header {
    padding-bottom: 5rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-title h3 {
    font-size: 2.4rem;
    font-weight: normal;
    color: #333333;
    text-align: center;
    margin: 3rem 0;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-descript {
    padding: 0 1rem;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-descript p {
    font-size: 1.2rem;
    color: #666666;
    text-align: left;
    margin-bottom: 4rem;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-img {
    padding: 0 1rem;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-img img {
    width: 100%;
    height: auto;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-word {
    text-align: center;
    padding: 1rem 0;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-word .setp {
    font-size: 1.2rem;
    color: #999;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-word .setp1 {
    padding: 0;
    text-align: left;
    color: #2f87c4;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-word .setp2 {
    padding: 0 1rem;
    color: #2f87c4;
  }
  .orderCenter-content .orderCenter-content-header .orderCenter-content-header-steps .orderCenter-content-header-steps-word .setp3 {
    text-align: right;
    padding: 0 0 0 1rem;
  }
  .orderCenter-content .table-list {
    display: none;
  }
  .orderCenter-content .panel-list {
    display: block;
    border-bottom: 1px solid #e5e5e5;
  }
  .orderCenter-content .panel-list .row-item {
    position: relative;
    margin: 0 0 3rem 0;
    padding-bottom: 4rem;
  }
  .orderCenter-content .panel-list .row-item:after {
    position: relative;
    bottom: -6rem;
    display: block;
    width: 200%;
    height: 1rem;
    background: #d7d7d7;
    content: '';
    margin-left: -2rem;
  }
  .orderCenter-content .panel-list .row-item:last-child:after {
    background: #fff;
  }
  .orderCenter-content .panel-list .row-item .quantity-phone {
    position: absolute;
    right: 0;
    bottom: 10rem;
  }
  .orderCenter-content .panel-list .row-item .row {
    height: 60px;
    font-size: 1.4rem;
    color: #666;
  }
  .orderCenter-content .panel-list .row-item .col-sm-6 {
    padding: 0;
  }
  .orderCenter-content .panel-list .row-item .label-item {
    font-weight: 700;
    margin: 1rem 0;
  }
  .orderCenter-content .panel-list .row-item .value-item {
    font-size: 1.1rem;
  }
  .orderCenter-content .title {
    font-size: 1.6rem;
    color: #333;
    margin: 30px 0;
  }
  .orderCenter-content .form .label-item {
    font-size: 1.6rem;
    height: 41px;
    line-height: 41px;
  }
  .orderCenter-content .form .label-item .required {
    color: #f00;
  }
  .orderCenter-content .form input[type='text'] {
    width: 100%;
    height: 41px;
    line-height: 41px;
    padding-left: 15px;
    border: 1px solid #bfbfbf;
  }
  .orderCenter-content .form .select-country {
    margin-bottom: 3.5rem;
  }
  .orderCenter-content .form .select-country .btn-lg {
    background: #fff;
    padding: 0;
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: .2rem;
    padding-left: 1rem;
    text-align: left;
    color: #333;
    border-color: #bfbfbf;
  }
  .orderCenter-content .form .select-country .glyphicon.glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.6rem;
    font-size: 1.4rem;
  }
  .orderCenter-content .form .select-country .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .orderCenter-content .form .select-country .dropdown-menu li a {
    color: #333;
    padding: 0;
    padding-left: 1rem;
    height: 3.3rem;
    line-height: 3.3rem;
    font-size: 1.4rem;
  }
  .orderCenter-content .form .select-country .dropdown-menu li a:hover {
    background: #686868;
  }
  .orderCenter-content .order-center-btns {
    margin: 1.5rem -1.5rem 0 -1.5rem;
    padding: 2rem;
    background: #2f87c4;
    text-align: center;
  }
  .orderCenter-content .order-center-btns .btn-default {
    width: 45%;
    border-radius: .4rem;
    color: #2f87c4;
  }
  .orderCenter-content .order-center-btns .btn-primary {
    width: 45%;
    border-radius: .4rem;
    background: #2f87c4;
    border: 1px solid #fff;
  }
}
