html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.jumbotron p {
  font-weight: normal;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
.wrap-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
  z-index: 8999999;
}
.wrap-checkbox input[type=checkbox]:checked {
  opacity: 0;
}
.wrap-checkbox input[type="checkbox"] + .checkbox-span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/common/checkbox.png') no-repeat;
  background-size: 100% 100%;
}
.wrap-checkbox input[type="checkbox"]:checked + .checkbox-all-span {
  background: url('../images/common/checkbox-all.png') no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片
*****/
.color-span {
  display: inline-block;
  width: 26px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.airspay-bk {
  background: url("../images/common/color/airspay/BK.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-c {
  background: url("../images/common/color/airspay/C.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-gy {
  background: url("../images/common/color/airspay/GY.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lc {
  background: url("../images/common/color/airspay/LC.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-lm {
  background: url("../images/common/color/airspay/LM.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-m {
  background: url("../images/common/color/airspay/M.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-r {
  background: url("../images/common/color/airspay/R.png") no-repeat;
  background-size: 100% 100%;
}
.airspay-y {
  background: url("../images/common/color/airspay/Y.png") no-repeat;
  background-size: 100% 100%;
}
.laser-bk {
  background: url("../images/common/color/laser/BK.png") no-repeat;
  background-size: 100% 100%;
}
.laser-c {
  background: url("../images/common/color/laser/C.png") no-repeat;
  background-size: 100% 100%;
}
.laser-cmy {
  background: url("../images/common/color/laser/CMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-kcmy {
  background: url("../images/common/color/laser/KCMY.png") no-repeat;
  background-size: 100% 100%;
}
.laser-m {
  background: url("../images/common/color/laser/M.png") no-repeat;
  background-size: 100% 100%;
}
.laser-y {
  background: url("../images/common/color/laser/Y.png") no-repeat;
  background-size: 100% 100%;
}
/********
产品列表、订单中心color项图片 end
*****/
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .subscriptionCenter-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel {
    height: 280px;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel img {
    width: 100%;
    height: 280px;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators {
    left: 90%;
    bottom: 10px;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators li {
    background: #fff;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators .active {
    width: 24px;
    height: 12px;
    border-radius: 6px;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .productList-content {
    max-width: 1280px;
    margin: 50px auto;
  }
  .productList-content .productList-content-header {
    border-bottom: 1px solid #e5e5e5;
  }
  .productList-content .productList-content-header h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
  .productList-content .productList-content-header .productList-content-header-search {
    padding-bottom: 10px;
  }
  .productList-content .productList-content-header .productList-content-header-search .nopaddingleft {
    padding-left: 0;
  }
  .productList-content .productList-content-header .productList-content-header-search .form-group {
    position: relative;
  }
  .productList-content .productList-content-header .productList-content-header-search .form-group span {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 14px;
    color: #595959;
  }
  .productList-content .productList-content-header .productList-content-header-search .form-group select {
    height: 40px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #595959;
  }
  .productList-content .productList-content-header .productList-content-header-search .form-group select:hover {
    background: #fafafa;
    cursor: pointer;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right .searcn-icon {
    position: absolute;
    top: 13px;
    left: 25px;
    width: 15px;
    height: 15px;
    color: #9e9e9e;
    z-index: 1111;
    background: url('../images/search-icon-new.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right input {
    padding-left: 30px;
    border-radius: 4px;
    height: 40px;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
    border-radius: 4px;
    height: 40px;
  }
  .productList-content .productList-content-select-style {
    height: 100px;
    line-height: 100px;
  }
  .productList-content .productList-content-select-style .nopadding {
    padding: 0;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-left span {
    font-size: 18px;
    color: #666666;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .style-one span {
    background: url("../images/common/style1.png");
    background-size: 100% 100%;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .style-one .active {
    background: url("../images/common/style1-a.png");
    background-size: 100% 100%;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .style-two span {
    background: url("../images/common/style2.png");
    background-size: 100% 100%;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .style-two .active {
    background: url("../images/common/style2-a.png");
    background-size: 100% 100%;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon:hover {
    cursor: pointer;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    font-size: 24px;
    color: #666;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -13px;
  }
  .productList-content {
    max-width: 1280px;
    margin: 50px auto;
  }
  .productList-content .productList-content-header h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
  .productList-content .productList-content-header .productList-content-header-search {
    padding-bottom: 10px;
  }
  .productList-content .productList-content-header .productList-content-header-search .nopaddingleft {
    padding-left: 0;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right .searcn-icon {
    position: absolute;
    top: 13px;
    left: 25px;
    color: #666;
    z-index: 1111;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right input {
    padding-left: 30px;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
  }
  .productList-content .productList-content-left {
    padding: 0;
  }
  .productList-content .productList-content-left .productList-content-left-header h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 41px;
  }
  .productList-content .productList-content-left .productList-content-left-header p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 90px;
  }
  .productList-content .productList-content-left .productList-content-left-title h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 60px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table .wrap-buy-num {
    position: relative;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table tr:hover {
    background: #fff;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    height: 140px;
    line-height: 140px;
    text-align: center;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td img {
    width: 40px;
    height: 40px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .blue {
    background: #01b0f1;
    position: relative;
    top: 6px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .printer-models {
    display: inline-block;
    vertical-align: middle;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .printer-models p {
    line-height: 30px;
    margin-bottom: 0;
    text-align: left;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    right: -20%;
    width: 130%;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num span {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid #bebebe;
    border-radius: 4px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num .num-dowm {
    background: #f5f5f5;
    color: #969696;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num .num-up {
    background: #2f87c4;
    color: #fff;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num input {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .buy-num button {
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    border: none;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table td .cart-button {
    width: 34px;
    height: 34px;
    background: url("../images/subscriptionCenter/cart-icon.jpg") no-repeat;
    background-size: 100% 100%;
    border: none;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table thead {
    background: #f5f5f5;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table thead tr {
    line-height: 61px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table thead tr th {
    line-height: 61px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #666666;
    text-align: center;
    border-bottom: none;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table table .no-border td {
    border: none;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding: 0;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .productList-content .productList-content-left .productList-content-left-form .productList-content-left-form-table .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .productList-md .product-item {
    display: flex;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    margin-bottom: 20px;
  }
  .productList-md .product-item .product-img {
    padding: 50px 0;
    margin: 50px 0;
    flex: 1;
    border-right: 1px solid #e5e5e5;
  }
  .productList-md .product-item .product-img > img {
    margin: 0 auto;
    display: block;
    width: 85px;
    height: 85px;
  }
  .productList-md .product-item .product-info {
    flex: 3;
    padding-left: 30px;
    padding-right: 30px;
  }
  .productList-md .product-item .product-info .info-tp {
    margin-top: 20px;
    display: flex;
  }
  .productList-md .product-item .product-info .info-tp .flex-item {
    flex: 1;
  }
  .productList-md .product-item .product-info .info-tp .flex-item > p {
    font-size: 18px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .flex-item > span {
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .color-item {
    display: flex;
  }
  .productList-md .product-item .product-info .info-tp .color-item .color {
    flex: 1;
    font-size: 18px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .color-item .colorI-wrap {
    flex: 1;
  }
  .productList-md .product-item .product-info .info-tp .color-item .colorI-wrap .colorI {
    width: 22px;
    height: 22px;
    background-color: #01b0f1;
    display: block;
    margin-top: 5px;
    border-radius: 22px;
  }
  .productList-md .product-item .product-info .info-btm {
    margin-top: 30px;
    display: flex;
  }
  .productList-md .product-item .product-info .info-btm p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .productList-md .product-item .product-info .info-btm .info-title {
    width: 220px;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
    overflow: hidden;
  }
  .productList-md .product-item .product-info .info-btm .info-detail {
    flex: 1;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
    overflow: hidden;
  }
  .productList-md .product-item .product-buy {
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 30px;
    padding-right: 30px;
  }
  .productList-md .product-item .product-buy .counter {
    float: right;
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #b5b5b5;
    text-align: center;
  }
  .productList-md .product-item .product-buy .counter > button {
    padding: 0;
    border: none;
  }
  .productList-md .product-item .product-buy .counter .counter-reduce {
    flex: 1;
    font-size: 28px;
    line-height: 40px;
    background-color: #eaeaea;
    color: #666666;
  }
  .productList-md .product-item .product-buy .counter .counter-num {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
  }
  .productList-md .product-item .product-buy .counter .counter-add {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    background-color: #2f87c4;
    color: #ffffff;
  }
  .productList-md .product-item .product-buy .cart-btn > button {
    margin-top: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #2f87c4;
    padding: 15px 10px 40px;
    width: 100%;
  }
  .productList-md .product-item .product-buy .cart-btn > button > img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
  .productList-md .product-item .product-buy .cart-btn > button > span {
    font-size: 18px;
    color: #2f87c4;
  }
  .productList-md .product-item:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.18);
  }
  .productList-table-page .productList-table-page-content {
    padding: 20px 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num {
    padding: 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num select {
    display: inline-block;
    width: 50%;
    height: 24px;
    border-radius: 0;
    padding: 2px 6px;
    margin-top: 6px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages {
    padding-right: 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .width15 {
    width: 24px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .width25 {
    width: 25%;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    padding-top: 2px;
    border-style: none;
    background: #fff;
    border: 1px solid #999;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages input {
    width: 100%;
    height: 24px;
    padding: 4px;
    line-height: 24px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .productList-sm {
    display: none;
  }
  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators {
    bottom: -1rem;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators li {
    background: #fff;
    width: .6rem;
    height: .6rem;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators .active {
    width: 1.2rem;
    height: .6rem;
    border-radius: 6px;
  }
  .productList-sm {
    padding-top: 1.2rem;
    background-color: #f5f5f5;
  }
  .productList-sm .product-item {
    padding: 2rem 1rem;
    background-color: #fff;
    margin-bottom: 1.2rem;
  }
  .productList-sm .product-item .flex {
    display: flex;
  }
  .productList-sm .product-item .flex .flex-item {
    flex: 1;
  }
  .productList-sm .product-item .item-tp .product-img > img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .productList-sm .product-item .item-md {
    margin-top: 1rem;
  }
  .productList-sm .product-item .product-info {
    margin-top: 1.5rem;
  }
  .productList-sm .product-item .product-info .info-title {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #666666;
  }
  .productList-sm .product-item .product-info .info-detail {
    color: #656665;
    font-size: 1.4rem;
  }
  .productList-sm .product-item .product-btm {
    display: flex;
    margin-top: 1.5rem;
  }
  .productList-sm .product-item .product-btm .cart-btn {
    flex: 1;
  }
  .productList-sm .product-item .product-btm .cart-btn > button {
    height: 4.5rem;
    background-color: #ffffff;
    border-radius: .02rem;
    border: solid 1px #2f87c4;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  .productList-sm .product-item .product-btm .cart-btn > button > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .2rem;
  }
  .productList-sm .product-item .product-btm .cart-btn > button > span {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #2f87c4;
  }
  .productList-sm .product-item .product-btm .counter {
    margin-left: 1rem;
    display: flex;
    width: 14rem;
    height: 4.5rem;
    background-color: #ffffff;
    border-radius: .02rem;
    border: solid 1px #b5b5b5;
    text-align: center;
  }
  .productList-sm .product-item .product-btm .counter > div {
    flex: 1;
  }
  .productList-sm .product-item .product-btm .counter .counter-reduce {
    font-size: 2.8rem;
    line-height: 4.5rem;
    background-color: #eaeaea;
    color: #666666;
  }
  .productList-sm .product-item .product-btm .counter .counter-num {
    font-size: 2.4rem;
    line-height: 4.5rem;
    color: #333333;
  }
  .productList-sm .product-item .product-btm .counter .counter-add {
    font-size: 2.4rem;
    line-height: 4.5rem;
    background-color: #2f87c4;
    color: #ffffff;
  }
  .productList-sm .product-item .info-item > p {
    margin: 0 0 .5rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #666666;
  }
  .productList-sm .product-item .info-item .colorI {
    width: 1.1rem;
    height: 1.1rem;
    background-color: #01b0f1;
    display: block;
    border-radius: 1.1rem;
  }
  .productList-sm .product-item:last-child {
    margin-bottom: 0;
  }
  .productList-content {
    margin: 0;
  }
  .filter-mobile .filter-mobile-title {
    border-bottom: 1px solid #e5e5e5;
  }
  .filter-mobile .filter-mobile-title h3 {
    line-height: 5rem;
    text-align: center;
    color: #333;
    background: #fff;
    font-size: 1.8rem;
    margin: 0;
  }
  .filter-mobile .filter-mobile-title h3 span {
    font-size: 1.4rem;
  }
  .filter-mobile .filter-mobile-content {
    display: none;
    padding: 2rem;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search {
    position: relative;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search .input-group {
    width: 100%;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search .searcn-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #666;
    z-index: 1111;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search input {
    padding-left: 3rem;
    font-size: 1rem;
    width: 100%;
  }
}
