html {
  font-family: CiscoSans, Arial, sans-serif;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans, Arial, sans-serif;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .subscriptionCenter-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel {
    height: 280px;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel img {
    width: 100%;
    height: 280px;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators {
    left: 90%;
    bottom: 10px;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators li {
    background: #fff;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators .active {
    width: 24px;
    height: 12px;
    border-radius: 6px;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .productList-content {
    max-width: 1280px;
    margin: 50px auto;
  }
  .productList-content .productList-content-header {
    border-bottom: 1px solid #e5e5e5;
  }
  .productList-content .productList-content-header h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
  .productList-content .productList-content-header .productList-content-header-search {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
  }
  .productList-content .productList-content-header .productList-content-header-search .nopaddingleft {
    padding-left: 0;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right .searcn-icon {
    position: absolute;
    top: 10px;
    left: 25px;
    color: #666;
    z-index: 1111;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right .productList-content-header-search-right input {
    padding-left: 30px;
  }
  .productList-content .productList-content-header .productList-content-header-search .productList-content-header-search-right button {
    background: #2f88c4;
    color: #fff;
    width: 100px;
  }
  .productList-content .productList-content-select-style {
    height: 100px;
    line-height: 100px;
  }
  .productList-content .productList-content-select-style .nopadding {
    padding: 0;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-left span {
    font-size: 18px;
    color: #666666;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon:hover {
    cursor: pointer;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 2px #cdcdcd;
    vertical-align: middle;
    font-size: 24px;
    color: #666;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon span:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -13px;
  }
  .productList-content .productList-content-select-style .productList-content-select-style-content .productList-content-select-style-content-icon .active {
    color: #fff;
    background: #2f87c4;
    border: none;
  }
  .subscriptionCenter-list {
    max-width: 1280px;
    margin: 50px auto;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 60px;
    position: relative;
  }
  .subscriptionCenter-list .subscriptionCenter-list-title h4 {
    font-size: 30px;
    font-weight: normal;
    color: #333333;
    margin: 40px 0;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content {
    transition: 2s;
    height: 350px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box {
    padding: 0;
    margin-bottom: 40px;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-wrap {
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border: solid 1px #e5e5e5;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-left {
    height: 325px;
    padding: 0;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-left img {
    width: 100%;
    height: auto;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-title {
    padding-top: 35px;
    padding-bottom: 22px;
    border-bottom: solid 1px #e5e5e5;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-title h4 {
    font-size: 26px;
    letter-spacing: 0px;
    color: #333333;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-title p {
    font-size: 16px;
    color: #595959;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-content h4 {
    font-size: 16px;
    font-weight: normal;
    color: #595959;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-content h4 i {
    display: inline-block;
    width: 24px;
    height: 32px;
    background: url('../images/subscriptionCenter/pdf-bg.png') no-repeat 0 0;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 20px;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-content p {
    font-size: 12px;
    color: #8c8c8c;
    margin-bottom: 20px;
  }
  .subscriptionCenter-list .subscriptionCenter-list-content .subscriptionCenter-list-content-box .subscriptionCenter-list-content-box-right .subscriptionCenter-list-content-box-right-content .newslist-btn {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
  }
  .subscriptionCenter-list .show-all-box {
    height: auto;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button {
    width: 80px;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -25px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
  }
  .subscriptionCenter-list .subscriptionCenter-list-button button span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .productList-md .product-item {
    display: flex;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    margin-bottom: 20px;
  }
  .productList-md .product-item .product-img {
    padding: 50px 0;
    margin: 50px 0;
    flex: 1;
    border-right: 1px solid #e5e5e5;
  }
  .productList-md .product-item .product-img > img {
    margin: 0 auto;
    display: block;
    width: 85px;
    height: 85px;
  }
  .productList-md .product-item .product-info {
    flex: 3;
    padding-left: 30px;
    padding-right: 30px;
  }
  .productList-md .product-item .product-info .info-tp {
    margin-top: 20px;
    display: flex;
  }
  .productList-md .product-item .product-info .info-tp .flex-item {
    flex: 1;
  }
  .productList-md .product-item .product-info .info-tp .flex-item > p {
    font-size: 18px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .flex-item > span {
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .color-item {
    display: flex;
  }
  .productList-md .product-item .product-info .info-tp .color-item .color {
    flex: 1;
    font-size: 18px;
    line-height: 36px;
    color: #666666;
  }
  .productList-md .product-item .product-info .info-tp .color-item .colorI-wrap {
    flex: 1;
  }
  .productList-md .product-item .product-info .info-tp .color-item .colorI-wrap .colorI {
    width: 22px;
    height: 22px;
    background-color: #01b0f1;
    display: block;
    margin-top: 5px;
    border-radius: 22px;
  }
  .productList-md .product-item .product-info .info-btm {
    margin-top: 30px;
    display: flex;
  }
  .productList-md .product-item .product-info .info-btm p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .productList-md .product-item .product-info .info-btm .info-title {
    width: 220px;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
    overflow: hidden;
  }
  .productList-md .product-item .product-info .info-btm .info-detail {
    flex: 1;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
    overflow: hidden;
  }
  .productList-md .product-item .product-buy {
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 30px;
    padding-right: 30px;
  }
  .productList-md .product-item .product-buy .counter {
    float: right;
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #b5b5b5;
    text-align: center;
  }
  .productList-md .product-item .product-buy .counter > button {
    padding: 0;
    border: none;
  }
  .productList-md .product-item .product-buy .counter .counter-reduce {
    flex: 1;
    font-size: 28px;
    line-height: 40px;
    background-color: #eaeaea;
    color: #666666;
  }
  .productList-md .product-item .product-buy .counter .counter-num {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
  }
  .productList-md .product-item .product-buy .counter .counter-add {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    background-color: #2f87c4;
    color: #ffffff;
  }
  .productList-md .product-item .product-buy .cart-btn > button {
    margin-top: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #2f87c4;
    padding: 15px 10px 40px;
    width: 100%;
  }
  .productList-md .product-item .product-buy .cart-btn > button > img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
  .productList-md .product-item .product-buy .cart-btn > button > span {
    font-size: 18px;
    color: #2f87c4;
  }
  .productList-md .product-item:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.18);
  }
  .productList-table-page .productList-table-page-content {
    padding: 20px 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num {
    padding: 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-num select {
    display: inline-block;
    width: 50%;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages {
    padding: 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .width15 {
    width: 24px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .width25 {
    width: 25%;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages input {
    width: 100%;
    height: 24px;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .productList-table-page .productList-table-page-content .productList-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .productList-sm {
    display: none;
  }
  .subscriptionCenter-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .subscriptionCenter-navbar {
    height: 50px;
  }
  .subscriptionCenter-footer {
    height: 449px;
    background: #f5f5f5;
  }
  .subscriptionCenter-tabBar {
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .subscriptionCenter-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .subscriptionCenter-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .subscriptionCenter-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators {
    bottom: -1rem;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators li {
    background: #fff;
    width: .6rem;
    height: .6rem;
  }
  .subscriptionCenter-banner #myCarousel .carousel-indicators .active {
    width: 1.2rem;
    height: .6rem;
    border-radius: 6px;
  }
  .productList-sm {
    padding-top: 1.2rem;
    background-color: #f5f5f5;
  }
  .productList-sm .product-item {
    padding: 2rem 1rem;
    background-color: #fff;
    margin-bottom: 1.2rem;
  }
  .productList-sm .product-item .flex {
    display: flex;
  }
  .productList-sm .product-item .flex .flex-item {
    flex: 1;
  }
  .productList-sm .product-item .item-tp .product-img > img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .productList-sm .product-item .item-md {
    margin-top: 1rem;
  }
  .productList-sm .product-item .product-info {
    margin-top: 1.5rem;
  }
  .productList-sm .product-item .product-info .info-title {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #666666;
  }
  .productList-sm .product-item .product-info .info-detail {
    color: #656665;
    font-size: 1.4rem;
  }
  .productList-sm .product-item .product-btm {
    display: flex;
    margin-top: 1.5rem;
  }
  .productList-sm .product-item .product-btm .cart-btn {
    flex: 1;
  }
  .productList-sm .product-item .product-btm .cart-btn > button {
    height: 4.5rem;
    background-color: #ffffff;
    border-radius: .02rem;
    border: solid 1px #2f87c4;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  .productList-sm .product-item .product-btm .cart-btn > button > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .2rem;
  }
  .productList-sm .product-item .product-btm .cart-btn > button > span {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #2f87c4;
  }
  .productList-sm .product-item .product-btm .counter {
    margin-left: 1rem;
    display: flex;
    width: 14rem;
    height: 4.5rem;
    background-color: #ffffff;
    border-radius: .02rem;
    border: solid 1px #b5b5b5;
    text-align: center;
  }
  .productList-sm .product-item .product-btm .counter > div {
    flex: 1;
  }
  .productList-sm .product-item .product-btm .counter .counter-reduce {
    font-size: 2.8rem;
    line-height: 4.5rem;
    background-color: #eaeaea;
    color: #666666;
  }
  .productList-sm .product-item .product-btm .counter .counter-num {
    font-size: 2.4rem;
    line-height: 4.5rem;
    color: #333333;
  }
  .productList-sm .product-item .product-btm .counter .counter-add {
    font-size: 2.4rem;
    line-height: 4.5rem;
    background-color: #2f87c4;
    color: #ffffff;
  }
  .productList-sm .product-item .info-item > p {
    margin: 0 0 .5rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #666666;
  }
  .productList-sm .product-item .info-item .colorI {
    width: 1.1rem;
    height: 1.1rem;
    background-color: #01b0f1;
    display: block;
    border-radius: 1.1rem;
  }
  .productList-sm .product-item:last-child {
    margin-bottom: 0;
  }
  .productList-content {
    margin: 0;
  }
  .filter-mobile .filter-mobile-title {
    border-bottom: 1px solid #e5e5e5;
  }
  .filter-mobile .filter-mobile-title h3 {
    line-height: 5rem;
    text-align: center;
    color: #333;
    background: #fff;
    font-size: 1.8rem;
    margin: 0;
  }
  .filter-mobile .filter-mobile-title h3 span {
    font-size: 1.4rem;
  }
  .filter-mobile .filter-mobile-content {
    display: none;
    padding: 2rem;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search {
    position: relative;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search .input-group {
    width: 100%;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search .searcn-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #666;
    z-index: 1111;
  }
  .filter-mobile .filter-mobile-content .filter-mobile-content-list-search input {
    padding-left: 3rem;
    font-size: 1rem;
    width: 100%;
  }
}
