html {
  font-family: CiscoSans, Arial, sans-serif;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans, Arial, sans-serif;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .search-result-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .nothing-banner-img {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/searchResult/banner.png);
    text-align: center;
    line-height: 280px;
  }
  .nothing-banner-img input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
  }
  .nothing-banner-img .glyphicon {
    background-color: #FFF;
    padding: 8px;
    font-size: 20px;
    border: none;
    margin-left: -60px;
    color: #737373;
  }
  .nothing-btn-list {
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid #dcdcdc;
  }
  .nothing-btn-list .btn-wrap {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 70px;
  }
  .nothing-btn-list .btn-wrap .dropdown {
    display: none;
  }
  .nothing-btn-list .btn-wrap > .btn {
    display: inline-block;
    margin-left: 20px;
    border-radius: 3px;
    border: solid 1px #2f88c4;
    color: #2f87c4;
  }
  .nothing-btn-list .btn-wrap > .btn.btn-active {
    background-color: #2f87c4;
    border: solid 1px #2f88c4;
    color: #fff;
  }
  .results-found {
    font-size: 16px;
    color: #999999;
    padding: 16px 0 26px 0;
  }
  .found-list {
    margin-top: 26px;
  }
  .found-list .found {
    border: solid 1px #e5e5e5;
    margin-bottom: 10px;
  }
  .found-list .found .found-top {
    color: #2f88c4;
    font-size: 18px;
    margin-top: 27px;
    margin-left: 30px;
  }
  .found-list .found .found-mid {
    font-size: 16px;
    margin-top: 19px;
    margin-left: 30px;
  }
  .found-list .found .found-mid span:first-child {
    margin-right: 30px;
    color: #666666;
  }
  .found-list .found .found-mid span:last-child {
    color: #999999;
  }
  .found-list .found .found-bottom {
    color: #999999;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 30px;
  }
  .found-list .found-item {
    margin-bottom: 30px;
  }
  .found-list .found-item .found-top-item {
    color: #333333;
    font-size: 18px;
    margin-top: 27px;
    margin-left: 30px;
  }
  .found-list .found-item .found-mid-item {
    font-size: 16px;
    margin-top: 19px;
    margin-left: 30px;
  }
  .found-list .found-item .found-mid-item span:first-child {
    margin-right: 30px;
    color: #666666;
  }
  .found-list .found-item .found-mid-item span:last-child {
    color: #999999;
  }
  .found-list .found-item .found-bottom-item {
    color: #999999;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 30px;
  }
  .found-list .found-item-list {
    margin-bottom: 30px;
    display: flex;
    margin-left: 20px;
  }
  .found-list .found-item-list .found-top-item-list {
    margin: auto 10px;
    width: 120px;
    text-align: center;
  }
  .found-list .found-item-list .found-mid-item-list {
    margin: auto 30px;
  }
  .found-list .found-item-list .found-mid-item-list .list-top {
    margin-right: 30px;
    color: #333333;
    font-size: 18px;
  }
  .found-list .found-item-list .found-mid-item-list .list-bottom {
    color: #666666;
    font-size: 16px;
    margin-top: 10px;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content {
    padding: 20px 0;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num {
    padding: 0;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num span {
    font-size: 14px;
    color: #666666;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-num select {
    display: inline-block;
    width: 50%;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages {
    padding: 0;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .nopadding {
    padding: 0;
    padding-top: 5px;
    margin-left: 2px;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width15 {
    width: 24px;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .width25 {
    width: 25%;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages input {
    width: 100%;
    height: 24px;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-pages .showpages span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
  }
  .firmwareUpgrades-content-left-form-table-page .firmwareUpgrades-content-left-form-table-page-content .firmwareUpgrades-content-left-form-table-page-content-count {
    padding-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  .search-result-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .search-result-navbar {
    height: 5rem;
  }
  .nothing-banner-img {
    width: 100%;
    height: 14rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/searchResult/banner.png);
    text-align: center;
    line-height: 14rem;
  }
  .nothing-banner-img input {
    height: 3rem;
    font-size: 1rem;
    width: 100%;
    padding-left: 2rem;
  }
  .nothing-banner-img .glyphicon {
    background-color: #FFF;
    padding: .8rem;
    font-size: 2rem;
    border: none;
    margin-left: -4rem;
    color: #737373;
  }
  .nothing-btn-list {
    margin: 0 auto;
    height: 7rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .nothing-btn-list .btn-wrap {
    margin: 0 auto;
    line-height: 7rem;
  }
  .nothing-btn-list .btn-wrap > .btn {
    display: none;
  }
  .nothing-btn-list .btn-wrap .dropdown {
    margin-left: 1rem;
  }
  .nothing-btn-list .btn-wrap .dropdown > .btn {
    background-color: #2f87c4;
    border-radius: .4rem;
    border: solid 1px #2f88c4;
    height: 3rem;
    color: #fff;
  }
  .nothing-btn-list .btn-wrap .dropdown .dropdown-menu {
    top: 5rem;
    left: 1rem;
  }
  .found-list {
    margin-top: 3rem;
  }
  .found-list .found,
  .found-list .found-item {
    border: solid 1px #e5e5e5;
    margin-bottom: 1rem;
  }
  .found-list .found .found-top,
  .found-list .found-item .found-top,
  .found-list .found .found-top-item,
  .found-list .found-item .found-top-item {
    color: #262626;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .found-list .found .found-mid,
  .found-list .found-item .found-mid,
  .found-list .found .found-mid-item,
  .found-list .found-item .found-mid-item {
    color: #595959;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .found-list .found .found-mid span:first-child,
  .found-list .found-item .found-mid span:first-child,
  .found-list .found .found-mid-item span:first-child,
  .found-list .found-item .found-mid-item span:first-child {
    margin-right: 2rem;
  }
  .found-list .found .found-mid span:last-child,
  .found-list .found-item .found-mid span:last-child,
  .found-list .found .found-mid-item span:last-child,
  .found-list .found-item .found-mid-item span:last-child {
    color: #8c8c8c;
  }
  .found-list .found .found-bottom,
  .found-list .found-item .found-bottom,
  .found-list .found .found-bottom-item,
  .found-list .found-item .found-bottom-item {
    color: #8c8c8c;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .found-list .found-item-list {
    margin-bottom: 1rem;
    display: flex;
    border: solid 1px #e5e5e5;
  }
  .found-list .found-item-list .found-top-item-list {
    margin: auto 1rem;
    width: 6rem;
    text-align: center;
  }
  .found-list .found-item-list .found-top-item-list img {
    width: 6rem;
    margin: 1rem 0;
  }
  .found-list .found-item-list .found-top-item-list .found-img img {
    width: 3rem;
  }
  .found-list .found-item-list .found-mid-item-list {
    margin: auto 0;
  }
  .found-list .found-item-list .found-mid-item-list .list-top {
    color: #262626;
    font-size: 1rem;
  }
  .found-list .found-item-list .found-mid-item-list .list-bottom {
    color: #595959;
    font-size: 1rem;
  }
  .found-list .found-btn .btn {
    width: 100%;
    font-size: 2rem;
    color: #999999;
    margin: 3rem 0;
  }
  .search-result-footer {
    height: 44.9rem;
    background: #f5f5f5;
  }
}
