html {
  font-family: CiscoSans, Arial, sans-serif;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .video-center-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .video-center-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .video-center-tabBar {
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .video-center-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .video-center-panel {
    max-width: 1280px;
    margin: 50px auto;
  }
  .video-center-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .video-center-navbar {
    height: 50px;
  }
  .video-center-banner {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .video-center-tabBar {
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .video-center-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .video-center-footer {
    height: 449px;
    background: #f5f5f5;
  }
}
