html {
  font-family: CiscoSans;
}
body {
  background: #f2f2f2;
  color: #333333;
  min-width: 320px;
  font-family: CiscoSans;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.content-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.family-normal {
  font-family: CiscoSans;
}
.family-light {
  font-family: CiscoSans-ExtraLight;
}
.family-bold {
  font-family: CiscoSans-Bold;
}
.no-padding {
  padding: 0;
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1600px;
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background: #ffffff;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .video-center-navbar {
    height: 110px;
    background: #f5f5f5;
  }
  .video-center-banner {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .video-center-tabBar {
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default {
    padding: 0 240px;
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .active a {
    font-size: 20px;
    color: #fff;
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav a {
    font-size: 16px;
    color: #a4c7de;
    height: 70px;
    line-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .video-center-panel {
    max-width: 1280px;
    margin: 50px auto;
  }
  .video-center-panel .video-item {
    margin-bottom: 1.5rem;
  }
  .video-center-panel .video-item .img-txt {
    padding-left: 1.5rem;
  }
  .video-center-panel .video-item .txt-title {
    padding: 0;
    margin: 0;
    font-size: 2.4rem;
    color: #2f88c4;
  }
  .video-center-panel .video-item .txt-detail {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    color: #8c8c8c;
  }
  .video-center-panel .loading-btn {
    font-size: 1.6rem;
    color: #8c8c8c;
  }
  .video-center-panel .subscribe-form,
  .video-center-panel .support-form {
    margin-bottom: 1.5rem;
    border: 1px solid #E4E4E4;
    padding: 1rem;
  }
  .video-center-panel .subscribe-form .form-group,
  .video-center-panel .support-form .form-group {
    margin-bottom: 1rem;
  }
  .video-center-panel .subscribe-form label,
  .video-center-panel .support-form label {
    padding: 0;
    text-align: right;
  }
  .video-center-panel .subscribe-form .title,
  .video-center-panel .support-form .title {
    padding-left: .5rem;
    border-left: .3rem solid #2f88c4;
    position: relative;
    font-size: 2rem;
  }
  .video-center-panel .subscribe-form .title:after,
  .video-center-panel .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  }
  .video-center-panel .subscribe-form .tips,
  .video-center-panel .support-form .tips {
    margin: 35px 0;
    font-size: 1.6rem;
    color: #8c8c8c;
  }
  .video-center-footer {
    height: 777px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  .video-center-navbar {
    height: 5rem;
  }
  .video-center-banner {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .video-center-tabBar {
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default {
    background: #2f88c4;
    border: none;
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .active a {
    color: #fff;
    background: #2f88c4;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav a {
    color: #a4c7de;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown {
    text-align: center;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
    background: #2f88c4;
    font-size: 1.8rem;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-toggle span {
    font-size: 1.4rem;
  }
  .video-center-tabBar nav.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
  }
  .video-center-tabBar nav.navbar-default .container-fluid {
    background: #2f88c4;
  }
  .video-center-panel {
    padding: 1.5rem;
  }
  .video-center-panel .row {
    padding: 0;
    margin: 0;
  }
  .video-center-panel .row div {
    padding: 0;
    margin: 0;
  }
  .video-center-panel .row .video-item {
    margin-bottom: 1.5rem;
  }
  .video-center-panel .row .video-item .img-txt {
    padding-left: 1.5rem;
  }
  .video-center-panel .row .video-item .txt-title {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: #404040;
  }
  .video-center-panel .row .video-item .txt-detail {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: #808080;
  }
  .video-center-panel .row .btn-primary.btn-block {
    font-size: 1.5rem;
    color: #999;
  }
  .video-center-panel .row .subscribe-form,
  .video-center-panel .row .support-form {
    margin-bottom: 1.5rem;
    border: 1px solid #E4E4E4;
    padding: 1rem;
  }
  .video-center-panel .row .subscribe-form .form-group,
  .video-center-panel .row .support-form .form-group {
    margin-bottom: 1rem;
  }
  .video-center-panel .row .subscribe-form label,
  .video-center-panel .row .support-form label {
    padding: 0;
    text-align: center;
  }
  .video-center-panel .row .subscribe-form .title,
  .video-center-panel .row .support-form .title {
    padding-left: .5rem;
    border-left: .3rem solid #86af49;
    position: relative;
  }
  .video-center-panel .row .subscribe-form .title:after,
  .video-center-panel .row .support-form .title:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #E4E4E4;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  }
  .video-center-panel .row .subscribe-form .tips,
  .video-center-panel .row .support-form .tips {
    font-size: 1.2rem;
    color: #8c8c8c;
  }
  .video-center-footer {
    height: 449px;
    background: #f5f5f5;
  }
}
